In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
toby= pd.read_csv('tobisuccessfulvendors.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (132,161) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
febpay= pd.read_csv('febpaystack.csv')

In [48]:
bayora = pd.read_csv('testrealcod.csv',encoding='latin-1')

In [5]:
febpay

,Status,Id,Reference,Channel,Created At,Currency,Amount,Fees,Amount Due,Customer Email,Card Type,Bank
0,success,183492816,1559126258026,card,"May 29th, 2019 10:37:39 AM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank
1,success,183494537,trx_wwlexe35,card,"May 29th, 2019 10:43:24 AM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank
2,success,183496122,trx_f45oifx7,card,"May 29th, 2019 10:48:17 AM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank
3,success,183547349,trx_1xvlov89,card,"May 29th, 2019 12:41:41 PM",NGN,50.0,0.75,49.25,in@yopmail.com,visa DEBIT,Zenith Bank
4,success,183548463,trx_pj2c117k,card,"May 29th, 2019 12:45:16 PM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank
...,...,...,...,...,...,...,...,...,...,...,...,...
29524,success,996908958,jr162r8gb56j1ar,card,"Feb 11th, 2021 01:49:34 PM",NGN,3500.0,152.50,3347.50,kardsadams@gmail.com,mastercard DEBIT,Polaris Bank
29525,success,996909058,xxw8gt1tcbxk3hm,card,"Feb 11th, 2021 01:49:40 PM",NGN,1200.0,18.00,1182.00,eniolamiamiahair@gmail.com,mastercard DEBIT,Guaranty Trust Bank
29526,success,996910186,uzr7b8vjlrmwnv6,card,"Feb 11th, 2021 01:50:47 PM",NGN,1400.0,21.00,1379.00,ask4kunle@gmail.com,mastercard DEBIT,Guaranty Trust Bank
29527,success,996929538,01tgmfkosb10ltq,card,"Feb 11th, 2021 02:11:05 PM",NGN,800.0,12.00,788.00,dazzlejewellery.accessories@gmail.com,mastercard DEBIT,Guaranty Trust Bank
29528,success,996937172,xdd89f4683wdlt9,card,"Feb 11th, 2021 02:18:45 PM",NGN,1400.0,21.00,1379.00,johnizekor@gmail.com,mastercard DEBIT,Guaranty Trust Bank

In [53]:
cod['authentic_phone_no'] = cod['authentic_phone_no'].str[1:]

In [54]:
cod

       vendor_id  customer_id authentic_phone_no  freshsales_contact_id
0              1          1.0       919999999999           5.004481e+09
1              2          2.0        18768768765           5.004481e+09
2              5          5.0       918080808080           5.004482e+09
3              7          7.0       918768768768                    NaN
4             11         12.0      2349870369870           5.004530e+09
...          ...          ...                ...                    ...
34341      34681      45152.0      2349056040246           5.007644e+09
34342      34682      45153.0      2348164019691           5.007644e+09
34343      34683      45156.0      2348065231715           5.007644e+09
34344      34684      45157.0      2347025087889           5.007644e+09
34345      34685      45165.0      2347089025790           5.007644e+09

[34346 rows x 4 columns]

In [5]:
tobi = pd.DataFrame(toby)

In [6]:
tobi

,vendor_id,is_created_by_admin,description,user_id,access_token,password,password_reset_token,is_blocked,latitude,longitude,...,vehicle_id,delivery_instruction,loaders_amount,delivery_images,is_paid,loaders_count,sareaId,cashback,card_type,reason_type
0,22938,1,Regulatory,1,d8f6f28fc1370d53c51f5a6ded6507f4,e10adc3949ba59abbe56e057f20f883e,NaN,0,0.0,0.0,...,1,NaN,0.0,NaN,0,0,0,0.0,0,0
1,22938,1,Regulatory,1,d8f6f28fc1370d53c51f5a6ded6507f4,e10adc3949ba59abbe56e057f20f883e,NaN,0,0.0,0.0,...,1,NaN,0.0,NaN,0,0,0,0.0,0,0
2,22938,1,Regulatory,1,d8f6f28fc1370d53c51f5a6ded6507f4,e10adc3949ba59abbe56e057f20f883e,NaN,0,0.0,0.0,...,1,NaN,0.0,NaN,0,0,1,0.0,0,0
3,22938,1,Regulatory,1,d8f6f28fc1370d53c51f5a6ded6507f4,e10adc3949ba59abbe56e057f20f883e,NaN,0,0.0,0.0,...,1,NaN,0.0,NaN,0,0,1,0.0,0,0
4,22938,1,Regulatory,1,d8f6f28fc1370d53c51f5a6ded6507f4,e10adc3949ba59abbe56e057f20f883e,NaN,0,0.0,0.0,...,1,NaN,0.0,NaN,0,0,1,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4914,36535,1,NaN,1,a2d0714828d7c092f0d857482f8928c4,e10adc3949ba59abbe56e057f20f883e,NaN,0,0.0,0.0,...,1,NaN,0.0,NaN,0,0,0,0.0,0,0
4915,36535,1,NaN,1,a2d0714828d7c092f0d857482f8928c4,e10adc3949ba59abbe56e057f20f883e,NaN,0,0.0,0.0,...,1,NaN,0.0,NaN,0,0,0,0.0,0,0
4916,36535,1,NaN,1,a2d0714828d7c092f0d857482f8928c4,e10adc3949ba59abbe56e057f20f883e,NaN,0,0.0,0.0,...,1,NaN,0.0,NaN,0,0,0,0.0,0,0
4917,36535,1,NaN,1,a2d0714828d7c092f0d857482f8928c4,e10adc3949ba59abbe56e057f20f883e,NaN,0,0.0,0.0,...,1,NaN,0.0,NaN,0,0,0,0.0,0,0
4918,36535,1,NaN,1,a2d0714828d7c092f0d857482f8928c4,e10adc3949ba59abbe56e057f20f883e,NaN,0,0.0,0.0,...,1,NaN,0.0,NaN,0,0,0,0.0,0,0

In [7]:
tobijan = tobi[(tobi['job_date'] > '2020-12-31') & (tobi['job_date'] < '2021-02-01')]

In [8]:
tobifeb = tobi[(tobi['job_date'] > '2021-01-31') & (tobi['job_date'] < '2021-03-01')]

In [9]:
tobijanfill = tobijan[["vendor_id", "total_amount", "unique_order_id","job_date"]]

In [11]:
tobifebfill = tobifeb[["vendor_id", "total_amount", "unique_order_id","job_date"]]

In [33]:
bayo

      vendor_id  total_amount unique_order_id    job_date
1         22938        1351.2     105658BW738  2021-01-15
4         22938        2971.3     108192BX945  2021-01-05
8         12307        8302.1     109235BY396  2021-01-04
10        12307        2405.3     109287BY421  2021-01-04
14         2276        1267.1     109329BY441  2021-01-01
...         ...           ...             ...         ...
2645      33404        2700.0     119498CD046  2021-01-31
2647       5712         823.1     119510CD052  2021-01-31
2649      33404        1600.0     119536CD065  2021-01-31
2651       5712         822.2     119538CD066  2021-01-31
2653       5712         781.5     119556CD075  2021-01-31

[777 rows x 4 columns]

In [48]:
pley = bayor.groupby('vendor_id')['total_amount'].sum()

In [29]:
bee = bayo.groupby(['vendor_id', 'total_amount']).sum()

In [49]:
pley

vendor_id
587        9900.0
621        9074.1
2276     222532.2
2303      31758.1
2474      11623.6
           ...
35549      2200.0
35557      1100.0
35563      6900.0
36080      1700.0
36535      9165.6
Name: total_amount, Length: 61, dtype: float64

In [34]:
player = pd.DataFrame(play)

In [53]:
pley.to_csv('febcorpamount.csv', index = False)

In [54]:
bee.to_csv('febcorporder.csv', index = False)

In [39]:
playoo =player.reset_index()

In [40]:
playoo

    vendor_id  total_amount
0         587       22200.0
1         621        3805.3
2        1504        2100.0
3        2067        2000.0
4        2276      384855.7
5        2303       25178.9
6        4337       18458.7
7        4396       46628.2
8        5190       18176.5
9        5712       50878.4
10       9262        3433.6
11       9264        2193.4
12       9268        1519.4
13       9276        7336.1
14       9286        2283.1
15       9482        1100.0
16       9500       11429.5
17      11553           0.0
18      12046           0.0
19      12307      459309.5
20      12740        5400.0
21      14719        6400.0
22      14905       12100.0
23      15676        8400.0
24      15797        2724.7
25      22345      234612.1
26      22936        2519.7
27      22938      185362.6
28      23681       13404.2
29      23743        5176.5
30      23862       44118.3
31      25607       11700.0
32      26552        6000.0
33      26640       61863.1
34      26641       19734.3
35      27169        4297.9
36      27362         700.0
37      27365         900.0
38      33364       13400.0
39      33365        7400.0
40      33369        1600.0
41      33372       16700.0
42      33374       10700.0
43      33404       19600.0
44      33405        8500.0
45      33406        1400.0
46      33416        9900.0
47      33436        1000.0
48      33439        2900.0
49      33910       15700.0

In [ ]:
vey = tobijanfill.groupby(['vendor_id']).sum()

In [23]:
vee = tobijanfill.groupby(['unique_order_id']).count()

In [46]:
bayor = tobifebfill.sort_values('unique_order_id').drop_duplicates(subset=['vendor_id', 'total_amount'], keep='last')

In [47]:
bayor

      vendor_id  total_amount unique_order_id    job_date
2596       2303        1536.9     119063CC838  2021-02-01
2655      33207        1700.0     119654CD121  2021-02-01
2657       2276        1752.6     119656CD122  2021-02-01
2661      22345        3296.3     119666CD127  2021-02-01
2665      22938        1991.1     119670CD128  2021-02-01
...         ...           ...             ...         ...
4908      36535        1000.0     130366CI122  2021-02-28
4912      36535        1197.2     130402CI140  2021-02-28
4914      36535        1200.0     130404CI141  2021-02-28
4916      36535         900.0     130408CI143  2021-02-28
4918      36535        1300.0     130416CI147  2021-02-28

[742 rows x 4 columns]

In [50]:
baz = bayor.groupby(['vendor_id']).count()

In [51]:
bee = baz.reset_index()

In [52]:
bee

    vendor_id  total_amount  unique_order_id  job_date
0         587             7                7         7
1         621             4                4         4
2        2276           135              135       135
3        2303            15               15        15
4        2474             4                4         4
..        ...           ...              ...       ...
56      35549             1                1         1
57      35557             1                1         1
58      35563             4                4         4
59      36080             1                1         1
60      36535             9                9         9

[61 rows x 4 columns]

In [10]:
tobijanfill

      vendor_id  total_amount unique_order_id    job_date
0         22938        1351.2     105658BW738  2021-01-15
1         22938        1351.2     105658BW738  2021-01-15
2         22938        2971.3     108192BX945  2021-01-05
3         22938        2971.3     108192BX945  2021-01-05
4         22938        2971.3     108192BX945  2021-01-05
...         ...           ...             ...         ...
2649      33404        1600.0     119536CD065  2021-01-31
2650       5712         822.2     119538CD066  2021-01-31
2651       5712         822.2     119538CD066  2021-01-31
2652       5712         781.5     119556CD075  2021-01-31
2653       5712         781.5     119556CD075  2021-01-31

[2652 rows x 4 columns]

In [12]:
tobifebfill

      vendor_id  total_amount unique_order_id    job_date
2595       2303        1536.9     119063CC838  2021-02-01
2596       2303        1536.9     119063CC838  2021-02-01
2654      33207        1700.0     119654CD121  2021-02-01
2655      33207        1700.0     119654CD121  2021-02-01
2656       2276        1752.6     119656CD122  2021-02-01
...         ...           ...             ...         ...
4914      36535        1200.0     130404CI141  2021-02-28
4915      36535         900.0     130408CI143  2021-02-28
4916      36535         900.0     130408CI143  2021-02-28
4917      36535        1300.0     130416CI147  2021-02-28
4918      36535        1300.0     130416CI147  2021-02-28

[2267 rows x 4 columns]

In [6]:
topbyte = pd.DataFrame(byte)

In [8]:
payfeb

,Status,Id,Reference,Channel,Created At,Currency,Amount,Fees,Amount Due,Customer Email,Card Type,Bank
0,success,183492816,1559126258026,card,"May 29th, 2019 10:37:39 AM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank
1,success,183494537,trx_wwlexe35,card,"May 29th, 2019 10:43:24 AM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank
2,success,183496122,trx_f45oifx7,card,"May 29th, 2019 10:48:17 AM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank
3,success,183547349,trx_1xvlov89,card,"May 29th, 2019 12:41:41 PM",NGN,50.0,0.75,49.25,in@yopmail.com,visa DEBIT,Zenith Bank
4,success,183548463,trx_pj2c117k,card,"May 29th, 2019 12:45:16 PM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank
...,...,...,...,...,...,...,...,...,...,...,...,...
29524,success,996908958,jr162r8gb56j1ar,card,"Feb 11th, 2021 01:49:34 PM",NGN,3500.0,152.50,3347.50,kardsadams@gmail.com,mastercard DEBIT,Polaris Bank
29525,success,996909058,xxw8gt1tcbxk3hm,card,"Feb 11th, 2021 01:49:40 PM",NGN,1200.0,18.00,1182.00,eniolamiamiahair@gmail.com,mastercard DEBIT,Guaranty Trust Bank
29526,success,996910186,uzr7b8vjlrmwnv6,card,"Feb 11th, 2021 01:50:47 PM",NGN,1400.0,21.00,1379.00,ask4kunle@gmail.com,mastercard DEBIT,Guaranty Trust Bank
29527,success,996929538,01tgmfkosb10ltq,card,"Feb 11th, 2021 02:11:05 PM",NGN,800.0,12.00,788.00,dazzlejewellery.accessories@gmail.com,mastercard DEBIT,Guaranty Trust Bank
29528,success,996937172,xdd89f4683wdlt9,card,"Feb 11th, 2021 02:18:45 PM",NGN,1400.0,21.00,1379.00,johnizekor@gmail.com,mastercard DEBIT,Guaranty Trust Bank

In [15]:
cod

       vendor_id  customer_id authentic_phone_no  freshsales_contact_id
0              1          1.0      +919999999999           5.004481e+09
1              2          2.0       +18768768765           5.004481e+09
2              5          5.0      +918080808080           5.004482e+09
3              7          7.0      +918768768768                    NaN
4             11         12.0     +2349870369870           5.004530e+09
...          ...          ...                ...                    ...
34341      34681      45152.0     +2349056040246           5.007644e+09
34342      34682      45153.0     +2348164019691           5.007644e+09
34343      34683      45156.0     +2348065231715           5.007644e+09
34344      34684      45157.0     +2347025087889           5.007644e+09
34345      34685      45165.0     +2347089025790           5.007644e+09

[34346 rows x 4 columns]

In [5]:
mast

,Status,Id,Reference,Channel,Created At,Currency,Amount,Fees,Amount Due,Customer Email,Card Type,Bank
0,success,183492816,1559126258026,card,"May 29th, 2019 10:37:39 AM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank
1,success,183494537,trx_wwlexe35,card,"May 29th, 2019 10:43:24 AM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank
2,success,183496122,trx_f45oifx7,card,"May 29th, 2019 10:48:17 AM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank
3,success,183547349,trx_1xvlov89,card,"May 29th, 2019 12:41:41 PM",NGN,50.0,0.75,49.25,in@yopmail.com,visa DEBIT,Zenith Bank
4,success,183548463,trx_pj2c117k,card,"May 29th, 2019 12:45:16 PM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank
...,...,...,...,...,...,...,...,...,...,...,...,...
28516,success,979338558,7udplxb36jgmuhd,card,"Jan 29th, 2021 08:20:16 AM",NGN,600.0,9.00,591.00,eroberths@yahoo.com,mastercard DEBIT,Guaranty Trust Bank
28517,success,979340519,trx_3m0kjt20,card,"Jan 29th, 2021 08:22:22 AM",NGN,50.0,0.75,49.25,odekuolajumoke@yahoo.com,verve DEBIT,Sterling Bank
28518,success,979341266,3fnrachqzgcgxpq,card,"Jan 29th, 2021 08:23:05 AM",NGN,2000.0,30.00,1970.00,odekuolajumoke@yahoo.com,verve DEBIT,Sterling Bank
28519,success,979343429,pxjnxj7s68oyt65,card,"Jan 29th, 2021 08:25:34 AM",NGN,1200.0,18.00,1182.00,just4feign@gmail.com,mastercard DEBIT,Guaranty Trust Bank
28520,success,979345650,ii82wg2qgs0gddr,card,"Jan 29th, 2021 08:28:15 AM",NGN,1100.0,16.50,1083.50,marchwel@yahoo.com,mastercard DEBIT,Polaris Bank

In [4]:
opeloyal = pd.DataFrame(opethirty)

In [5]:
yank

,Status,Id,Reference,Channel,Created At,Currency,Amount,Fees,Amount Due,Customer Email,Card Type,Bank
0,success,183492816,1559126258026,card,"May 29th, 2019 10:37:39 AM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank
1,success,183494537,trx_wwlexe35,card,"May 29th, 2019 10:43:24 AM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank
2,success,183496122,trx_f45oifx7,card,"May 29th, 2019 10:48:17 AM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank
3,success,183547349,trx_1xvlov89,card,"May 29th, 2019 12:41:41 PM",NGN,50.0,0.75,49.25,in@yopmail.com,visa DEBIT,Zenith Bank
4,success,183548463,trx_pj2c117k,card,"May 29th, 2019 12:45:16 PM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank
...,...,...,...,...,...,...,...,...,...,...,...,...
28357,success,976751627,yyeokf7nt6l53n9,card,"Jan 27th, 2021 08:04:01 AM",NGN,1900.0,28.50,1871.50,ayinkeyishaladipo@gmail.com,mastercard DEBIT,Guaranty Trust Bank
28358,success,976753304,07bc5j33nu4b7f0,card,"Jan 27th, 2021 08:05:33 AM",NGN,1200.0,18.00,1182.00,ayoadechris@yahoo.com,mastercard DEBIT,Stanbic IBTC Bank
28359,success,976758596,gf7tpxdqpotvr33,card,"Jan 27th, 2021 08:10:43 AM",NGN,1500.0,22.50,1477.50,dunmoscostore@gmail.com,mastercard DEBIT,Guaranty Trust Bank
28360,success,976761917,5v8slswssysjj0v,card,"Jan 27th, 2021 08:13:59 AM",NGN,1900.0,28.50,1871.50,ayinkeyishaladipo@gmail.com,mastercard DEBIT,Guaranty Trust Bank
28361,success,976763645,tf58ippd4qbxyne,card,"Jan 27th, 2021 08:15:48 AM",NGN,2100.0,31.50,2068.50,kenny@medsaf.com,mastercard DEBIT,Guaranty Trust Bank

In [5]:
openewyear = pd.read_csv('mastercardnewyear.csv')

In [6]:
openew = pd.DataFrame(openewyear)

In [36]:
damdam= pd.read_csv('dammyreport.csv')

In [6]:
todayloyalty= pd.read_csv('todaymastercard.csv')

In [7]:
loyaltytoday = pd.DataFrame(todayloyalty)

In [8]:
loyaltytoday

,Status,Id,Reference,Channel,Created At,Currency,Amount,Fees,Amount Due,Customer Email,Card Type,Bank
0,success,183492816,1559126258026,card,"May 29th, 2019 10:37:39 AM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank
1,success,183494537,trx_wwlexe35,card,"May 29th, 2019 10:43:24 AM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank
2,success,183496122,trx_f45oifx7,card,"May 29th, 2019 10:48:17 AM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank
3,success,183547349,trx_1xvlov89,card,"May 29th, 2019 12:41:41 PM",NGN,50.0,0.75,49.25,in@yopmail.com,visa DEBIT,Zenith Bank
4,success,183548463,trx_pj2c117k,card,"May 29th, 2019 12:45:16 PM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank
...,...,...,...,...,...,...,...,...,...,...,...,...
26741,success,940911126,w08k9okxzrzky7z,card,"Dec 29th, 2020 08:35:00 AM",NGN,1100.0,16.50,1083.50,aobalalu@gmail.com,visa DEBIT,Access Bank
26742,success,940912193,zf8q8wxickvz9ol,card,"Dec 29th, 2020 08:36:10 AM",NGN,2000.0,30.00,1970.00,shakijoye@gmail.com,mastercard DEBIT,Guaranty Trust Bank
26743,success,940914508,wgkwlwr3psu1zou,card,"Dec 29th, 2020 08:38:46 AM",NGN,2000.0,30.00,1970.00,shakijoye@gmail.com,mastercard DEBIT,Guaranty Trust Bank
26744,success,940927166,9je6xe2lh6clxxa,card,"Dec 29th, 2020 08:52:56 AM",NGN,1700.0,25.50,1674.50,monsuratmustapha@yahoo.com,visa DEBIT,Access Bank
26745,success,940932647,q1sj4b2gcugzyss,card,"Dec 29th, 2020 08:59:05 AM",NGN,1300.0,19.50,1280.50,ayodeledada14@yahoo.com,mastercard DEBIT,Guaranty Trust Bank

In [4]:
doublemaster= pd.read_csv('doublemastercard.csv')

In [16]:
damcashtwo= pd.read_csv('cashtwentytwo.csv')

In [4]:
mayowapod= pd.read_csv('mayowapod.csv')

In [5]:
mayowacash= pd.read_csv('mayowacash.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (2,70,95,99) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [24]:
mayowapaystack= pd.read_csv('mayowapaystack.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (2,3,70,99,104,106) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [25]:
mayowapaga= pd.read_csv('mayowapaga.csv')

In [26]:
mayowamonthly= pd.read_csv('mayowamonthly.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (3,70,95,99,104,106) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [81]:
ope= pd.read_csv('mastertwentytwo.csv')

In [82]:
opey = pd.DataFrame(ope)

In [55]:
failed= pd.read_csv('failedreport.csv')

In [56]:
cancel= pd.read_csv('cancelledreport.csv')

In [37]:
damtoday = pd.DataFrame(damdam)

In [57]:
canceltoday = pd.DataFrame(cancel)

In [58]:
failedtoday = pd.DataFrame(failed)

In [5]:
dmaster = pd.DataFrame(doublemaster)

In [6]:
mayorpod = pd.DataFrame(mayowapod)

In [7]:
mayorcash = pd.DataFrame(mayowacash)

In [27]:
mayorpaystack = pd.DataFrame(mayowapaystack)

In [28]:
mayorpaga = pd.DataFrame(mayowapaga)

In [29]:
mayormonthly = pd.DataFrame(mayowamonthly)

In [7]:
damtoh = pd.DataFrame(damtwo)

In [18]:
damcash = pd.DataFrame(damcashtwo)

In [8]:
timemaster

,Status,Id,Reference,Channel,Created At,Currency,Amount,Fees,Amount Due,Customer Email,Card Type,Bank,job_date,day_year
0,success,183492816,1559126258026,card,"May 29th, 2019 10:37:39 AM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank,2019-05,2019-05-29
1,success,183494537,trx_wwlexe35,card,"May 29th, 2019 10:43:24 AM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank,2019-05,2019-05-29
2,success,183496122,trx_f45oifx7,card,"May 29th, 2019 10:48:17 AM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank,2019-05,2019-05-29
3,success,183547349,trx_1xvlov89,card,"May 29th, 2019 12:41:41 PM",NGN,50.0,0.75,49.25,in@yopmail.com,visa DEBIT,Zenith Bank,2019-05,2019-05-29
4,success,183548463,trx_pj2c117k,card,"May 29th, 2019 12:45:16 PM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank,2019-05,2019-05-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27637,success,962078054,rq9jd7n997g4jbw,card,"Jan 15th, 2021 01:28:14 PM",NGN,1800.0,27.00,1773.00,ogunrinolaife@yahoo.com,mastercard DEBIT,Stanbic IBTC Bank,2021-01,2021-01-15
27638,success,962089746,s2xirabwoh6t9ge,card,"Jan 15th, 2021 01:41:52 PM",NGN,2500.0,137.50,2362.50,kenny@medsaf.com,mastercard DEBIT,Guaranty Trust Bank,2021-01,2021-01-15
27639,success,962103239,1cvbc9qqovql9r8,card,"Jan 15th, 2021 01:57:08 PM",NGN,2100.0,81.90,2018.10,oolanrewaju357@gmail.com,visa DEBIT,OJSC THE FIRST UNITED BANK,2021-01,2021-01-15
27640,success,962105421,d76q6lr9gf93lbs,card,"Jan 15th, 2021 01:59:41 PM",NGN,1500.0,22.50,1477.50,olusola.sli.jones@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2021-01,2021-01-15
27641,success,962106317,5gyssgdbkmqxmzv,card,"Jan 15th, 2021 02:00:43 PM",NGN,1700.0,25.50,1674.50,eniolamiamiahair@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2021-01,2021-01-15

In [7]:
openew

,Status,Id,Reference,Channel,Created At,Currency,Amount,Fees,Amount Due,Customer Email,Card Type,Bank
0,success,183492816,1559126258026,card,"May 29th, 2019 10:37:39 AM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank
1,success,183494537,trx_wwlexe35,card,"May 29th, 2019 10:43:24 AM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank
2,success,183496122,trx_f45oifx7,card,"May 29th, 2019 10:48:17 AM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank
3,success,183547349,trx_1xvlov89,card,"May 29th, 2019 12:41:41 PM",NGN,50.0,0.75,49.25,in@yopmail.com,visa DEBIT,Zenith Bank
4,success,183548463,trx_pj2c117k,card,"May 29th, 2019 12:45:16 PM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank
...,...,...,...,...,...,...,...,...,...,...,...,...
27023,success,948213803,vqc41jyjxox5whk,card,"Jan 4th, 2021 10:41:02 AM",NGN,2000.0,30.00,1970.00,kartafeeds5k@gmail.com,mastercard DEBIT,Guaranty Trust Bank
27024,success,948230134,gv1eqznp6ucewal,card,"Jan 4th, 2021 10:59:44 AM",NGN,2900.0,143.50,2756.50,subairzee@icloud.com,mastercard DEBIT,Guaranty Trust Bank
27025,success,948231552,t7hyct6d4u1d2po,card,"Jan 4th, 2021 11:01:05 AM",NGN,1000.0,15.00,985.00,afolabiabubakr@gmail.com,mastercard DEBIT,United Bank for Africa
27026,success,948234667,343n10mclc2hraz,card,"Jan 4th, 2021 11:03:39 AM",NGN,2800.0,142.00,2658.00,ayinkeyishaladipo@gmail.com,mastercard DEBIT,Guaranty Trust Bank
27027,success,948237556,trx_tbiv8iht,card,"Jan 4th, 2021 11:06:10 AM",NGN,50.0,0.75,49.25,whitneyochiaka@gmail.com,visa DEBIT,Access Bank

In [6]:
timemaster['job_date'] = pd.to_datetime(timemaster['Created At']).dt.to_period('M')

In [6]:
malog['day_year'] = pd.to_datetime(malog['Created At']).dt.to_period('D')

In [23]:
femi['job_date'] = pd.to_datetime(femi['Created At']).dt.to_period('M')

In [24]:
femi['day_year'] = pd.to_datetime(femi['Created At']).dt.to_period('D')

In [5]:
opexmaz['job_date'] = pd.to_datetime(opexmaz['Created At']).dt.to_period('M')

In [6]:
opexmaz['day_year'] = pd.to_datetime(opexmaz['Created At']).dt.to_period('D')

In [10]:
payfeb

,Status,Id,Reference,Channel,Created At,Currency,Amount,Fees,Amount Due,Customer Email,Card Type,Bank,day_year
0,success,183492816,1559126258026,card,"May 29th, 2019 10:37:39 AM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank,2019-05-29
1,success,183494537,trx_wwlexe35,card,"May 29th, 2019 10:43:24 AM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank,2019-05-29
2,success,183496122,trx_f45oifx7,card,"May 29th, 2019 10:48:17 AM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank,2019-05-29
3,success,183547349,trx_1xvlov89,card,"May 29th, 2019 12:41:41 PM",NGN,50.0,0.75,49.25,in@yopmail.com,visa DEBIT,Zenith Bank,2019-05-29
4,success,183548463,trx_pj2c117k,card,"May 29th, 2019 12:45:16 PM",NGN,50.0,0.75,49.25,cop@yopmail.com,visa DEBIT,Zenith Bank,2019-05-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29524,success,996908958,jr162r8gb56j1ar,card,"Feb 11th, 2021 01:49:34 PM",NGN,3500.0,152.50,3347.50,kardsadams@gmail.com,mastercard DEBIT,Polaris Bank,2021-02-11
29525,success,996909058,xxw8gt1tcbxk3hm,card,"Feb 11th, 2021 01:49:40 PM",NGN,1200.0,18.00,1182.00,eniolamiamiahair@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2021-02-11
29526,success,996910186,uzr7b8vjlrmwnv6,card,"Feb 11th, 2021 01:50:47 PM",NGN,1400.0,21.00,1379.00,ask4kunle@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2021-02-11
29527,success,996929538,01tgmfkosb10ltq,card,"Feb 11th, 2021 02:11:05 PM",NGN,800.0,12.00,788.00,dazzlejewellery.accessories@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2021-02-11
29528,success,996937172,xdd89f4683wdlt9,card,"Feb 11th, 2021 02:18:45 PM",NGN,1400.0,21.00,1379.00,johnizekor@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2021-02-11

In [7]:
mlog = malog[malog['Card Type'] == "mastercard DEBIT"]

In [6]:
opeloyal['job_date'] = pd.to_datetime(opeloyal['Created At']).dt.to_period('M')

In [7]:
opeloyal['day_year'] = pd.to_datetime(opeloyal['Created At']).dt.to_period('D')

In [6]:
loyaltytoday['job_date'] = pd.to_datetime(loyaltytoday['Created At']).dt.to_period('M')

In [7]:
loyaltytoday['day_year'] = pd.to_datetime(loyaltytoday['Created At']).dt.to_period('D')

In [6]:
dmaster['job_date'] = pd.to_datetime(dmaster['Created At']).dt.to_period('M')

In [7]:
dmaster['day_year'] = pd.to_datetime(dmaster['Created At']).dt.to_period('D')

In [8]:
maraba = mast[mast['day_year'] == "2021-01-28"]

In [8]:
opexmaxfilter = opexmaz[opexmaz['day_year'] == "2020-12-30"]

In [ ]:
opefilter = opeloyal[opeloyal['day_year'] == "2020-12-29"]

In [86]:
opelatest = opey[opey['day_year'] == "2020-12-21"]

In [8]:
feblog = mlog[(mlog['day_year'] > '2021-02-01') & (mlog['day_year'] < '2021-02-16')]

In [8]:
yankee = yank[(yank['day_year'] > '2021-01-14') & (yank['day_year'] < '2021-01-27')]

In [9]:
feblog

,Status,Id,Reference,Channel,Created At,Currency,Amount,Fees,Amount Due,Customer Email,Card Type,Bank,day_year
28785,success,984395090,4x18c7uhozjnlfm,card,"Feb 2nd, 2021 02:18:33 AM",NGN,100.0,1.50,98.50,popthatcandyng@gmail.com,mastercard DEBIT,Zenith Bank,2021-02-02
28788,success,984496772,v8am8poguvg3f74,card,"Feb 2nd, 2021 06:08:33 AM",NGN,3600.0,154.00,3446.00,aiwaxes@yahoo.com,mastercard DEBIT,United Bank for Africa,2021-02-02
28789,success,984526558,v68no3q1fl5s2xg,card,"Feb 2nd, 2021 06:46:09 AM",NGN,2200.0,33.00,2167.00,ajibesinabiodun@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2021-02-02
28790,success,984548025,a2i6zwlhu27ksqv,card,"Feb 2nd, 2021 07:14:18 AM",NGN,1600.0,24.00,1576.00,a.lawal@dna4wheels.ng,mastercard DEBIT,Guaranty Trust Bank,2021-02-02
28793,success,984603104,fmtr2gl50ks2uuv,card,"Feb 2nd, 2021 08:11:53 AM",NGN,1500.0,22.50,1477.50,ajibesinabiodun@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2021-02-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29879,success,1002029697,1613400684401,card,"Feb 15th, 2021 02:51:26 PM",NGN,1.0,0.02,0.98,biolaotu@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2021-02-15
29882,success,1002041114,q5ti8l43bnh7uyh,card,"Feb 15th, 2021 03:02:08 PM",NGN,1600.0,24.00,1576.00,susanvera.atafiri@jvinteriorsltd.com,mastercard DEBIT,Guaranty Trust Bank,2021-02-15
29883,success,1002088157,kycxeaey44kg0mo,card,"Feb 15th, 2021 03:34:19 PM",NGN,300.0,4.50,295.50,rotimi.lopez@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2021-02-15
29884,success,1002132600,2a47724gpf33vqh,card,"Feb 15th, 2021 04:08:25 PM",NGN,1100.0,16.50,1083.50,cannonrepairs@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2021-02-15
29887,success,1002141665,xdpy67tkhr263qc,card,"Feb 15th, 2021 04:16:08 PM",NGN,900.0,13.50,886.50,vincentchinonso23@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2021-02-15

In [8]:
loyaltea = loyaltytoday[(loyaltytoday['day_year'] > '2020-12-29') & (loyaltytoday['day_year'] < '2020-12-29')]

In [12]:
openewmaster = openew[(openew['day_year'] > '2020-12-29') & (openew['day_year'] < '2021-01-04')]

In [9]:
yoko

,Status,Id,Reference,Channel,Created At,Currency,Amount,Fees,Amount Due,Customer Email,Card Type,Bank,day_year
28353,success,976610115,8r1ib8exbnt29e3,card,"Jan 27th, 2021 04:19:09 AM",NGN,2900.0,143.5,2756.5,shakijoye@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2021-01-27
28354,success,976711559,du8h44nqbbjpvel,card,"Jan 27th, 2021 07:18:48 AM",NGN,1400.0,21.0,1379.0,dunmoscostore@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2021-01-27
28355,success,976724841,4pls1ab7vrw51o2,card,"Jan 27th, 2021 07:34:27 AM",NGN,2500.0,137.5,2362.5,ozone14800@yahoo.com,mastercard DEBIT,Ecobank Nigeria,2021-01-27
28356,success,976726906,glzd595hwl9k5ae,card,"Jan 27th, 2021 07:36:34 AM",NGN,2600.0,139.0,2461.0,ozone14800@yahoo.com,mastercard DEBIT,Ecobank Nigeria,2021-01-27
28357,success,976751627,yyeokf7nt6l53n9,card,"Jan 27th, 2021 08:04:01 AM",NGN,1900.0,28.5,1871.5,ayinkeyishaladipo@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2021-01-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28430,success,977354798,3e7dyjw0v08y3cn,card,"Jan 27th, 2021 05:17:39 PM",NGN,2900.0,143.5,2756.5,nkeirukanwankwo123@gmail.com,mastercard DEBIT,Zenith Bank,2021-01-27
28431,success,977377419,3eqewg21tqqr412,card,"Jan 27th, 2021 05:33:21 PM",NGN,300.0,4.5,295.5,jojo.hairs@yahoo.com,mastercard DEBIT,Sterling Bank,2021-01-27
28432,success,977394809,19jejeb5tjih86c,card,"Jan 27th, 2021 05:47:36 PM",NGN,1500.0,22.5,1477.5,lenectar8919@yahoo.com,mastercard DEBIT,Guaranty Trust Bank,2021-01-27
28433,success,977557145,p0d7n9e41qmhx6p,card,"Jan 27th, 2021 08:05:47 PM",NGN,3800.0,157.0,3643.0,avigational@gmail.com,mastercard DEBIT,Zenith Bank,2021-01-27
28434,success,977741561,z76ke8uyxtp317w,card,"Jan 27th, 2021 11:01:36 PM",NGN,1200.0,18.0,1182.0,zoeerikaokoyescholar@gmail.com,mastercard DEBIT,Zenith Bank,2021-01-27

In [8]:
refinedmaster = dmaster[(dmaster['day_year'] > '2020-12-21') & (dmaster['day_year'] < '2020-12-24')]

In [10]:
logtwo = feblog[feblog['day_year'] == '2021-02-02']

In [11]:
logthree = feblog[feblog['day_year'] == '2021-02-03']

In [12]:
logfour = feblog[feblog['day_year'] == '2021-02-04']

In [13]:
logfive = feblog[feblog['day_year'] == '2021-02-05']

In [14]:
logsix = feblog[feblog['day_year'] == '2021-02-06']

In [15]:
logseven = feblog[feblog['day_year'] == '2021-02-07']

In [16]:
logeight = feblog[feblog['day_year'] == '2021-02-08']

In [17]:
lognine = feblog[feblog['day_year'] == '2021-02-09']

In [18]:
logten = feblog[feblog['day_year'] == '2021-02-10']

In [81]:
logfour

,Status,Id,Reference,Channel,Created At,Currency,Amount,Fees,Amount Due,Customer Email,Card Type,Bank,day_year
28963,success,987179102,gb3xzujz8d3domv,card,"Feb 4th, 2021 01:43:54 AM",NGN,2500.0,137.50,2362.50,mariamadukeadeniyi@gmail.com,mastercard DEBIT,United Bank for Africa,2021-02-04
28964,success,987220263,ovhdih9my6wsw84,card,"Feb 4th, 2021 04:15:55 AM",NGN,4400.0,166.00,4234.00,aiwaxes@yahoo.com,mastercard DEBIT,United Bank for Africa,2021-02-04
28965,success,987296886,trx_06s4tkwy,card,"Feb 4th, 2021 06:31:18 AM",NGN,50.0,0.75,49.25,d1xtra@yahoo.com,mastercard DEBIT,Guaranty Trust Bank,2021-02-04
28966,success,987298117,trx_68jscnjy,card,"Feb 4th, 2021 06:33:39 AM",NGN,50.0,0.75,49.25,d1xtra@yahoo.com,mastercard DEBIT,Guaranty Trust Bank,2021-02-04
28967,success,987301162,0dlkpt448sjpqs7,card,"Feb 4th, 2021 06:38:58 AM",NGN,300.0,4.50,295.50,d1xtra@yahoo.com,mastercard DEBIT,Guaranty Trust Bank,2021-02-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29044,success,987960629,1xeggav80l95njl,card,"Feb 4th, 2021 05:07:18 PM",NGN,1800.0,27.00,1773.00,maryamalee@gmail.com,mastercard DEBIT,Sterling Bank,2021-02-04
29045,success,987964789,rlq9lkwb0c5wcpz,card,"Feb 4th, 2021 05:10:57 PM",NGN,1500.0,22.50,1477.50,toluuakin@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2021-02-04
29046,success,987978015,g1eb79i382wnh8c,card,"Feb 4th, 2021 05:22:24 PM",NGN,260.0,3.90,256.10,bolanleajao@hotmail.com,mastercard DEBIT,First Bank of Nigeria,2021-02-04
29047,success,987993485,z8aixoqi8cd3obl,card,"Feb 4th, 2021 05:36:42 PM",NGN,2300.0,34.50,2265.50,ololade@kudabank.com,mastercard DEBIT,Guaranty Trust Bank,2021-02-04
29050,success,988045198,o4g95bpf6uef7pz,card,"Feb 4th, 2021 06:22:07 PM",NGN,1700.0,25.50,1674.50,nkeirukanwankwo123@gmail.com,mastercard DEBIT,Zenith Bank,2021-02-04

In [ ]:
perflea = payflee[payflee['Card Type'] == "mastercard DEBIT"]

In [ ]:
perflea = payflee[payflee['Card Type'] == "mastercard DEBIT"]

In [15]:
perry = perfone[perfone['Card Type'] == "mastercard DEBIT"]

In [14]:
cardalltime = mastertime[mastertime['Card Type'] == "mastercard DEBIT"]

In [35]:
carri = yokey[yokey['Customer Email'] == "luckyekanem@gmail.com"]

In [16]:
perry

,Status,Id,Reference,Channel,Created At,Currency,Amount,Fees,Amount Due,Customer Email,Card Type,Bank,day_year
28694,success,983245459,7hzu5mzglo81xul,card,"Feb 1st, 2021 06:38:20 AM",NGN,2400.0,36.0,2364.0,leumas920@gmail.com,mastercard DEBIT,Zenith Bank,2021-02-01
28698,success,983281254,f9ee1zfyt9ivrjl,card,"Feb 1st, 2021 07:32:14 AM",NGN,1600.0,24.0,1576.0,daekundayo@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2021-02-01
28699,success,983281364,8egkccyo0tfxzgw,card,"Feb 1st, 2021 07:32:21 AM",NGN,2000.0,30.0,1970.0,temi.giwa@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2021-02-01
28700,success,983281976,u78fdiip1il29ue,card,"Feb 1st, 2021 07:33:00 AM",NGN,1800.0,27.0,1773.0,ajibola_muhammed@yahoo.com,mastercard DEBIT,Guaranty Trust Bank,2021-02-01
28702,success,983312655,dpnvbzafligdvzy,card,"Feb 1st, 2021 08:11:12 AM",NGN,1400.0,21.0,1379.0,segunbashorun@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2021-02-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28778,success,983754400,zxj8gc6xk0r6343,card,"Feb 1st, 2021 03:39:15 PM",NGN,1300.0,19.5,1280.5,obiora.anisiuba@gmail.com,mastercard DEBIT,United Bank for Africa,2021-02-01
28780,success,983762210,oxqk6cpi1o1n45f,card,"Feb 1st, 2021 03:45:18 PM",NGN,1200.0,18.0,1182.0,salamifatima4@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2021-02-01
28781,success,983769914,07ld4ioik2dw0fz,card,"Feb 1st, 2021 03:51:03 PM",NGN,1800.0,27.0,1773.0,edivri@gmail.com,mastercard DEBIT,United Bank for Africa,2021-02-01
28782,success,983847088,lvvp4lhqo3nxnxg,card,"Feb 1st, 2021 04:55:00 PM",NGN,1300.0,19.5,1280.5,renbekcompany@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2021-02-01
28783,success,983998591,rmme7v400d3hqxc,card,"Feb 1st, 2021 07:09:00 PM",NGN,1200.0,18.0,1182.0,ibesmithblog@gmail.com,mastercard DEBIT,Zenith Bank,2021-02-01

In [10]:
bayotoday = loyaltea[loyaltea['Card Type'] == "mastercard DEBIT"]

In [10]:
opeyx

,Status,Id,Reference,Channel,Created At,Currency,Amount,Fees,Amount Due,Customer Email,Card Type,Bank,job_date,day_year
26792,success,942102508,jz29qxikhey7lfz,card,"Dec 30th, 2020 05:41:49 AM",NGN,1000.0,15.00,985.00,segunbashorun@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-30
26793,success,942137218,shzlepqq893dlmx,card,"Dec 30th, 2020 06:32:40 AM",NGN,2000.0,30.00,1970.00,sisiyemmie@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-30
26794,success,942141668,ugpsi50p5ngmsj7,card,"Dec 30th, 2020 06:38:44 AM",NGN,2900.0,143.50,2756.50,okundayeaisosa@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-30
26795,success,942143156,pdsvvvfao05v2dw,card,"Dec 30th, 2020 06:41:15 AM",NGN,2600.0,139.00,2461.00,sisiyemmie@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-30
26796,success,942150422,5fvwi2kj2xwvm1s,card,"Dec 30th, 2020 06:52:43 AM",NGN,4000.0,160.00,3840.00,ememkarieren2@yahoo.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26867,success,942864887,trx_4gxztilu,card,"Dec 30th, 2020 06:14:30 PM",NGN,50.0,0.75,49.25,fagbemiarinola@yahoo.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-30
26868,success,942865866,lwyncf3xic82wwl,card,"Dec 30th, 2020 06:15:10 PM",NGN,1800.0,27.00,1773.00,fagbemiarinola@yahoo.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-30
26869,success,942885753,3y728jcszaixhw8,card,"Dec 30th, 2020 06:32:41 PM",NGN,1100.0,16.50,1083.50,info@myburntorange.com,mastercard DEBIT,Stanbic IBTC Bank,2020-12,2020-12-30
26870,success,942902571,g8zanwymy3c2cj8,card,"Dec 30th, 2020 06:51:16 PM",NGN,1200.0,18.00,1182.00,sheilaojei@gmail.com,mastercard DEBIT,Zenith Bank,2020-12,2020-12-30
26871,success,943089715,i0lbwv3zyf7pftk,card,"Dec 30th, 2020 09:57:31 PM",NGN,1900.0,28.50,1871.50,geefourglobalservices@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-30

,Status,Id,Reference,Channel,Created At,Currency,Amount,Fees,Amount Due,Customer Email,Card Type,Bank,job_date,day_year
26462,success,934794626,bnk4uaj017ttrnk,card,"Dec 24th, 2020 01:01:31 AM",NGN,3700.0,155.50,3544.50,simisoladairo@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-24
26463,success,934852773,bt4oqbyr1w0dsxv,card,"Dec 24th, 2020 02:53:13 AM",NGN,2400.0,36.00,2364.00,ememkarieren2@yahoo.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-24
26464,success,934890835,zoao36znotf0z5o,card,"Dec 24th, 2020 04:27:43 AM",NGN,1300.0,19.50,1280.50,tangooscar02@yahoo.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-24
26465,success,934899574,trx_t3nm2556,card,"Dec 24th, 2020 04:50:41 AM",NGN,50.0,0.75,49.25,barbiedami1@gmail.com,mastercard DEBIT,Access Bank,2020-12,2020-12-24
26466,success,934899834,qecv9ygte4k5mdm,card,"Dec 24th, 2020 04:51:19 AM",NGN,1600.0,24.00,1576.00,barbiedami1@gmail.com,mastercard DEBIT,Access Bank,2020-12,2020-12-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26726,success,940186176,qhum4u9455kxc06,card,"Dec 28th, 2020 04:48:31 PM",NGN,2300.0,34.50,2265.50,ademiluyionibokun@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-28
26727,success,940236928,9tektmc6lojz27m,card,"Dec 28th, 2020 05:25:38 PM",NGN,2500.0,137.50,2362.50,e1clothingng@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-28
26728,success,940265346,xyprxdenu1rjuvt,card,"Dec 28th, 2020 05:50:07 PM",NGN,3300.0,149.50,3150.50,iraborelizabeth0@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-28
26729,success,940266228,oqpbpbrrna3mi8d,card,"Dec 28th, 2020 05:51:02 PM",NGN,2100.0,31.50,2068.50,adebowalemide@yahoo.com,mastercard DEBIT,First Bank of Nigeria,2020-12,2020-12-28
26730,success,940358383,km83c0xg5t00s97,card,"Dec 28th, 2020 07:20:10 PM",NGN,3800.0,157.00,3643.00,krufai03@gmail.com,mastercard DEBIT,First City Monument Bank,2020-12,2020-12-28

In [11]:
loyaltie

,Status,Id,Reference,Channel,Created At,Currency,Amount,Fees,Amount Due,Customer Email,Card Type,Bank,job_date,day_year
26161,success,932200920,trx_qgn22xqv,card,"Dec 22nd, 2020 05:31:31 AM",NGN,50.0,0.75,49.25,udochukwuoliver@gmail.com,mastercard DEBIT,United Bank for Africa,2020-12,2020-12-22
26162,success,932201390,bheczpe3gefzku8,card,"Dec 22nd, 2020 05:32:22 AM",NGN,1600.0,24.00,1576.00,udochukwuoliver@gmail.com,mastercard DEBIT,United Bank for Africa,2020-12,2020-12-22
26163,success,932207894,7xee9xkt7671oy3,card,"Dec 22nd, 2020 05:43:19 AM",NGN,700.0,10.50,689.50,nifemibenson95@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-22
26164,success,932216762,trx_zwreh83a,card,"Dec 22nd, 2020 05:58:57 AM",NGN,50.0,0.75,49.25,elohshirley@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-22
26165,success,932217102,8pd0wb5swnjvcn1,card,"Dec 22nd, 2020 05:59:34 AM",NGN,1900.0,28.50,1871.50,elohshirley@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26460,success,934560828,2vhj03naopm7wn0,card,"Dec 23rd, 2020 09:03:08 PM",NGN,2800.0,142.00,2658.00,asuaiko2107@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-23
26461,success,934609375,v3twbz914u68rca,card,"Dec 23rd, 2020 09:49:08 PM",NGN,1400.0,21.00,1379.00,kelvinagum@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-23
26462,success,934671521,4lnmqurvbmd4tpo,card,"Dec 23rd, 2020 10:40:53 PM",NGN,2700.0,140.50,2559.50,splufikbeautyabode@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-23
26463,success,934717061,au18dwl2feirw0i,card,"Dec 23rd, 2020 11:31:25 PM",NGN,1700.0,25.50,1674.50,leezabeth18@gmail.com,mastercard DEBIT,First Bank of Nigeria,2020-12,2020-12-23
26464,success,934718850,vvtxaqw50ejgvhr,card,"Dec 23rd, 2020 11:33:50 PM",NGN,1500.0,22.50,1477.50,leezabeth18@gmail.com,mastercard DEBIT,First Bank of Nigeria,2020-12,2020-12-23

In [47]:
listweekend

,Status,Id,Reference,Channel,Created At,Currency,Amount,Fees,Amount Due,Customer Email,Card Type,Bank,job_date,day_year
25740,success,927118093,kojwqjl01fax2d9,card,"Dec 18th, 2020 05:27:51 AM",NGN,2400.0,36.00,2364.00,tonia4smart@yahoo.co.uk,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-18
25741,success,927121301,wkbv5a5wjfzynrp,card,"Dec 18th, 2020 05:34:14 AM",NGN,1700.0,25.50,1674.50,tonia4smart@yahoo.co.uk,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-18
25742,success,927151433,rk6u7kheulsq7pn,card,"Dec 18th, 2020 06:21:29 AM",NGN,2500.0,137.50,2362.50,laraoloja@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-18
25743,success,927151733,1608272511070,card,"Dec 18th, 2020 06:21:53 AM",NGN,1.0,0.02,0.98,akinzo234@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-18
25744,success,927155192,n2wg1w3w4jv7wy1,card,"Dec 18th, 2020 06:26:04 AM",NGN,3400.0,151.00,3249.00,jinkaz037@gmail.com,mastercard DEBIT,Stanbic IBTC Bank,2020-12,2020-12-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26001,success,930251407,trx_bf1hhuc9,card,"Dec 20th, 2020 01:55:19 PM",NGN,50.0,0.75,49.25,tomihadybete@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-20
26002,success,930257537,fbs4lfzolceprvz,card,"Dec 20th, 2020 02:00:02 PM",NGN,1700.0,25.50,1674.50,mikun2286@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-20
26005,success,930337649,dk53rczqblrob1f,card,"Dec 20th, 2020 03:13:09 PM",NGN,1900.0,28.50,1871.50,sanusiphareedah4@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-20
26006,success,930404717,qrbp5nmeau3y027,card,"Dec 20th, 2020 04:13:36 PM",NGN,904.0,13.56,890.44,n.agbanusi@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-20
26012,success,930746772,pi6cmohg7y95h3s,card,"Dec 20th, 2020 10:57:42 PM",NGN,2200.0,33.00,2167.00,claudineroth85@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-20

In [61]:
bayotoday

,Status,Id,Reference,Channel,Created At,Currency,Amount,Fees,Amount Due,Customer Email,Card Type,Bank,job_date,day_year
26462,success,934794626,bnk4uaj017ttrnk,card,"Dec 24th, 2020 01:01:31 AM",NGN,3700.0,155.50,3544.50,simisoladairo@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-24
26463,success,934852773,bt4oqbyr1w0dsxv,card,"Dec 24th, 2020 02:53:13 AM",NGN,2400.0,36.00,2364.00,ememkarieren2@yahoo.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-24
26464,success,934890835,zoao36znotf0z5o,card,"Dec 24th, 2020 04:27:43 AM",NGN,1300.0,19.50,1280.50,tangooscar02@yahoo.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-24
26465,success,934899574,trx_t3nm2556,card,"Dec 24th, 2020 04:50:41 AM",NGN,50.0,0.75,49.25,barbiedami1@gmail.com,mastercard DEBIT,Access Bank,2020-12,2020-12-24
26466,success,934899834,qecv9ygte4k5mdm,card,"Dec 24th, 2020 04:51:19 AM",NGN,1600.0,24.00,1576.00,barbiedami1@gmail.com,mastercard DEBIT,Access Bank,2020-12,2020-12-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26726,success,940186176,qhum4u9455kxc06,card,"Dec 28th, 2020 04:48:31 PM",NGN,2300.0,34.50,2265.50,ademiluyionibokun@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-28
26727,success,940236928,9tektmc6lojz27m,card,"Dec 28th, 2020 05:25:38 PM",NGN,2500.0,137.50,2362.50,e1clothingng@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-28
26728,success,940265346,xyprxdenu1rjuvt,card,"Dec 28th, 2020 05:50:07 PM",NGN,3300.0,149.50,3150.50,iraborelizabeth0@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-28
26729,success,940266228,oqpbpbrrna3mi8d,card,"Dec 28th, 2020 05:51:02 PM",NGN,2100.0,31.50,2068.50,adebowalemide@yahoo.com,mastercard DEBIT,First Bank of Nigeria,2020-12,2020-12-28
26730,success,940358383,km83c0xg5t00s97,card,"Dec 28th, 2020 07:20:10 PM",NGN,3800.0,157.00,3643.00,krufai03@gmail.com,mastercard DEBIT,First City Monument Bank,2020-12,2020-12-28

In [11]:
mailweek = cardalltime["Customer Email"].unique()

In [71]:
tastree = bayotoday.groupby('Customer Email')

In [67]:
taste = bayotoday.groupby('Customer Email').apply(print)

        Status         Id        Reference Channel  \
26685  success  939642798  r0as6kayo0q99br    card

                       Created At Currency  Amount  Fees  Amount Due  \
26685  Dec 28th, 2020 08:34:45 AM      NGN  1700.0  25.5      1674.5

                   Customer Email         Card Type         Bank job_date  \
26685  adebara.sulaimon@gmail.com  mastercard DEBIT  Zenith Bank  2020-12

         day_year
26685  2020-12-28
        Status         Id        Reference Channel  \
26729  success  940266228  oqpbpbrrna3mi8d    card

                       Created At Currency  Amount  Fees  Amount Due  \
26729  Dec 28th, 2020 05:51:02 PM      NGN  2100.0  31.5      2068.5

                Customer Email         Card Type                   Bank  \
26729  adebowalemide@yahoo.com  mastercard DEBIT  First Bank of Nigeria

      job_date    day_year
26729  2020-12  2020-12-28
        Status         Id        Reference Channel  \
26726  success  940186176  qhum4u9455kxc06    card

                       Created At Currency  Amount  Fees  Amount Due  \
26726  Dec 28th, 2020 04:48:31 PM      NGN  2300.0  34.5      2265.5

                    Customer Email         Card Type                 Bank  \
26726  ademiluyionibokun@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26726  2020-12  2020-12-28
        Status         Id        Reference Channel  \
26569  success  935383418  h5ikp6jv3h6sd42    card

                       Created At Currency  Amount  Fees  Amount Due  \
26569  Dec 24th, 2020 02:12:53 PM      NGN  2400.0  36.0      2364.0

              Customer Email         Card Type                 Bank job_date  \
26569  adetolani25@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26569  2020-12-24
        Status         Id        Reference Channel  \
26469  success  934921966  gyu9wv29iinkm1l    card

                       Created At Currency  Amount  Fees  Amount Due  \
26469  Dec 24th, 2020 05:37:46 AM      NGN  2000.0  30.0      1970.0

            Customer Email         Card Type                 Bank job_date  \
26469  airshopng@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26469  2020-12-24
        Status         Id        Reference Channel  \
26548  success  935314450  5cu4iainnutzdkt    card

                       Created At Currency  Amount  Fees  Amount Due  \
26548  Dec 24th, 2020 01:00:38 PM      NGN  1600.0  24.0      1576.0

              Customer Email         Card Type               Bank job_date  \
26548  akinbaiyewu@yahoo.com  mastercard DEBIT  Stanbic IBTC Bank  2020-12

         day_year
26548  2020-12-24
        Status         Id        Reference Channel  \
26527  success  935217043  5cs7cxy9r753v9e    card

                       Created At Currency  Amount   Fees  Amount Due  \
26527  Dec 24th, 2020 11:20:01 AM      NGN  3900.0  158.5      3741.5

                   Customer Email         Card Type                 Bank  \
26527  alexander.e.edem@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26527  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26619  success  936301860     trx_p2a5u08b    card
26620  success  936302314  6nyqa66q7khz3s8    card

                       Created At Currency  Amount   Fees  Amount Due  \
26619  Dec 25th, 2020 10:11:11 AM      NGN    50.0   0.75       49.25
26620  Dec 25th, 2020 10:11:46 AM      NGN  1500.0  22.50     1477.50

            Customer Email         Card Type         Bank job_date    day_year
26619  amiratobi@gmail.com  mastercard DEBIT  Zenith Bank  2020-12  2020-12-25
26620  amiratobi@gmail.com  mastercard DEBIT  Zenith Bank  2020-12  2020-12-25
        Status         Id        Reference Channel  \
26575  success  935417121  czvmr7q76ix0tbm    card
26650  success  937601039  nhspkacaspyk3ac    card
26651  success  937604545  l2nopwvum9swtvx    card

                       Created At Currency  Amount  Fees  Amount Due  \
26575  Dec 24th, 2020 02:46:27 PM      NGN  2100.0  31.5      2068.5
26650  Dec 26th, 2020 01:23:43 PM      NGN   100.0   1.5        98.5
26651  Dec 26th, 2020 01:26:50 PM      NGN  2400.0  36.0      2364.0

              Customer Email         Card Type                 Bank job_date  \
26575  anuesemogie@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26650  anuesemogie@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26651  anuesemogie@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26575  2020-12-24
26650  2020-12-26
26651  2020-12-26
        Status         Id        Reference Channel  \
26568  success  935381243  3kuu0sjqyhomjvz    card
26570  success  935386039  cw9hj67s1kn6153    card

                       Created At Currency  Amount   Fees  Amount Due  \
26568  Dec 24th, 2020 02:10:48 PM      NGN  4400.0  166.0      4234.0
26570  Dec 24th, 2020 02:15:33 PM      NGN  2400.0   36.0      2364.0

          Customer Email         Card Type                 Bank job_date  \
26568  aydav10@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26570  aydav10@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26568  2020-12-24
26570  2020-12-24
        Status         Id        Reference Channel  \
26526  success  935214862  fbhxm6iy5hdn0lc    card

                       Created At Currency  Amount  Fees  Amount Due  \
26526  Dec 24th, 2020 11:18:00 AM      NGN  2100.0  31.5      2068.5

                    Customer Email         Card Type                 Bank  \
26526  ayinkeyishaladipo@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26526  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26546  success  935297057  rf3w8luazioucck    card
26555  success  935334344  b5q0tqxm6kcrdft    card

                       Created At Currency  Amount  Fees  Amount Due  \
26546  Dec 24th, 2020 12:42:45 PM      NGN  1700.0  25.5      1674.5
26555  Dec 24th, 2020 01:21:12 PM      NGN  2000.0  30.0      1970.0

             Customer Email         Card Type                 Bank job_date  \
26546  bakwaibags@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26555  bakwaibags@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26546  2020-12-24
26555  2020-12-24
        Status         Id        Reference Channel  \
26465  success  934899574     trx_t3nm2556    card
26466  success  934899834  qecv9ygte4k5mdm    card

                       Created At Currency  Amount   Fees  Amount Due  \
26465  Dec 24th, 2020 04:50:41 AM      NGN    50.0   0.75       49.25
26466  Dec 24th, 2020 04:51:19 AM      NGN  1600.0  24.00     1576.00

              Customer Email         Card Type         Bank job_date  \
26465  barbiedami1@gmail.com  mastercard DEBIT  Access Bank  2020-12
26466  barbiedami1@gmail.com  mastercard DEBIT  Access Bank  2020-12

         day_year
26465  2020-12-24
26466  2020-12-24
        Status         Id        Reference Channel  \
26501  success  935100715  mpbjvsv44claypj    card
26655  success  937644505  lvqytb6nwo8a75c    card
26682  success  939566158  njhw08sqqtre809    card

                       Created At Currency  Amount   Fees  Amount Due  \
26501  Dec 24th, 2020 09:15:08 AM      NGN  2500.0  137.5      2362.5
26655  Dec 26th, 2020 02:03:52 PM      NGN  3300.0  149.5      3150.5
26682  Dec 28th, 2020 07:07:44 AM      NGN  1700.0   25.5      1674.5

          Customer Email         Card Type             Bank job_date  \
26501  beampeh@gmail.com  mastercard DEBIT  Ecobank Nigeria  2020-12
26655  beampeh@gmail.com  mastercard DEBIT  Ecobank Nigeria  2020-12
26682  beampeh@gmail.com  mastercard DEBIT  Ecobank Nigeria  2020-12

         day_year
26501  2020-12-24
26655  2020-12-26
26682  2020-12-28
        Status         Id        Reference Channel  \
26477  success  935004483  6rg5ojurjabxrxy    card
26478  success  935004968  t33km5r28v8i0ti    card

                       Created At Currency  Amount  Fees  Amount Due  \
26477  Dec 24th, 2020 07:29:14 AM      NGN  1600.0  24.0      1576.0
26478  Dec 24th, 2020 07:29:55 AM      NGN  1600.0  24.0      1576.0

          Customer Email         Card Type                 Bank job_date  \
26477  bekkeso@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26478  bekkeso@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26477  2020-12-24
26478  2020-12-24
        Status         Id        Reference Channel  \
26613  success  936189853  usp0na6umpvdfn5    card
26622  success  936377333  xhy55axyzjfeb35    card
26636  success  937417803  ggvmkdznj7wya8i    card
26649  success  937591902  rgsh3rcx3qbk05r    card
26667  success  938445197  y8g86wkmsd6a0o3    card
26716  success  939916564  m29cju8o7fuaz0c    card

                       Created At Currency  Amount   Fees  Amount Due  \
26613  Dec 25th, 2020 07:50:47 AM      NGN  1900.0   28.5      1871.5
26622  Dec 25th, 2020 11:45:45 AM      NGN  1300.0   19.5      1280.5
26636  Dec 26th, 2020 11:11:45 AM      NGN  1700.0   25.5      1674.5
26649  Dec 26th, 2020 01:15:26 PM      NGN  2900.0  143.5      2756.5
26667  Dec 27th, 2020 07:16:59 AM      NGN  2000.0   30.0      1970.0
26716  Dec 28th, 2020 01:06:40 PM      NGN  1500.0   22.5      1477.5

             Customer Email         Card Type                    Bank  \
26613  bknmartins@gmail.com  mastercard DEBIT  United Bank for Africa
26622  bknmartins@gmail.com  mastercard DEBIT  United Bank for Africa
26636  bknmartins@gmail.com  mastercard DEBIT  United Bank for Africa
26649  bknmartins@gmail.com  mastercard DEBIT  United Bank for Africa
26667  bknmartins@gmail.com  mastercard DEBIT  United Bank for Africa
26716  bknmartins@gmail.com  mastercard DEBIT  United Bank for Africa

      job_date    day_year
26613  2020-12  2020-12-25
26622  2020-12  2020-12-25
26636  2020-12  2020-12-26
26649  2020-12  2020-12-26
26667  2020-12  2020-12-27
26716  2020-12  2020-12-28
        Status         Id        Reference Channel  \
26624  success  936425344  7vzqclze4pyhv4s    card

                       Created At Currency  Amount  Fees  Amount Due  \
26624  Dec 25th, 2020 12:52:08 PM      NGN  2000.0  30.0      1970.0

                  Customer Email         Card Type         Bank job_date  \
26624  boustani.charie@gmail.com  mastercard DEBIT  Zenith Bank  2020-12

         day_year
26624  2020-12-25
        Status         Id        Reference Channel  \
26725  success  940137067  ugldnt0n8dxn5n0    card

                       Created At Currency  Amount   Fees  Amount Due  \
26725  Dec 28th, 2020 04:09:51 PM      NGN  2800.0  142.0      2658.0

                Customer Email         Card Type                 Bank  \
26725  cannonrepairs@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26725  2020-12  2020-12-28
        Status         Id        Reference Channel  \
26674  success  938811587  blrfohmaqite0dn    card

                       Created At Currency  Amount   Fees  Amount Due  \
26674  Dec 27th, 2020 01:40:45 PM      NGN  3700.0  155.5      3544.5

                Customer Email         Card Type                 Bank  \
26674  carinaberry16@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26674  2020-12  2020-12-27
        Status         Id        Reference Channel  \
26559  success  935342097  3xgrz0oj9j78891    card

                       Created At Currency  Amount  Fees  Amount Due  \
26559  Dec 24th, 2020 01:29:20 PM      NGN  1300.0  19.5      1280.5

                 Customer Email         Card Type                    Bank  \
26559  chisom.obijaju@gmail.com  mastercard DEBIT  United Bank for Africa

      job_date    day_year
26559  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26511  success  935143305  gn2tnnn3lk2ys5k    card

                       Created At Currency  Amount  Fees  Amount Due  \
26511  Dec 24th, 2020 10:02:10 AM      NGN  1500.0  22.5      1477.5

                   Customer Email         Card Type                 Bank  \
26511  chukwudicyril179@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26511  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26488  success  935032481  gljgr38d6cfj2kp    card

                       Created At Currency  Amount  Fees  Amount Due  \
26488  Dec 24th, 2020 08:02:03 AM      NGN  2300.0  34.5      2265.5

             Customer Email         Card Type         Bank job_date  \
26488  chulopaapi@yahoo.com  mastercard DEBIT  Zenith Bank  2020-12

         day_year
26488  2020-12-24
        Status         Id        Reference Channel  \
26539  success  935284747     trx_tb9zco3k    card
26541  success  935285558  rjvabxr7gx58g6u    card

                       Created At Currency  Amount   Fees  Amount Due  \
26539  Dec 24th, 2020 12:29:53 PM      NGN    50.0   0.75       49.25
26541  Dec 24th, 2020 12:30:46 PM      NGN  1500.0  22.50     1477.50

                    Customer Email         Card Type         Bank job_date  \
26539  comechopcanteen3c@gmail.com  mastercard DEBIT  Zenith Bank  2020-12
26541  comechopcanteen3c@gmail.com  mastercard DEBIT  Zenith Bank  2020-12

         day_year
26539  2020-12-24
26541  2020-12-24
        Status         Id        Reference Channel  \
26532  success  935253579  121vf8t4f5l28rt    card
26656  success  937680362  aw9vdk3ew29ygt6    card

                       Created At Currency  Amount  Fees  Amount Due  \
26532  Dec 24th, 2020 11:57:15 AM      NGN  1000.0  15.0       985.0
26656  Dec 26th, 2020 02:32:24 PM      NGN   100.0   1.5        98.5

                     Customer Email         Card Type         Bank job_date  \
26532  daboss_sourcemoney@yahoo.com  mastercard DEBIT  Access Bank  2020-12
26656  daboss_sourcemoney@yahoo.com  mastercard DEBIT  Access Bank  2020-12

         day_year
26532  2020-12-24
26656  2020-12-26
        Status         Id        Reference Channel  \
26552  success  935327207  5c8eywqeylwqm0g    card
26669  success  938584124  di0ludn5wx0po2m    card

                       Created At Currency  Amount   Fees  Amount Due  \
26552  Dec 24th, 2020 01:13:34 PM      NGN  1900.0   28.5      1871.5
26669  Dec 27th, 2020 09:53:38 AM      NGN  4500.0  167.5      4332.5

                Customer Email         Card Type           Bank job_date  \
26552  deoladeyemo23@gmail.com  mastercard DEBIT  Keystone Bank  2020-12
26669  deoladeyemo23@gmail.com  mastercard DEBIT  Keystone Bank  2020-12

         day_year
26552  2020-12-24
26669  2020-12-27
        Status         Id        Reference Channel  \
26690  success  939712000  e2r9w5b6kgbhkor    card

                       Created At Currency  Amount  Fees  Amount Due  \
26690  Dec 28th, 2020 09:44:26 AM      NGN  1800.0  27.0      1773.0

             Customer Email         Card Type                 Bank job_date  \
26690  deyheencar@yahoo.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26690  2020-12-28
        Status         Id        Reference Channel  \
26657  success  937718701  qicnnthowjmje86    card

                       Created At Currency  Amount  Fees  Amount Due  \
26657  Dec 26th, 2020 02:56:48 PM      NGN   200.0   3.0       197.0

              Customer Email         Card Type                 Bank job_date  \
26657  dira@pentagram.com.ng  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26657  2020-12-26
        Status         Id        Reference Channel  \
26585  success  935493919  zo53tkrc205d92s    card

                       Created At Currency  Amount  Fees  Amount Due  \
26585  Dec 24th, 2020 04:01:38 PM      NGN  1500.0  22.5      1477.5

              Customer Email         Card Type                 Bank job_date  \
26585  djk_adebayo@yahoo.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26585  2020-12-24
        Status         Id        Reference Channel  \
26515  success  935151970  h96z4x8r2yizp4k    card

                       Created At Currency  Amount  Fees  Amount Due  \
26515  Dec 24th, 2020 10:11:17 AM      NGN  1900.0  28.5      1871.5

                   Customer Email         Card Type                 Bank  \
26515  dojaminedelivery@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26515  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26545  success  935294979  oxumgbq1typ67u5    card

                       Created At Currency  Amount  Fees  Amount Due  \
26545  Dec 24th, 2020 12:40:34 PM      NGN  1200.0  18.0      1182.0

                   Customer Email         Card Type                 Bank  \
26545  douglascleopatra@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26545  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26521  success  935199066  s9vy0hme80adn7m    card

                       Created At Currency  Amount  Fees  Amount Due  \
26521  Dec 24th, 2020 11:02:32 AM      NGN  2200.0  33.0      2167.0

          Customer Email         Card Type                 Bank job_date  \
26521  e.shola@yahoo.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26521  2020-12-24
        Status         Id        Reference Channel  \
26727  success  940236928  9tektmc6lojz27m    card

                       Created At Currency  Amount   Fees  Amount Due  \
26727  Dec 28th, 2020 05:25:38 PM      NGN  2500.0  137.5      2362.5

               Customer Email         Card Type                 Bank job_date  \
26727  e1clothingng@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26727  2020-12-28
        Status         Id        Reference Channel  \
26474  success  934997883  2ncxl69qamoyvlz    card
26517  success  935181892  vt02xkzqxk9825v    card
26528  success  935243110  npy5il7lxtvjqbc    card

                       Created At Currency  Amount   Fees  Amount Due  \
26474  Dec 24th, 2020 07:21:15 AM      NGN  1700.0   25.5      1674.5
26517  Dec 24th, 2020 10:44:17 AM      NGN  2900.0  143.5      2756.5
26528  Dec 24th, 2020 11:45:53 AM      NGN  2600.0  139.0      2461.0

         Customer Email         Card Type                    Bank job_date  \
26474  edivri@gmail.com  mastercard DEBIT  United Bank for Africa  2020-12
26517  edivri@gmail.com  mastercard DEBIT  United Bank for Africa  2020-12
26528  edivri@gmail.com  mastercard DEBIT  United Bank for Africa  2020-12

         day_year
26474  2020-12-24
26517  2020-12-24
26528  2020-12-24
        Status         Id        Reference Channel  \
26468  success  934915997  oo5nvcd4ietrvdo    card
26472  success  934976953  fhkapezegdhvgm5    card

                       Created At Currency  Amount  Fees  Amount Due  \
26468  Dec 24th, 2020 05:25:14 AM      NGN  1800.0  27.0      1773.0
26472  Dec 24th, 2020 06:56:13 AM      NGN  2100.0  31.5      2068.5

              Customer Email         Card Type                 Bank job_date  \
26468  elohshirley@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26472  elohshirley@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26468  2020-12-24
26472  2020-12-24
        Status         Id        Reference Channel  \
26463  success  934852773  bt4oqbyr1w0dsxv    card
26500  success  935099552  nrf6jcpjyzvr2nl    card
26550  success  935316640  2m6ajgf8mobhfg0    card
26564  success  935371358  ahuup6lpmwv4okb    card

                       Created At Currency  Amount   Fees  Amount Due  \
26463  Dec 24th, 2020 02:53:13 AM      NGN  2400.0   36.0      2364.0
26500  Dec 24th, 2020 09:13:56 AM      NGN  1700.0   25.5      1674.5
26550  Dec 24th, 2020 01:02:56 PM      NGN  2200.0   33.0      2167.0
26564  Dec 24th, 2020 02:00:06 PM      NGN  3100.0  146.5      2953.5

                Customer Email         Card Type                 Bank  \

26617  2020-12  2020-12-25
        Status         Id        Reference Channel  \
26565  success  935376755  uxl8487wchg0pzb    card

                       Created At Currency  Amount  Fees  Amount Due  \
26565  Dec 24th, 2020 02:06:00 PM      NGN  1800.0  27.0      1773.0

               Customer Email         Card Type             Bank job_date  \
26565  evygal2003@yahoo.co.uk  mastercard DEBIT  Ecobank Nigeria  2020-12

         day_year
26565  2020-12-24
        Status         Id        Reference Channel  \
26578  success  935452868     trx_66ydk5kd    card
26579  success  935453575  7yewxeiidte6ga9    card

                       Created At Currency  Amount   Fees  Amount Due  \
26578  Dec 24th, 2020 03:21:14 PM      NGN    50.0   0.75       49.25
26579  Dec 24th, 2020 03:21:59 PM      NGN  1400.0  21.00     1379.00

             Customer Email         Card Type                 Bank job_date  \
26578  faydimples@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26579  faydimples@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26578  2020-12-24
26579  2020-12-24
        Status         Id        Reference Channel  \
26632  success  937184631  5v3pg25epm1l2jg    card

                       Created At Currency  Amount  Fees  Amount Due  \
26632  Dec 26th, 2020 08:01:27 AM      NGN  1600.0  24.0      1576.0

            Customer Email         Card Type                 Bank job_date  \
26632  folasadey@yahoo.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26632  2020-12-26
        Status         Id        Reference Channel  \
26506  success  935117393     trx_oqeuxep4    card
26507  success  935117829  bdg7w4c4i8to2c9    card

                       Created At Currency  Amount    Fees  Amount Due  \
26506  Dec 24th, 2020 09:33:43 AM      NGN    50.0    0.75       49.25
26507  Dec 24th, 2020 09:34:14 AM      NGN  3700.0  155.50     3544.50

                 Customer Email         Card Type                      Bank  \
26506  folugbadegesin@gmail.com  mastercard DEBIT  First City Monument Bank
26507  folugbadegesin@gmail.com  mastercard DEBIT  First City Monument Bank

      job_date    day_year
26506  2020-12  2020-12-24
26507  2020-12  2020-12-24
        Status         Id     Reference Channel                  Created At  \
26540  success  935285023  trx_sv9gf20v    card  Dec 24th, 2020 12:30:11 PM

      Currency  Amount  Fees  Amount Due         Customer Email  \
26540      NGN    50.0  0.75       49.25  gia.lalwani@gmail.com

              Card Type                   Bank job_date    day_year
26540  mastercard DEBIT  Union Bank of Nigeria  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26720  success  940020657  0iboeitktb0aevu    card
26722  success  940085849  zm10v2m65qal80t    card

                       Created At Currency  Amount  Fees  Amount Due  \
26720  Dec 28th, 2020 02:45:31 PM      NGN  2400.0  36.0      2364.0
26722  Dec 28th, 2020 03:31:52 PM      NGN  2400.0  36.0      2364.0

                  Customer Email         Card Type                      Bank  \
26720  glorioussendoff@gmail.com  mastercard DEBIT  First City Monument Bank
26722  glorioussendoff@gmail.com  mastercard DEBIT  First City Monument Bank

      job_date    day_year
26720  2020-12  2020-12-28
26722  2020-12  2020-12-28
        Status         Id        Reference Channel  \
26653  success  937621213  ix4jf9q93l9giu6    card

                       Created At Currency  Amount   Fees  Amount Due  \
26653  Dec 26th, 2020 01:41:42 PM      NGN  4400.0  166.0      4234.0

           Customer Email         Card Type                   Bank job_date  \
26653  gnelegal@yahoo.com  mastercard DEBIT  First Bank of Nigeria  2020-12

         day_year
26653  2020-12-26
        Status         Id        Reference Channel  \
26610  success  936147255  orpmsdx71m8wy0a    card

                       Created At Currency  Amount   Fees  Amount Due  \
26610  Dec 25th, 2020 06:50:56 AM      NGN  3400.0  151.0      3249.0

                        Customer Email         Card Type                 Bank  \
26610  gourmetfusioncatering@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26610  2020-12  2020-12-25
        Status         Id        Reference Channel  \
26695  success  939756285  bcp4j7dem3dw5z2    card
26721  success  940039045  bi8grxz3tccaa35    card

                       Created At Currency  Amount   Fees  Amount Due  \
26695  Dec 28th, 2020 10:30:03 AM      NGN  1623.0  24.35     1598.65
26721  Dec 28th, 2020 02:59:28 PM      NGN  1622.0  24.33     1597.67

             Customer Email         Card Type                 Bank job_date  \
26695  gracenet10@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26721  gracenet10@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26695  2020-12-28
26721  2020-12-28
        Status         Id        Reference Channel  \
26490  success  935053987  7du0cgmskj46q0q    card

                       Created At Currency  Amount   Fees  Amount Due  \
26490  Dec 24th, 2020 08:23:20 AM      NGN  2800.0  142.0      2658.0

                 Customer Email         Card Type                 Bank  \
26490  grocerygiantng@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26490  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26513  success  935146747  aefjbjijpevlyc9    card
26573  success  935409639  90qpmqdxugwsbyz    card

                       Created At Currency  Amount   Fees  Amount Due  \
26513  Dec 24th, 2020 10:05:36 AM      NGN  1500.0   22.5      1477.5
26573  Dec 24th, 2020 02:39:04 PM      NGN  2600.0  139.0      2461.0

              Customer Email         Card Type                 Bank job_date  \
26513  guzzilala@yahoo.co.uk  mastercard DEBIT  Guaranty Trust Bank  2020-12
26573  guzzilala@yahoo.co.uk  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26513  2020-12-24
26573  2020-12-24
        Status         Id        Reference Channel  \
26602  success  935770333  ypq9dtjswimqh85    card

                       Created At Currency  Amount  Fees  Amount Due  \
26602  Dec 24th, 2020 09:21:43 PM      NGN  1900.0  28.5      1871.5

                  Customer Email         Card Type                    Bank  \
26602  hamzatyusuf2016@gmail.com  mastercard DEBIT  United Bank for Africa

      job_date    day_year
26602  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26612  success  936162964  x820mlk99xcri3p    card
26686  success  939672786  dgz5johudj1krpe    card

                       Created At Currency  Amount  Fees  Amount Due  \
26612  Dec 25th, 2020 07:14:16 AM      NGN   200.0   3.0       197.0
26686  Dec 28th, 2020 09:05:58 AM      NGN   200.0   3.0       197.0

           Customer Email         Card Type                 Bank job_date  \
26612  hello@evuryman.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26686  hello@evuryman.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26612  2020-12-25
26686  2020-12-28
        Status         Id        Reference Channel  \
26712  success  939872014  7zzy5dhjuqngaub    card

                       Created At Currency  Amount  Fees  Amount Due  \
26712  Dec 28th, 2020 12:23:23 PM      NGN  2000.0  30.0      1970.0

             Customer Email         Card Type               Bank job_date  \
26712  hellovudoh@gmail.com  mastercard DEBIT  Stanbic IBTC Bank  2020-12

         day_year
26712  2020-12-28
        Status         Id        Reference Channel  \
26493  success  935067961  9zcg1e4dvgaf8bz    card

                       Created At Currency  Amount  Fees  Amount Due  \
26493  Dec 24th, 2020 08:39:00 AM      NGN   400.0   6.0       394.0

      Customer Email         Card Type                 Bank job_date  \
26493   hi@flevor.co  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26493  2020-12-24
        Status         Id        Reference Channel  \
26572  success  935399584  di92vx7v80yd6lc    card
26618  success  936297353  4xzgoiawktbmw87    card
26661  success  937760372  zeaild4ir0nsk7d    card

                       Created At Currency  Amount   Fees  Amount Due  \
26572  Dec 24th, 2020 02:29:18 PM      NGN  1600.0   24.0      1576.0
26618  Dec 25th, 2020 10:05:24 AM      NGN  3800.0  157.0      3643.0
26661  Dec 26th, 2020 03:36:44 PM      NGN  3000.0  145.0      2855.0

                  Customer Email         Card Type                 Bank  \
26572  ibiyemi.fashola@gmail.com  mastercard DEBIT  Guaranty Trust Bank
26618  ibiyemi.fashola@gmail.com  mastercard DEBIT  Guaranty Trust Bank
26661  ibiyemi.fashola@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26572  2020-12  2020-12-24
26618  2020-12  2020-12-25
26661  2020-12  2020-12-26
        Status         Id        Reference Channel  \
26590  success  935540524     trx_o7azha04    card
26591  success  935541092  ah6mzs5oymebs5y    card

                       Created At Currency  Amount   Fees  Amount Due  \
26590  Dec 24th, 2020 04:52:08 PM      NGN    50.0   0.75       49.25
26591  Dec 24th, 2020 04:52:46 PM      NGN  1700.0  25.50     1674.50

           Customer Email         Card Type               Bank job_date  \
26590  idamjane@gmail.com  mastercard DEBIT  Stanbic IBTC Bank  2020-12
26591  idamjane@gmail.com  mastercard DEBIT  Stanbic IBTC Bank  2020-12

         day_year
26590  2020-12-24
26591  2020-12-24
        Status         Id        Reference Channel  \
26692  success  939728803  srr7kj9nfo6fy2e    card

                       Created At Currency  Amount  Fees  Amount Due  \
26692  Dec 28th, 2020 10:01:20 AM      NGN  1200.0  18.0      1182.0

       Customer Email         Card Type                 Bank job_date  \
26692  info@bola3.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26692  2020-12-28
        Status         Id        Reference Channel  \
26588  success  935523803  z6q8dr3qgqzf1f3    card
26638  success  937432669  5uml4ulwpjscp0e    card
26640  success  937439691  fnnco3dvc3zmab2    card

                       Created At Currency  Amount  Fees  Amount Due  \
26588  Dec 24th, 2020 04:34:14 PM      NGN   800.0  12.0       788.0
26638  Dec 26th, 2020 11:21:37 AM      NGN  2200.0  33.0      2167.0
26640  Dec 26th, 2020 11:26:23 AM      NGN  1400.0  21.0      1379.0

               Customer Email         Card Type               Bank job_date  \
26588  info@myburntorange.com  mastercard DEBIT  Stanbic IBTC Bank  2020-12
26638  info@myburntorange.com  mastercard DEBIT  Stanbic IBTC Bank  2020-12
26640  info@myburntorange.com  mastercard DEBIT  Stanbic IBTC Bank  2020-12

         day_year
26588  2020-12-24
26638  2020-12-26
26640  2020-12-26
        Status         Id        Reference Channel  \
26708  success  939842849  5vkgkayvl5ggqrr    card

                       Created At Currency  Amount  Fees  Amount Due  \
26708  Dec 28th, 2020 11:56:19 AM      NGN  2000.0  30.0      1970.0

            Customer Email         Card Type         Bank job_date    day_year
26708  iomoaluse@gmail.com  mastercard DEBIT  Zenith Bank  2020-12  2020-12-28
        Status         Id        Reference Channel  \
26728  success  940265346  xyprxdenu1rjuvt    card

                       Created At Currency  Amount   Fees  Amount Due  \
26728  Dec 28th, 2020 05:50:07 PM      NGN  3300.0  149.5      3150.5

                   Customer Email         Card Type                 Bank  \
26728  iraborelizabeth0@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26728  2020-12  2020-12-28
        Status         Id        Reference Channel  \
26601  success  935700092  ni3glyom4x48lwb    card

                       Created At Currency  Amount   Fees  Amount Due  \
26601  Dec 24th, 2020 07:51:03 PM      NGN  3100.0  146.5      2953.5

               Customer Email         Card Type                 Bank job_date  \
26601  iyanuoyolola@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26601  2020-12-24
        Status         Id        Reference Channel  \
26467  success  934913947  hwg6ke4qa3wj8sv    card

                       Created At Currency  Amount   Fees  Amount Due  \
26467  Dec 24th, 2020 05:21:01 AM      NGN  2500.0  137.5      2362.5

             Customer Email         Card Type         Bank job_date  \
26467  iykewheezy@yahoo.com  mastercard DEBIT  Access Bank  2020-12

         day_year
26467  2020-12-24
        Status         Id        Reference Channel  \
26719  success  939985589  5hg3bobaa28vj06    card

                       Created At Currency  Amount   Fees  Amount Due  \
26719  Dec 28th, 2020 02:16:25 PM      NGN  4200.0  163.0      4037.0

           Customer Email         Card Type           Bank job_date  \
26719  jarehdas@gmail.com  mastercard DEBIT  Keystone Bank  2020-12

         day_year
26719  2020-12-28
        Status         Id        Reference Channel  \
26512  success  935145838  st0rje7b2jp0evx    card
26519  success  935191002     trx_aoce9haa    card
26520  success  935191537  soekn7lw1viws6z    card

                       Created At Currency  Amount    Fees  Amount Due  \
26512  Dec 24th, 2020 10:04:42 AM      NGN  3100.0  146.50     2953.50
26519  Dec 24th, 2020 10:54:26 AM      NGN    50.0    0.75       49.25
26520  Dec 24th, 2020 10:54:58 AM      NGN  1000.0   15.00      985.00

                  Customer Email         Card Type                   Bank  \
26512  jessypeters1996@gmail.com  mastercard DEBIT  Union Bank of Nigeria
26519  jessypeters1996@gmail.com  mastercard DEBIT  Union Bank of Nigeria
26520  jessypeters1996@gmail.com  mastercard DEBIT  Union Bank of Nigeria

      job_date    day_year
26512  2020-12  2020-12-24
26519  2020-12  2020-12-24
26520  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26652  success  937605301  jmzi2e2hcgavaub    card

                       Created At Currency  Amount  Fees  Amount Due  \
26652  Dec 26th, 2020 01:27:29 PM      NGN  2400.0  36.0      2364.0

              Customer Email         Card Type                 Bank job_date  \
26652  judith.otue@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26652  2020-12-26
        Status         Id        Reference Channel  \
26697  success  939774220     trx_8xlb987p    card
26698  success  939785092  oowtqtc2xqxcje1    card
26704  success  939815826  bkqgdu2x6et5uud    card
26705  success  939819798  7gv1ry86i5w78td    card
26706  success  939833309  r79obqupw2q1p9y    card

                       Created At Currency  Amount    Fees  Amount Due  \
26697  Dec 28th, 2020 10:49:14 AM      NGN    50.0    0.75       49.25
26698  Dec 28th, 2020 11:01:00 AM      NGN   800.0   12.00      788.00
26704  Dec 28th, 2020 11:29:46 AM      NGN  2400.0   36.00     2364.00
26705  Dec 28th, 2020 11:33:43 AM      NGN  2000.0   30.00     1970.00
26706  Dec 28th, 2020 11:46:55 AM      NGN  3400.0  151.00     3249.00

             Customer Email         Card Type         Bank job_date  \
26697  jzofashion@gmail.com  mastercard DEBIT  Zenith Bank  2020-12
26698  jzofashion@gmail.com  mastercard DEBIT  Zenith Bank  2020-12
26704  jzofashion@gmail.com  mastercard DEBIT  Zenith Bank  2020-12
26705  jzofashion@gmail.com  mastercard DEBIT  Zenith Bank  2020-12
26706  jzofashion@gmail.com  mastercard DEBIT  Zenith Bank  2020-12

         day_year
26697  2020-12-28
26698  2020-12-28
26704  2020-12-28
26705  2020-12-28
26706  2020-12-28
        Status         Id        Reference Channel  \
26483  success  935025539  a506j62j566qwts    card
26554  success  935332846  7v898xd7mkrwr2w    card
26701  success  939803249  mvejs5xl1n0s343    card

                       Created At Currency  Amount   Fees  Amount Due  \
26483  Dec 24th, 2020 07:54:12 AM      NGN  1700.0   25.5      1674.5
26554  Dec 24th, 2020 01:19:40 PM      NGN  2100.0   31.5      2068.5
26701  Dec 28th, 2020 11:17:43 AM      NGN  2700.0  140.5      2559.5

             Customer Email         Card Type                 Bank job_date  \
26483  kelvinagum@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26554  kelvinagum@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26701  kelvinagum@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26483  2020-12-24
26554  2020-12-24
26701  2020-12-28
        Status         Id        Reference Channel  \
26688  success  939677128  nxxyzr2gsf6rts8    card

                       Created At Currency  Amount  Fees  Amount Due  \
26688  Dec 28th, 2020 09:09:47 AM      NGN  1300.0  19.5      1280.5

               Customer Email         Card Type                 Bank job_date  \
26688  kemi_lawal@hotmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26688  2020-12-28
        Status         Id        Reference Channel  \
26637  success  937423777  9tw00qdvywuz5ux    card
26647  success  937572329  dho8ykypy1do70y    card

                       Created At Currency  Amount  Fees  Amount Due  \
26637  Dec 26th, 2020 11:15:41 AM      NGN  1500.0  22.5      1477.5
26647  Dec 26th, 2020 12:57:45 PM      NGN  1500.0  22.5      1477.5

           Customer Email         Card Type                 Bank job_date  \
26637  kenerapu@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26647  kenerapu@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26637  2020-12-26
26647  2020-12-26
        Status         Id        Reference Channel  \
26492  success  935059751  pnps8n9k7jm8rjv    card

                       Created At Currency  Amount   Fees  Amount Due  \
26492  Dec 24th, 2020 08:29:37 AM      NGN  2600.0  139.0      2461.0

           Customer Email         Card Type                 Bank job_date  \
26492  kppjinec@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26492  2020-12-24
        Status         Id        Reference Channel  \
26502  success  935103044     trx_ixjtwy1z    card
26730  success  940358383  km83c0xg5t00s97    card

                       Created At Currency  Amount    Fees  Amount Due  \
26502  Dec 24th, 2020 09:17:55 AM      NGN    50.0    0.75       49.25
26730  Dec 28th, 2020 07:20:10 PM      NGN  3800.0  157.00     3643.00

           Customer Email         Card Type                      Bank  \
26502  krufai03@gmail.com  mastercard DEBIT  First City Monument Bank
26730  krufai03@gmail.com  mastercard DEBIT  First City Monument Bank

      job_date    day_year
26502  2020-12  2020-12-24
26730  2020-12  2020-12-28
        Status         Id        Reference Channel  \
26586  success  935503208  pzzsru5vd0aolf1    card

                       Created At Currency  Amount  Fees  Amount Due  \
26586  Dec 24th, 2020 04:11:24 PM      NGN  2200.0  33.0      2167.0

             Customer Email         Card Type               Bank job_date  \
26586  kunbizreal@gmail.com  mastercard DEBIT  Stanbic IBTC Bank  2020-12

         day_year
26586  2020-12-24
        Status         Id     Reference Channel                  Created At  \
26678  success  938923588  trx_b0roylwm    card  Dec 27th, 2020 03:31:10 PM

      Currency  Amount  Fees  Amount Due        Customer Email  \
26678      NGN    50.0  0.75       49.25  ladelois80@gmail.com

              Card Type                 Bank job_date    day_year
26678  mastercard DEBIT  Guaranty Trust Bank  2020-12  2020-12-27
        Status         Id     Reference Channel                  Created At  \
26566  success  935376948  trx_315arsc1    card  Dec 24th, 2020 02:06:11 PM

      Currency  Amount  Fees  Amount Due         Customer Email  \
26566      NGN    50.0  0.75       49.25  laedyphumie@gmail.com

              Card Type                 Bank job_date    day_year
26566  mastercard DEBIT  Guaranty Trust Bank  2020-12  2020-12-24
        Status         Id        Reference Channel  \

26625  2020-12-25
        Status         Id        Reference Channel  \
26710  success  939850294  a58ukuhwrs76uww    card

                       Created At Currency  Amount  Fees  Amount Due  \
26710  Dec 28th, 2020 12:03:09 PM      NGN  2000.0  30.0      1970.0

            Customer Email         Card Type                    Bank job_date  \
26710  mlkernest@yahoo.com  mastercard DEBIT  United Bank for Africa  2020-12

         day_year
26710  2020-12-28
        Status         Id        Reference Channel  \
26648  success  937585906  djzxh6yyov2krs0    card
26671  success  938679356  96e5zh6o5vvydd2    card

                       Created At Currency  Amount   Fees  Amount Due  \
26648  Dec 26th, 2020 01:09:40 PM      NGN  2900.0  143.5      2756.5
26671  Dec 27th, 2020 11:30:25 AM      NGN  3000.0  145.0      2855.0

                 Customer Email         Card Type                 Bank  \
26648  mogbogufrances@yahoo.com  mastercard DEBIT  Guaranty Trust Bank
26671  mogbogufrances@yahoo.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26648  2020-12  2020-12-26
26671  2020-12  2020-12-27
        Status         Id        Reference Channel  \
26699  success  939794597  v6egxx2lousf0m8    card

                       Created At Currency  Amount  Fees  Amount Due  \
26699  Dec 28th, 2020 11:09:43 AM      NGN  2300.0  34.5      2265.5

                  Customer Email         Card Type                 Bank  \
26699  monsuruajala.ma@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26699  2020-12  2020-12-28
        Status         Id        Reference Channel  \
26577  success  935452445     trx_k77voi7k    card
26607  success  936116020  44t9kdt03pjztb5    card

                       Created At Currency  Amount    Fees  Amount Due  \
26577  Dec 24th, 2020 03:20:50 PM      NGN    50.0    0.75       49.25
26607  Dec 25th, 2020 06:07:38 AM      NGN  5300.0  179.50     5120.50

                Customer Email         Card Type                 Bank  \
26577  mosesfalola@hotmail.com  mastercard DEBIT  Guaranty Trust Bank
26607  mosesfalola@hotmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26577  2020-12  2020-12-24
26607  2020-12  2020-12-25
        Status         Id        Reference Channel  \
26494  success  935068669  vvvozfyv3pezoxf    card

                       Created At Currency  Amount  Fees  Amount Due  \
26494  Dec 24th, 2020 08:39:48 AM      NGN  2300.0  34.5      2265.5

                 Customer Email         Card Type                 Bank  \
26494  muyideendosumu@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26494  2020-12  2020-12-24
        Status         Id     Reference Channel                  Created At  \
26524  success  935210299  trx_ajmm57e1    card  Dec 24th, 2020 11:13:20 AM

      Currency  Amount  Fees  Amount Due         Customer Email  \
26524      NGN    50.0  0.75       49.25  myspnigeria@gmail.com

              Card Type                 Bank job_date    day_year
26524  mastercard DEBIT  Guaranty Trust Bank  2020-12  2020-12-24
        Status         Id     Reference Channel                  Created At  \
26516  success  935171923  trx_5slelky6    card  Dec 24th, 2020 10:33:14 AM

      Currency  Amount  Fees  Amount Due         Customer Email  \
26516      NGN    50.0  0.75       49.25  newmanyinka@yahoo.com

              Card Type                 Bank job_date    day_year
26516  mastercard DEBIT  Guaranty Trust Bank  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26536  success  935275174  ragggetg4xqx21a    card

                       Created At Currency  Amount   Fees  Amount Due  \
26536  Dec 24th, 2020 12:19:36 PM      NGN  4100.0  161.5      3938.5

              Customer Email         Card Type                 Bank job_date  \
26536  nibi.lawson@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26536  2020-12-24
        Status         Id        Reference Channel  \
26672  success  938730982  rrem4ctg5mfran8    card
26673  success  938757995  dn3hp5mwmck345l    card

                       Created At Currency  Amount   Fees  Amount Due  \
26672  Dec 27th, 2020 12:18:04 PM      NGN  3800.0  157.0      3643.0
26673  Dec 27th, 2020 12:44:48 PM      NGN  4700.0  170.5      4529.5

              Customer Email         Card Type                 Bank job_date  \
26672  nkem_mbah@hotmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26673  nkem_mbah@hotmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26672  2020-12-27
26673  2020-12-27
        Status         Id        Reference Channel  \
26558  success  935340885  wy6so73bew2emzi    card
26598  success  935598485  n0ww2gp44ksrftf    card
26608  success  936135312  hjdhbx9anma5rk0    card

                       Created At Currency  Amount   Fees  Amount Due  \
26558  Dec 24th, 2020 01:28:09 PM      NGN  1500.0   22.5      1477.5
26598  Dec 24th, 2020 05:55:39 PM      NGN  2500.0  137.5      2362.5
26608  Dec 25th, 2020 06:31:59 AM      NGN  2500.0  137.5      2362.5

               Customer Email         Card Type                 Bank job_date  \
26558  o.apalara@iexgames.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26598  o.apalara@iexgames.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26608  o.apalara@iexgames.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26558  2020-12-24
26598  2020-12-24
26608  2020-12-25
        Status         Id        Reference Channel  \
26476  success  935001672  cjwwoegyfe6vtc6    card

                       Created At Currency  Amount  Fees  Amount Due  \
26476  Dec 24th, 2020 07:25:29 AM      NGN  1900.0  28.5      1871.5

             Customer Email         Card Type                 Bank job_date  \
26476  oabhulimen@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26476  2020-12-24
        Status         Id        Reference Channel  \
26551  success  935324062  qmb4ytoc58icmku    card

                       Created At Currency  Amount   Fees  Amount Due  \
26551  Dec 24th, 2020 01:10:30 PM      NGN  2700.0  140.5      2559.5

                Customer Email         Card Type                 Bank  \
26551  obianuju.abah@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26551  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26621  success  936316180  pwlkix5fuachzeb    card

                       Created At Currency  Amount   Fees  Amount Due  \
26621  Dec 25th, 2020 10:30:12 AM      NGN  2500.0  137.5      2362.5

              Customer Email         Card Type                      Bank  \
26621  obimdestiny@gmail.com  mastercard DEBIT  First City Monument Bank

      job_date    day_year
26621  2020-12  2020-12-25
        Status         Id        Reference Channel  \
26503  success  935110875     trx_vnisnj0g    card
26505  success  935111650  jd1nup9b9adb3cp    card

                       Created At Currency  Amount    Fees  Amount Due  \
26503  Dec 24th, 2020 09:26:34 AM      NGN    50.0    0.75       49.25
26505  Dec 24th, 2020 09:27:27 AM      NGN  3000.0  145.00     2855.00

            Customer Email         Card Type         Bank job_date    day_year
26503  odifine28@gmail.com  mastercard DEBIT  Zenith Bank  2020-12  2020-12-24
26505  odifine28@gmail.com  mastercard DEBIT  Zenith Bank  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26522  success  935202109  jr5jkg1rco1w7fe    card

                       Created At Currency  Amount  Fees  Amount Due  \
26522  Dec 24th, 2020 11:05:22 AM      NGN  1200.0  18.0      1182.0

                Customer Email         Card Type                    Bank  \
26522  oduntan.sanmi@gmail.com  mastercard DEBIT  United Bank for Africa

      job_date    day_year
26522  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26479  success  935009462  f28vp4ifj25pfu7    card

                       Created At Currency  Amount  Fees  Amount Due  \
26479  Dec 24th, 2020 07:34:48 AM      NGN  1400.0  21.0      1379.0

            Customer Email         Card Type         Bank job_date    day_year
26479  ogohorubu@gmail.com  mastercard DEBIT  Zenith Bank  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26623  success  936401566  j3agappvz1z6lnc    card
26660  success  937750223  2d7mc6pprkd1mir    card

                       Created At Currency  Amount  Fees  Amount Due  \
26623  Dec 25th, 2020 12:17:09 PM      NGN  2100.0  31.5      2068.5
26660  Dec 26th, 2020 03:25:58 PM      NGN  1600.0  24.0      1576.0

            Customer Email         Card Type                   Bank job_date  \
26623  ogsheetwo@gmail.com  mastercard DEBIT  First Bank of Nigeria  2020-12
26660  ogsheetwo@gmail.com  mastercard DEBIT  First Bank of Nigeria  2020-12

         day_year
26623  2020-12-25
26660  2020-12-26
        Status         Id        Reference Channel  \
26514  success  935149144  1tyykd4wzy4otqd    card

                       Created At Currency  Amount   Fees  Amount Due  \
26514  Dec 24th, 2020 10:08:13 AM      NGN  2500.0  137.5      2362.5

                Customer Email         Card Type               Bank job_date  \
26514  ogunrinolaife@yahoo.com  mastercard DEBIT  Stanbic IBTC Bank  2020-12

         day_year
26514  2020-12-24
        Status         Id        Reference Channel  \
26702  success  939807002  aivkm5t4orhtrsg    card

                       Created At Currency  Amount  Fees  Amount Due  \
26702  Dec 28th, 2020 11:21:19 AM      NGN   300.0   4.5       295.5

                      Customer Email         Card Type                 Bank  \
26702  ohazulikeugochi1126@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26702  2020-12  2020-12-28
        Status         Id        Reference Channel  \
26684  success  939606948  2arg4rgnxljgktt    card

                       Created At Currency  Amount  Fees  Amount Due  \
26684  Dec 28th, 2020 07:56:45 AM      NGN  1600.0  24.0      1576.0

                  Customer Email         Card Type                 Bank  \
26684  olaaduraabigail@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26684  2020-12  2020-12-28
        Status         Id        Reference Channel  \
26680  success  939141117  o719q23n1x8hnds    card

                       Created At Currency  Amount   Fees  Amount Due  \
26680  Dec 27th, 2020 07:32:25 PM      NGN  3400.0  151.0      3249.0

                  Customer Email         Card Type                 Bank  \
26680  oladipo_opeyemi@yahoo.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26680  2020-12  2020-12-27
        Status         Id        Reference Channel  \
26589  success  935527322  8lw8kcsqy6kvh83    card
26616  success  936234569  rbdllvu3o2ubxjg    card

                       Created At Currency  Amount  Fees  Amount Due  \
26589  Dec 24th, 2020 04:37:52 PM      NGN  2200.0  33.0      2167.0
26616  Dec 25th, 2020 08:46:35 AM      NGN  2400.0  36.0      2364.0

                   Customer Email         Card Type                    Bank  \
26589  olaniyancmartins@gmail.com  mastercard DEBIT  United Bank for Africa
26616  olaniyancmartins@gmail.com  mastercard DEBIT  United Bank for Africa

      job_date    day_year
26589  2020-12  2020-12-24
26616  2020-12  2020-12-25
        Status         Id        Reference Channel  \
26724  success  940116169  vwmz9usxyv6gawk    card

                       Created At Currency  Amount  Fees  Amount Due  \
26724  Dec 28th, 2020 03:54:41 PM      NGN  2300.0  34.5      2265.5

              Customer Email         Card Type                    Bank  \
26724  olaoladele8@gmail.com  mastercard DEBIT  United Bank for Africa

      job_date    day_year
26724  2020-12  2020-12-28
        Status         Id        Reference Channel  \
26504  success  935111416  l80cky10i7z49sr    card

                       Created At Currency  Amount   Fees  Amount Due  \
26504  Dec 24th, 2020 09:27:09 AM      NGN  2700.0  140.5      2559.5

             Customer Email         Card Type                 Bank job_date  \
26504  ololade@kudabank.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26504  2020-12-24
        Status         Id        Reference Channel  \
26587  success  935514181  vsj18zbjvenmodm    card

                       Created At Currency  Amount  Fees  Amount Due  \
26587  Dec 24th, 2020 04:23:46 PM      NGN  1400.0  21.0      1379.0

                       Customer Email         Card Type                 Bank  \
26587  oluwafemi.adebanjo22@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26587  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26700  success  939801021  ff9lyt93kpayz3g    card

                       Created At Currency  Amount  Fees  Amount Due  \
26700  Dec 28th, 2020 11:15:35 AM      NGN   800.0  12.0       788.0

                     Customer Email         Card Type                 Bank  \
26700  oluwaseunadebowale@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26700  2020-12  2020-12-28
        Status         Id        Reference Channel  \
26571  success  935398558  sbanlmfagvlrtjh    card

                       Created At Currency  Amount  Fees  Amount Due  \
26571  Dec 24th, 2020 02:28:11 PM      NGN   500.0   7.5       492.5

                  Customer Email         Card Type                 Bank  \
26571  omosalewabadejo@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26571  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26480  success  935016926  9umwf3ikjtx7rvl    card

                       Created At Currency  Amount  Fees  Amount Due  \
26480  Dec 24th, 2020 07:44:04 AM      NGN  1600.0  24.0      1576.0

                Customer Email         Card Type                 Bank  \
26480  omotayoopaola@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26480  2020-12  2020-12-24
        Status         Id      Reference Channel                  Created At  \
26645  success  937563889  1608987008624    card  Dec 26th, 2020 12:50:11 PM

      Currency  Amount  Fees  Amount Due       Customer Email  \
26645      NGN     1.0  0.02        0.98  omotebi55@gmail.com

              Card Type                 Bank job_date    day_year
26645  mastercard DEBIT  Guaranty Trust Bank  2020-12  2020-12-26
        Status         Id        Reference Channel  \
26641  success  937486701     trx_8jexdp8w    card
26642  success  937488656  9dtqvzevukvzeap    card

                       Created At Currency  Amount   Fees  Amount Due  \
26641  Dec 26th, 2020 11:58:58 AM      NGN    50.0   0.75       49.25
26642  Dec 26th, 2020 12:00:13 PM      NGN  2000.0  30.00     1970.00

                       Customer Email         Card Type          Bank  \
26641  omotolaniolayiwola95@gmail.com  mastercard DEBIT  Polaris Bank
26642  omotolaniolayiwola95@gmail.com  mastercard DEBIT  Polaris Bank

      job_date    day_year
26641  2020-12  2020-12-26
26642  2020-12  2020-12-26
        Status         Id        Reference Channel  \
26627  success  936469018  80g0sv80qk3zusk    card

                       Created At Currency  Amount   Fees  Amount Due  \
26627  Dec 25th, 2020 01:58:31 PM      NGN  3600.0  154.0      3446.0

               Customer Email         Card Type                 Bank job_date  \
26627  onadekosunbo@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26627  2020-12-25
        Status         Id        Reference Channel  \
26658  success  937742590  ui7lzpkxty5uqab    card
26666  success  937944378  03frz4uwg4vyfnm    card

                       Created At Currency  Amount  Fees  Amount Due  \
26658  Dec 26th, 2020 03:17:51 PM      NGN  1300.0  19.5      1280.5
26666  Dec 26th, 2020 06:41:51 PM      NGN  2100.0  31.5      2068.5

                 Customer Email         Card Type                 Bank  \
26658  oolanrewaju357@gmail.com  mastercard DEBIT            Wema Bank
26666  oolanrewaju357@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26658  2020-12  2020-12-26
26666  2020-12  2020-12-26
        Status         Id        Reference Channel  \
26691  success  939715035  amfb6qd95r0fbr5    card

                       Created At Currency  Amount   Fees  Amount Due  \
26691  Dec 28th, 2020 09:47:33 AM      NGN  2900.0  143.5      2756.5

                  Customer Email         Card Type                 Bank  \
26691  opeyemiabiona42@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26691  2020-12  2020-12-28
        Status         Id        Reference Channel  \
26518  success  935182045  lfjxi2zi16o3fcg    card

                       Created At Currency  Amount  Fees  Amount Due  \
26518  Dec 24th, 2020 10:44:26 AM      NGN  1300.0  19.5      1280.5

             Customer Email         Card Type                    Bank  \
26518  ore.ire.16@gmail.com  mastercard DEBIT  United Bank for Africa

      job_date    day_year
26518  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26556  success  935334358  bzq2swfdtnsvg3t    card
26630  success  936809746  n2mrwprfv1anh1o    card
26631  success  936818685  48puiijfdfqbrsp    card
26634  success  937286355  i7927uisfl1qrq4    card
26665  success  937870744  html63m81bcit05    card
26676  success  938888763  trsbpo43c6db3pj    card
26723  success  940114504  f8862bwzts0urt8    card

                       Created At Currency  Amount   Fees  Amount Due  \
26556  Dec 24th, 2020 01:21:13 PM      NGN  2900.0  143.5      2756.5
26630  Dec 25th, 2020 09:49:49 PM      NGN  1900.0   28.5      1871.5
26631  Dec 25th, 2020 10:01:25 PM      NGN  1200.0   18.0      1182.0
26634  Dec 26th, 2020 09:27:39 AM      NGN  2900.0  143.5      2756.5
26665  Dec 26th, 2020 05:20:51 PM      NGN  1200.0   18.0      1182.0
26676  Dec 27th, 2020 02:56:16 PM      NGN  2600.0  139.0      2461.0
26723  Dec 28th, 2020 03:53:32 PM      NGN  1400.0   21.0      1379.0

                 Customer Email         Card Type                 Bank  \
26556  oyeleyetutuola@yahoo.com  mastercard DEBIT  Guaranty Trust Bank
26630  oyeleyetutuola@yahoo.com  mastercard DEBIT  Guaranty Trust Bank
26631  oyeleyetutuola@yahoo.com  mastercard DEBIT  Guaranty Trust Bank
26634  oyeleyetutuola@yahoo.com  mastercard DEBIT  Guaranty Trust Bank
26665  oyeleyetutuola@yahoo.com  mastercard DEBIT  Guaranty Trust Bank
26676  oyeleyetutuola@yahoo.com  mastercard DEBIT  Guaranty Trust Bank
26723  oyeleyetutuola@yahoo.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26556  2020-12  2020-12-24
26630  2020-12  2020-12-25
26631  2020-12  2020-12-25
26634  2020-12  2020-12-26
26665  2020-12  2020-12-26
26676  2020-12  2020-12-27
26723  2020-12  2020-12-28
        Status         Id        Reference Channel  \
26531  success  935252391  trps9ddf4a129hb    card
26538  success  935283493  c6gp1im7s9lqnjn    card

                       Created At Currency  Amount  Fees  Amount Due  \
26531  Dec 24th, 2020 11:56:00 AM      NGN   700.0  10.5       689.5
26538  Dec 24th, 2020 12:28:31 PM      NGN  1800.0  27.0      1773.0

                  Customer Email         Card Type                 Bank  \
26531  oyinkansolamary@gmail.com  mastercard DEBIT  Guaranty Trust Bank
26538  oyinkansolamary@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26531  2020-12  2020-12-24
26538  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26626  success  936453404  uly9eqq77w9nz42    card

                       Created At Currency  Amount  Fees  Amount Due  \
26626  Dec 25th, 2020 01:34:58 PM      NGN  2300.0  34.5      2265.5


26596  2020-12-24
        Status         Id        Reference Channel  \
26481  success  935019477  efn3igbwmt5wcx4    card
26562  success  935355862  xlamvae3959xxvu    card

                       Created At Currency  Amount  Fees  Amount Due  \
26481  Dec 24th, 2020 07:47:05 AM      NGN  1100.0  16.5      1083.5
26562  Dec 24th, 2020 01:43:42 PM      NGN  2000.0  30.0      1970.0

              Customer Email         Card Type         Bank job_date  \
26481  poultrymade@gmail.com  mastercard DEBIT  Zenith Bank  2020-12
26562  poultrymade@gmail.com  mastercard DEBIT  Zenith Bank  2020-12

         day_year
26481  2020-12-24
26562  2020-12-24
        Status         Id        Reference Channel  \
26567  success  935377621  f18wghnwc0x4ev2    card

                       Created At Currency  Amount   Fees  Amount Due  \
26567  Dec 24th, 2020 02:06:52 PM      NGN  3000.0  145.0      2855.0

              Customer Email         Card Type                 Bank job_date  \
26567  quddus_saba@yahoo.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26567  2020-12-24
        Status         Id     Reference Channel                  Created At  \
26473  success  934993804  trx_ku0f8fv8    card  Dec 24th, 2020 07:16:46 AM

      Currency  Amount  Fees  Amount Due            Customer Email  \
26473      NGN    50.0  0.75       49.25  queeniedebillz@gmail.com

              Card Type                 Bank job_date    day_year
26473  mastercard DEBIT  Guaranty Trust Bank  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26599  success  935669255  bg1p7miskl6lfef    card

                       Created At Currency  Amount  Fees  Amount Due  \
26599  Dec 24th, 2020 07:15:51 PM      NGN  1500.0  22.5      1477.5

                Customer Email         Card Type                 Bank  \
26599  renbekcompany@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26599  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26484  success  935027403  kzh4ohp8cjaqtg3    card
26485  success  935028659  jn77x6njppk78c9    card
26486  success  935029651  17v1833y8vr3zz8    card
26487  success  935030643  u7vwa9qlf13zhf3    card

                       Created At Currency  Amount   Fees  Amount Due  \
26484  Dec 24th, 2020 07:56:23 AM      NGN  1100.0   16.5      1083.5
26485  Dec 24th, 2020 07:57:48 AM      NGN  1600.0   24.0      1576.0
26486  Dec 24th, 2020 07:59:00 AM      NGN  2800.0  142.0      2658.0
26487  Dec 24th, 2020 08:00:10 AM      NGN  3000.0  145.0      2855.0

              Customer Email         Card Type                      Bank  \
26484  sadeonabowale@aol.com  mastercard DEBIT  First City Monument Bank
26485  sadeonabowale@aol.com  mastercard DEBIT  First City Monument Bank
26486  sadeonabowale@aol.com  mastercard DEBIT  First City Monument Bank
26487  sadeonabowale@aol.com  mastercard DEBIT  First City Monument Bank

      job_date    day_year
26484  2020-12  2020-12-24
26485  2020-12  2020-12-24
26486  2020-12  2020-12-24
26487  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26495  success  935070453     trx_ooidocu6    card
26496  success  935070800  l8papt2xzxgckn9    card
26681  success  939284165  3berr9631674iod    card

                       Created At Currency  Amount   Fees  Amount Due  \
26495  Dec 24th, 2020 08:41:54 AM      NGN    50.0   0.75       49.25
26496  Dec 24th, 2020 08:42:18 AM      NGN  1700.0  25.50     1674.50
26681  Dec 27th, 2020 10:32:19 PM      NGN  1900.0  28.50     1871.50

             Customer Email         Card Type                 Bank job_date  \
26495  sbolanle30@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26496  sbolanle30@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26681  sbolanle30@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26495  2020-12-24
26496  2020-12-24
26681  2020-12-27
        Status         Id        Reference Channel  \
26489  success  935040109  wb6ll45xp1vha27    card

                       Created At Currency  Amount  Fees  Amount Due  \
26489  Dec 24th, 2020 08:09:29 AM      NGN  2000.0  30.0      1970.0

                  Customer Email         Card Type                 Bank  \
26489  simeongabrielle@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26489  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26462  success  934794626  bnk4uaj017ttrnk    card

                       Created At Currency  Amount   Fees  Amount Due  \
26462  Dec 24th, 2020 01:01:31 AM      NGN  3700.0  155.5      3544.5

                Customer Email         Card Type                 Bank  \
26462  simisoladairo@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26462  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26659  success  937743627  41htkx857bjxfak    card

                       Created At Currency  Amount   Fees  Amount Due  \
26659  Dec 26th, 2020 03:18:49 PM      NGN  3000.0  145.0      2855.0

                   Customer Email         Card Type                 Bank  \
26659  sollypeeofficial@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26659  2020-12  2020-12-26
        Status         Id        Reference Channel  \
26643  success  937511057  422vgianp9rz9iu    card

                       Created At Currency  Amount   Fees  Amount Due  \
26643  Dec 26th, 2020 12:14:18 PM      NGN  3300.0  149.5      3150.5

               Customer Email         Card Type                 Bank job_date  \
26643  songs4sherry@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26643  2020-12-26
        Status         Id        Reference Channel  \
26464  success  934890835  zoao36znotf0z5o    card

                       Created At Currency  Amount  Fees  Amount Due  \
26464  Dec 24th, 2020 04:27:43 AM      NGN  1300.0  19.5      1280.5

               Customer Email         Card Type                 Bank job_date  \
26464  tangooscar02@yahoo.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26464  2020-12-24
        Status         Id        Reference Channel  \
26580  success  935456551  0imj0uwg98s7nty    card

                       Created At Currency  Amount  Fees  Amount Due  \
26580  Dec 24th, 2020 03:24:49 PM      NGN   400.0   6.0       394.0

                 Customer Email         Card Type             Bank job_date  \
26580  technicsgolden@gmail.com  mastercard DEBIT  Ecobank Nigeria  2020-12

         day_year
26580  2020-12-24
        Status         Id        Reference Channel  \
26635  success  937325200  lu5000o4leenr4r    card

                       Created At Currency  Amount   Fees  Amount Due  \
26635  Dec 26th, 2020 09:59:18 AM      NGN  3000.0  145.0      2855.0

                 Customer Email         Card Type                    Bank  \
26635  teniolaadedeji@gmail.com  mastercard DEBIT  United Bank for Africa

      job_date    day_year
26635  2020-12  2020-12-26
        Status         Id        Reference Channel  \
26611  success  936148603  soliax1tq60bwi9    card

                       Created At Currency  Amount   Fees  Amount Due  \
26611  Dec 25th, 2020 06:53:14 AM      NGN  2600.0  139.0      2461.0

               Customer Email         Card Type         Bank job_date  \
26611  thefoodboxng@gmail.com  mastercard DEBIT  Zenith Bank  2020-12

         day_year
26611  2020-12-25
        Status         Id        Reference Channel  \
26707  success  939839552  qzz4n44mr5w3cvv    card

                       Created At Currency  Amount   Fees  Amount Due  \
26707  Dec 28th, 2020 11:53:07 AM      NGN  2800.0  142.0      2658.0

            Customer Email         Card Type               Bank job_date  \
26707  tlmembere@gmail.com  mastercard DEBIT  Stanbic IBTC Bank  2020-12

         day_year
26707  2020-12-28
        Status         Id        Reference Channel  \
26482  success  935023820  afvkd5khbullfum    card

                       Created At Currency  Amount  Fees  Amount Due  \
26482  Dec 24th, 2020 07:52:01 AM      NGN  2200.0  33.0      2167.0

                  Customer Email         Card Type                      Bank  \
26482  tobi.omojuyigbe@gmail.com  mastercard DEBIT  First City Monument Bank

      job_date    day_year
26482  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26709  success  939848218  1s49p50m6bj8our    card

                       Created At Currency  Amount   Fees  Amount Due  \
26709  Dec 28th, 2020 12:01:15 PM      NGN  3300.0  149.5      3150.5

                Customer Email         Card Type                 Bank  \
26709  toniamaduka@hotmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26709  2020-12  2020-12-28
        Status         Id        Reference Channel  \
26574  success  935413744  u1r3jpm2vdrxf5v    card

                       Created At Currency  Amount   Fees  Amount Due  \
26574  Dec 24th, 2020 02:43:19 PM      NGN  3700.0  155.5      3544.5

                Customer Email         Card Type                 Bank  \
26574  topeomotayo80@yahoo.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26574  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26498  success  935086984  c2et9refnusx51s    card
26510  success  935142084  9uwcp2uon4gi06b    card
26603  success  935804510  uw8i0ek15tz2ypl    card
26604  success  935840700  8sn6xwraz747b1v    card
26605  success  935843184  4swwcwnwku8y2ji    card
26703  success  939814940  pk9mqu84hojhdwf    card

                       Created At Currency  Amount   Fees  Amount Due  \
26498  Dec 24th, 2020 09:01:10 AM      NGN  1500.0   22.5      1477.5
26510  Dec 24th, 2020 10:00:57 AM      NGN  3000.0  145.0      2855.0
26603  Dec 24th, 2020 10:01:03 PM      NGN  2600.0  139.0      2461.0
26604  Dec 24th, 2020 10:38:30 PM      NGN  1900.0   28.5      1871.5
26605  Dec 24th, 2020 10:40:58 PM      NGN  1800.0   27.0      1773.0
26703  Dec 28th, 2020 11:28:53 AM      NGN  2500.0  137.5      2362.5

                Customer Email         Card Type                 Bank  \
26498  toyinogundeko@gmail.com  mastercard DEBIT  Guaranty Trust Bank
26510  toyinogundeko@gmail.com  mastercard DEBIT  Guaranty Trust Bank
26603  toyinogundeko@gmail.com  mastercard DEBIT  Guaranty Trust Bank
26604  toyinogundeko@gmail.com  mastercard DEBIT  Guaranty Trust Bank
26605  toyinogundeko@gmail.com  mastercard DEBIT  Guaranty Trust Bank
26703  toyinogundeko@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26498  2020-12  2020-12-24
26510  2020-12  2020-12-24
26603  2020-12  2020-12-24
26604  2020-12  2020-12-24
26605  2020-12  2020-12-24
26703  2020-12  2020-12-28
        Status         Id        Reference Channel  \
26529  success  935244948  iidjk4oxb0bayja    card
26549  success  935314944  soq0lcftj9m7q0p    card

                       Created At Currency  Amount  Fees  Amount Due  \
26529  Dec 24th, 2020 11:47:54 AM      NGN   600.0   9.0       591.0
26549  Dec 24th, 2020 01:01:09 PM      NGN  1500.0  22.5      1477.5

               Customer Email         Card Type               Bank job_date  \
26529  uforoessien1@yahoo.com  mastercard DEBIT  Stanbic IBTC Bank  2020-12
26549  uforoessien1@yahoo.com  mastercard DEBIT  Stanbic IBTC Bank  2020-12

         day_year
26529  2020-12-24
26549  2020-12-24
        Status         Id     Reference Channel                  Created At  \
26497  success  935079828  trx_ka67ddgn    card  Dec 24th, 2020 08:53:11 AM

      Currency  Amount  Fees  Amount Due        Customer Email  \
26497      NGN    50.0  0.75       49.25  vibavictor@gmail.com

              Card Type                    Bank job_date    day_year
26497  mastercard DEBIT  United Bank for Africa  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26509  success  935136316  ueawbf3aw2yqzaz    card

                       Created At Currency  Amount  Fees  Amount Due  \
26509  Dec 24th, 2020 09:54:49 AM      NGN   600.0   9.0       591.0

                 Customer Email         Card Type                 Bank  \
26509  yanju_temitope@yahoo.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26509  2020-12  2020-12-24
        Status         Id        Reference Channel  \
26557  success  935338971  h5kvnybqleqh0e8    card

                       Created At Currency  Amount  Fees  Amount Due  \
26557  Dec 24th, 2020 01:26:06 PM      NGN   400.0   6.0       394.0

               Customer Email         Card Type                 Bank job_date  \
26557  zenatrades12@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26557  2020-12-24

In [66]:
taste = bayotoday.groupby('Customer Email')
for key, item in taste:
    print(taste.get_group(key), "\n\n")

        Status         Id        Reference Channel  \
26685  success  939642798  r0as6kayo0q99br    card

                       Created At Currency  Amount  Fees  Amount Due  \
26685  Dec 28th, 2020 08:34:45 AM      NGN  1700.0  25.5      1674.5

                   Customer Email         Card Type         Bank job_date  \
26685  adebara.sulaimon@gmail.com  mastercard DEBIT  Zenith Bank  2020-12

         day_year
26685  2020-12-28


        Status         Id        Reference Channel  \
26729  success  940266228  oqpbpbrrna3mi8d    card

                       Created At Currency  Amount  Fees  Amount Due  \
26729  Dec 28th, 2020 05:51:02 PM      NGN  2100.0  31.5      2068.5

                Customer Email         Card Type                   Bank  \
26729  adebowalemide@yahoo.com  mastercard DEBIT  First Bank of Nigeria

      job_date    day_year
26729  2020-12  2020-12-28


        Status         Id        Reference Channel  \
26726  success  940186176  qhum4u9455kxc06    card

                       Created At Currency  Amount  Fees  Amount Due  \
26726  Dec 28th, 2020 04:48:31 PM      NGN  2300.0  34.5      2265.5

                    Customer Email         Card Type                 Bank  \
26726  ademiluyionibokun@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26726  2020-12  2020-12-28


        Status         Id        Reference Channel  \
26569  success  935383418  h5ikp6jv3h6sd42    card

                       Created At Currency  Amount  Fees  Amount Due  \
26569  Dec 24th, 2020 02:12:53 PM      NGN  2400.0  36.0      2364.0

              Customer Email         Card Type                 Bank job_date  \
26569  adetolani25@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26569  2020-12-24


        Status         Id        Reference Channel  \
26469  success  934921966  gyu9wv29iinkm1l    card

                       Created At Currency  Amount  Fees  Amount Due  \
26469  Dec 24th, 2020 05:37:46 AM      NGN  2000.0  30.0      1970.0

            Customer Email         Card Type                 Bank job_date  \
26469  airshopng@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26469  2020-12-24


        Status         Id        Reference Channel  \
26548  success  935314450  5cu4iainnutzdkt    card

                       Created At Currency  Amount  Fees  Amount Due  \
26548  Dec 24th, 2020 01:00:38 PM      NGN  1600.0  24.0      1576.0

              Customer Email         Card Type               Bank job_date  \
26548  akinbaiyewu@yahoo.com  mastercard DEBIT  Stanbic IBTC Bank  2020-12

         day_year
26548  2020-12-24


        Status         Id        Reference Channel  \
26527  success  935217043  5cs7cxy9r753v9e    card

                       Created At Currency  Amount   Fees  Amount Due  \
26527  Dec 24th, 2020 11:20:01 AM      NGN  3900.0  158.5      3741.5

                   Customer Email         Card Type                 Bank  \
26527  alexander.e.edem@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26527  2020-12  2020-12-24


        Status         Id        Reference Channel  \
26619  success  936301860     trx_p2a5u08b    card
26620  success  936302314  6nyqa66q7khz3s8    card

                       Created At Currency  Amount   Fees  Amount Due  \
26619  Dec 25th, 2020 10:11:11 AM      NGN    50.0   0.75       49.25
26620  Dec 25th, 2020 10:11:46 AM      NGN  1500.0  22.50     1477.50

            Customer Email         Card Type         Bank job_date    day_year
26619  amiratobi@gmail.com  mastercard DEBIT  Zenith Bank  2020-12  2020-12-25
26620  amiratobi@gmail.com  mastercard DEBIT  Zenith Bank  2020-12  2020-12-25


        Status         Id        Reference Channel  \
26575  success  935417121  czvmr7q76ix0tbm    card
26650  success  937601039  nhspkacaspyk3ac    card
26651  success  937604545  l2nopwvum9swtvx    card

                       Created At Currency  Amount  Fees  Amount Due  \
26575  Dec 24th, 2020 02:46:27 PM      NGN  2100.0  31.5      2068.5
26650  Dec 26th, 2020 01:23:43 PM      NGN   100.0   1.5        98.5
26651  Dec 26th, 2020 01:26:50 PM      NGN  2400.0  36.0      2364.0

              Customer Email         Card Type                 Bank job_date  \
26575  anuesemogie@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26650  anuesemogie@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26651  anuesemogie@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26575  2020-12-24
26650  2020-12-26
26651  2020-12-26


        Status         Id        Reference Channel  \
26568  success  935381243  3kuu0sjqyhomjvz    card
26570  success  935386039  cw9hj67s1kn6153    card

                       Created At Currency  Amount   Fees  Amount Due  \
26568  Dec 24th, 2020 02:10:48 PM      NGN  4400.0  166.0      4234.0
26570  Dec 24th, 2020 02:15:33 PM      NGN  2400.0   36.0      2364.0

          Customer Email         Card Type                 Bank job_date  \
26568  aydav10@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26570  aydav10@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26568  2020-12-24
26570  2020-12-24


        Status         Id        Reference Channel  \
26526  success  935214862  fbhxm6iy5hdn0lc    card

                       Created At Currency  Amount  Fees  Amount Due  \
26526  Dec 24th, 2020 11:18:00 AM      NGN  2100.0  31.5      2068.5

                    Customer Email         Card Type                 Bank  \
26526  ayinkeyishaladipo@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26526  2020-12  2020-12-24


        Status         Id        Reference Channel  \
26546  success  935297057  rf3w8luazioucck    card
26555  success  935334344  b5q0tqxm6kcrdft    card

                       Created At Currency  Amount  Fees  Amount Due  \
26546  Dec 24th, 2020 12:42:45 PM      NGN  1700.0  25.5      1674.5
26555  Dec 24th, 2020 01:21:12 PM      NGN  2000.0  30.0      1970.0

             Customer Email         Card Type                 Bank job_date  \
26546  bakwaibags@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26555  bakwaibags@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26546  2020-12-24
26555  2020-12-24


        Status         Id        Reference Channel  \
26465  success  934899574     trx_t3nm2556    card
26466  success  934899834  qecv9ygte4k5mdm    card

                       Created At Currency  Amount   Fees  Amount Due  \
26465  Dec 24th, 2020 04:50:41 AM      NGN    50.0   0.75       49.25
26466  Dec 24th, 2020 04:51:19 AM      NGN  1600.0  24.00     1576.00

              Customer Email         Card Type         Bank job_date  \
26465  barbiedami1@gmail.com  mastercard DEBIT  Access Bank  2020-12
26466  barbiedami1@gmail.com  mastercard DEBIT  Access Bank  2020-12

         day_year
26465  2020-12-24
26466  2020-12-24


        Status         Id        Reference Channel  \
26501  success  935100715  mpbjvsv44claypj    card
26655  success  937644505  lvqytb6nwo8a75c    card
26682  success  939566158  njhw08sqqtre809    card

                       Created At Currency  Amount   Fees  Amount Due  \
26501  Dec 24th, 2020 09:15:08 AM      NGN  2500.0  137.5      2362.5
26655  Dec 26th, 2020 02:03:52 PM      NGN  3300.0  149.5      3150.5
26682  Dec 28th, 2020 07:07:44 AM      NGN  1700.0   25.5      1674.5

          Customer Email         Card Type             Bank job_date  \
26501  beampeh@gmail.com  mastercard DEBIT  Ecobank Nigeria  2020-12
26655  beampeh@gmail.com  mastercard DEBIT  Ecobank Nigeria  2020-12
26682  beampeh@gmail.com  mastercard DEBIT  Ecobank Nigeria  2020-12

         day_year
26501  2020-12-24
26655  2020-12-26
26682  2020-12-28


        Status         Id        Reference Channel  \
26477  success  935004483  6rg5ojurjabxrxy    card
26478  success  935004968  t33km5r28v8i0ti    card

                       Created At Currency  Amount  Fees  Amount Due  \
26477  Dec 24th, 2020 07:29:14 AM      NGN  1600.0  24.0      1576.0
26478  Dec 24th, 2020 07:29:55 AM      NGN  1600.0  24.0      1576.0

          Customer Email         Card Type                 Bank job_date  \
26477  bekkeso@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26478  bekkeso@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26477  2020-12-24
26478  2020-12-24


        Status         Id        Reference Channel  \
26613  success  936189853  usp0na6umpvdfn5    card
26622  success  936377333  xhy55axyzjfeb35    card
26636  success  937417803  ggvmkdznj7wya8i    card
26649  success  937591902  rgsh3rcx3qbk05r    card
26667  success  938445197  y8g86wkmsd6a0o3    card
26716  success  939916564  m29cju8o7fuaz0c    card

                       Created At Currency  Amount   Fees  Amount Due  \
26613  Dec 25th, 2020 07:50:47 AM      NGN  1900.0   28.5      1871.5
26622  Dec 25th, 2020 11:45:45 AM      NGN  1300.0   19.5      1280.5
26636  Dec 26th, 2020 11:11:45 AM      NGN  1700.0   25.5      1674.5
26649  Dec 26th, 2020 01:15:26 PM      NGN  2900.0  143.5      2756.5
26667  Dec 27th, 2020 07:16:59 AM      NGN  2000.0   30.0      1970.0
26716  Dec 28th, 2020 01:06:40 PM      NGN  1500.0   22.5      1477.5

             Customer Email         Card Type                    Bank  \
26613  bknmartins@gmail.com  mastercard DEBIT  United Bank for Africa
26622  bknmartins@gmail.com  mastercard DEBIT  United Bank for Africa
26636  bknmartins@gmail.com  mastercard DEBIT  United Bank for Africa
26649  bknmartins@gmail.com  mastercard DEBIT  United Bank for Africa
26667  bknmartins@gmail.com  mastercard DEBIT  United Bank for Africa
26716  bknmartins@gmail.com  mastercard DEBIT  United Bank for Africa

      job_date    day_year
26613  2020-12  2020-12-25
26622  2020-12  2020-12-25
26636  2020-12  2020-12-26
26649  2020-12  2020-12-26
26667  2020-12  2020-12-27
26716  2020-12  2020-12-28


        Status         Id        Reference Channel  \
26624  success  936425344  7vzqclze4pyhv4s    card

                       Created At Currency  Amount  Fees  Amount Due  \
26624  Dec 25th, 2020 12:52:08 PM      NGN  2000.0  30.0      1970.0

                  Customer Email         Card Type         Bank job_date  \
26624  boustani.charie@gmail.com  mastercard DEBIT  Zenith Bank  2020-12

         day_year
26624  2020-12-25


        Status         Id        Reference Channel  \
26725  success  940137067  ugldnt0n8dxn5n0    card

                       Created At Currency  Amount   Fees  Amount Due  \
26725  Dec 28th, 2020 04:09:51 PM      NGN  2800.0  142.0      2658.0

                Customer Email         Card Type                 Bank  \
26725  cannonrepairs@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26725  2020-12  2020-12-28


        Status         Id        Reference Channel  \
26674  success  938811587  blrfohmaqite0dn    card

                       Created At Currency  Amount   Fees  Amount Due  \
26674  Dec 27th, 2020 01:40:45 PM      NGN  3700.0  155.5      3544.5

                Customer Email         Card Type                 Bank  \
26674  carinaberry16@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26674  2020-12  2020-12-27


        Status         Id        Reference Channel  \
26559  success  935342097  3xgrz0oj9j78891    card

                       Created At Currency  Amount  Fees  Amount Due  \
26559  Dec 24th, 2020 01:29:20 PM      NGN  1300.0  19.5      1280.5

                 Customer Email         Card Type                    Bank  \
26559  chisom.obijaju@gmail.com  mastercard DEBIT  United Bank for Africa

      job_date    day_year
26559  2020-12  2020-12-24


        Status         Id        Reference Channel  \
26511  success  935143305  gn2tnnn3lk2ys5k    card

                       Created At Currency  Amount  Fees  Amount Due  \
26511  Dec 24th, 2020 10:02:10 AM      NGN  1500.0  22.5      1477.5

                   Customer Email         Card Type                 Bank  \
26511  chukwudicyril179@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26511  2020-12  2020-12-24


        Status         Id        Reference Channel  \
26488  success  935032481  gljgr38d6cfj2kp    card

                       Created At Currency  Amount  Fees  Amount Due  \
26488  Dec 24th, 2020 08:02:03 AM      NGN  2300.0  34.5      2265.5

             Customer Email         Card Type         Bank job_date  \
26488  chulopaapi@yahoo.com  mastercard DEBIT  Zenith Bank  2020-12

         day_year
26488  2020-12-24


        Status         Id        Reference Channel  \
26539  success  935284747     trx_tb9zco3k    card
26541  success  935285558  rjvabxr7gx58g6u    card

                       Created At Currency  Amount   Fees  Amount Due  \
26539  Dec 24th, 2020 12:29:53 PM      NGN    50.0   0.75       49.25
26541  Dec 24th, 2020 12:30:46 PM      NGN  1500.0  22.50     1477.50

                    Customer Email         Card Type         Bank job_date  \
26539  comechopcanteen3c@gmail.com  mastercard DEBIT  Zenith Bank  2020-12
26541  comechopcanteen3c@gmail.com  mastercard DEBIT  Zenith Bank  2020-12

         day_year
26539  2020-12-24
26541  2020-12-24


        Status         Id        Reference Channel  \
26532  success  935253579  121vf8t4f5l28rt    card
26656  success  937680362  aw9vdk3ew29ygt6    card

                       Created At Currency  Amount  Fees  Amount Due  \
26532  Dec 24th, 2020 11:57:15 AM      NGN  1000.0  15.0       985.0
26656  Dec 26th, 2020 02:32:24 PM      NGN   100.0   1.5        98.5

                     Customer Email         Card Type         Bank job_date  \
26532  daboss_sourcemoney@yahoo.com  mastercard DEBIT  Access Bank  2020-12
26656  daboss_sourcemoney@yahoo.com  mastercard DEBIT  Access Bank  2020-12

         day_year
26532  2020-12-24
26656  2020-12-26


        Status         Id        Reference Channel  \
26552  success  935327207  5c8eywqeylwqm0g    card
26669  success  938584124  di0ludn5wx0po2m    card

                       Created At Currency  Amount   Fees  Amount Due  \
26552  Dec 24th, 2020 01:13:34 PM      NGN  1900.0   28.5      1871.5
26669  Dec 27th, 2020 09:53:38 AM      NGN  4500.0  167.5      4332.5

                Customer Email         Card Type           Bank job_date  \
26552  deoladeyemo23@gmail.com  mastercard DEBIT  Keystone Bank  2020-12
26669  deoladeyemo23@gmail.com  mastercard DEBIT  Keystone Bank  2020-12

         day_year
26552  2020-12-24
26669  2020-12-27


        Status         Id        Reference Channel  \
26690  success  939712000  e2r9w5b6kgbhkor    card

                       Created At Currency  Amount  Fees  Amount Due  \
26690  Dec 28th, 2020 09:44:26 AM      NGN  1800.0  27.0      1773.0

             Customer Email         Card Type                 Bank job_date  \
26690  deyheencar@yahoo.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26690  2020-12-28


        Status         Id        Reference Channel  \
26657  success  937718701  qicnnthowjmje86    card

                       Created At Currency  Amount  Fees  Amount Due  \
26657  Dec 26th, 2020 02:56:48 PM      NGN   200.0   3.0       197.0

              Customer Email         Card Type                 Bank job_date  \
26657  dira@pentagram.com.ng  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26657  2020-12-26


        Status         Id        Reference Channel  \
26585  success  935493919  zo53tkrc205d92s    card

                       Created At Currency  Amount  Fees  Amount Due  \
26585  Dec 24th, 2020 04:01:38 PM      NGN  1500.0  22.5      1477.5

              Customer Email         Card Type                 Bank job_date  \
26585  djk_adebayo@yahoo.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26585  2020-12-24


        Status         Id        Reference Channel  \
26515  success  935151970  h96z4x8r2yizp4k    card

                       Created At Currency  Amount  Fees  Amount Due  \
26515  Dec 24th, 2020 10:11:17 AM      NGN  1900.0  28.5      1871.5

                   Customer Email         Card Type                 Bank  \
26515  dojaminedelivery@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26515  2020-12  2020-12-24


        Status         Id        Reference Channel  \
26545  success  935294979  oxumgbq1typ67u5    card

                       Created At Currency  Amount  Fees  Amount Due  \
26545  Dec 24th, 2020 12:40:34 PM      NGN  1200.0  18.0      1182.0

                   Customer Email         Card Type                 Bank  \
26545  douglascleopatra@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26545  2020-12  2020-12-24


        Status         Id        Reference Channel  \
26521  success  935199066  s9vy0hme80adn7m    card

                       Created At Currency  Amount  Fees  Amount Due  \
26521  Dec 24th, 2020 11:02:32 AM      NGN  2200.0  33.0      2167.0

          Customer Email         Card Type                 Bank job_date  \
26521  e.shola@yahoo.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26521  2020-12-24


        Status         Id        Reference Channel  \
26727  success  940236928  9tektmc6lojz27m    card

                       Created At Currency  Amount   Fees  Amount Due  \
26727  Dec 28th, 2020 05:25:38 PM      NGN  2500.0  137.5      2362.5

               Customer Email         Card Type                 Bank job_date  \
26727  e1clothingng@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26727  2020-12-28


        Status         Id        Reference Channel  \
26474  success  934997883  2ncxl69qamoyvlz    card
26517  success  935181892  vt02xkzqxk9825v    card
26528  success  935243110  npy5il7lxtvjqbc    card

                       Created At Currency  Amount   Fees  Amount Due  \
26474  Dec 24th, 2020 07:21:15 AM      NGN  1700.0   25.5      1674.5
26517  Dec 24th, 2020 10:44:17 AM      NGN  2900.0  143.5      2756.5
26528  Dec 24th, 2020 11:45:53 AM      NGN  2600.0  139.0      2461.0

         Customer Email         Card Type                    Bank job_date  \
26474  edivri@gmail.com  mastercard DEBIT  United Bank for Africa  2020-12
26517  edivri@gmail.com  mastercard DEBIT  United Bank for Africa  2020-12
26528  edivri@gmail.com  mastercard DEBIT  United Bank for Africa  2020-12

         day_year
26474  2020-12-24
26517  2020-12-24
26528  2020-12-24


        Status         Id        Reference Channel  \
26468  success  934915997  oo5nvcd4ietrvdo    card
26472  success  934976953  fhkapezegdhvgm5    card

                       Created At Currency  Amount  Fees  Amount Due  \
26468  Dec 24th, 2020 05:25:14 AM      NGN  1800.0  27.0      1773.0
26472  Dec 24th, 2020 06:56:13 AM      NGN  2100.0  31.5      2068.5

              Customer Email         Card Type                 Bank job_date  \
26468  elohshirley@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26472  elohshirley@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26468  2020-12-24
26472  2020-12-24


        Status         Id        Reference Channel  \
26463  success  934852773  bt4oqbyr1w0dsxv    card
26500  success  935099552  nrf6jcpjyzvr2nl    card
26550  success  935316640  2m6ajgf8mobhfg0    card
26564  success  935371358  ahuup6lpmwv4okb    card

                       Created At Currency  Amount   Fees  Amount Due  \
26463  Dec 24th, 2020 02:53:13 AM      NGN  2400.0   36.0      2364.0
26500  Dec 24th, 2020 09:13:56 AM      NGN  1700.0   25.5      1674.5
26550  Dec 24th, 2020 01:02:56 PM      NGN  2200.0   33.0      2167.0
26564  Dec 24th, 2020 02:00:06 PM      NGN  3100.0  146.5      2953.5


        Status         Id        Reference Channel  \
26578  success  935452868     trx_66ydk5kd    card
26579  success  935453575  7yewxeiidte6ga9    card

                       Created At Currency  Amount   Fees  Amount Due  \
26578  Dec 24th, 2020 03:21:14 PM      NGN    50.0   0.75       49.25
26579  Dec 24th, 2020 03:21:59 PM      NGN  1400.0  21.00     1379.00

             Customer Email         Card Type                 Bank job_date  \
26578  faydimples@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26579  faydimples@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26578  2020-12-24
26579  2020-12-24


        Status         Id        Reference Channel  \
26632  success  937184631  5v3pg25epm1l2jg    card

                       Created At Currency  Amount  Fees  Amount Due  \
26632  Dec 26th, 2020 08:01:27 AM      NGN  1600.0  24.0      1576.0

            Customer Email         Card Type                 Bank job_date  \
26632  folasadey@yahoo.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26632  2020-12-26


        Status         Id        Reference Channel  \
26506  success  935117393     trx_oqeuxep4    card
26507  success  935117829  bdg7w4c4i8to2c9    card

                       Created At Currency  Amount    Fees  Amount Due  \
26506  Dec 24th, 2020 09:33:43 AM      NGN    50.0    0.75       49.25
26507  Dec 24th, 2020 09:34:14 AM      NGN  3700.0  155.50     3544.50

                 Customer Email         Card Type                      Bank  \
26506  folugbadegesin@gmail.com  mastercard DEBIT  First City Monument Bank
26507  folugbadegesin@gmail.com  mastercard DEBIT  First City Monument Bank

      job_date    day_year
26506  2020-12  2020-12-24
26507  2020-12  2020-12-24


        Status         Id     Reference Channel                  Created At  \
26540  success  935285023  trx_sv9gf20v    card  Dec 24th, 2020 12:30:11 PM

      Currency  Amount  Fees  Amount Due         Customer Email  \
26540      NGN    50.0  0.75       49.25  gia.lalwani@gmail.com

              Card Type                   Bank job_date    day_year
26540  mastercard DEBIT  Union Bank of Nigeria  2020-12  2020-12-24


        Status         Id        Reference Channel  \
26720  success  940020657  0iboeitktb0aevu    card
26722  success  940085849  zm10v2m65qal80t    card

                       Created At Currency  Amount  Fees  Amount Due  \
26720  Dec 28th, 2020 02:45:31 PM      NGN  2400.0  36.0      2364.0
26722  Dec 28th, 2020 03:31:52 PM      NGN  2400.0  36.0      2364.0

                  Customer Email         Card Type                      Bank  \
26720  glorioussendoff@gmail.com  mastercard DEBIT  First City Monument Bank
26722  glorioussendoff@gmail.com  mastercard DEBIT  First City Monument Bank

      job_date    day_year
26720  2020-12  2020-12-28
26722  2020-12  2020-12-28


        Status         Id        Reference Channel  \
26653  success  937621213  ix4jf9q93l9giu6    card

                       Created At Currency  Amount   Fees  Amount Due  \
26653  Dec 26th, 2020 01:41:42 PM      NGN  4400.0  166.0      4234.0

           Customer Email         Card Type                   Bank job_date  \
26653  gnelegal@yahoo.com  mastercard DEBIT  First Bank of Nigeria  2020-12

         day_year
26653  2020-12-26


        Status         Id        Reference Channel  \
26610  success  936147255  orpmsdx71m8wy0a    card

                       Created At Currency  Amount   Fees  Amount Due  \
26610  Dec 25th, 2020 06:50:56 AM      NGN  3400.0  151.0      3249.0

                        Customer Email         Card Type                 Bank  \
26610  gourmetfusioncatering@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26610  2020-12  2020-12-25


        Status         Id        Reference Channel  \
26695  success  939756285  bcp4j7dem3dw5z2    card
26721  success  940039045  bi8grxz3tccaa35    card

                       Created At Currency  Amount   Fees  Amount Due  \
26695  Dec 28th, 2020 10:30:03 AM      NGN  1623.0  24.35     1598.65
26721  Dec 28th, 2020 02:59:28 PM      NGN  1622.0  24.33     1597.67

             Customer Email         Card Type                 Bank job_date  \
26695  gracenet10@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26721  gracenet10@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26695  2020-12-28
26721  2020-12-28


        Status         Id        Reference Channel  \
26490  success  935053987  7du0cgmskj46q0q    card

                       Created At Currency  Amount   Fees  Amount Due  \
26490  Dec 24th, 2020 08:23:20 AM      NGN  2800.0  142.0      2658.0

                 Customer Email         Card Type                 Bank  \
26490  grocerygiantng@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26490  2020-12  2020-12-24


        Status         Id        Reference Channel  \
26513  success  935146747  aefjbjijpevlyc9    card
26573  success  935409639  90qpmqdxugwsbyz    card

                       Created At Currency  Amount   Fees  Amount Due  \
26513  Dec 24th, 2020 10:05:36 AM      NGN  1500.0   22.5      1477.5
26573  Dec 24th, 2020 02:39:04 PM      NGN  2600.0  139.0      2461.0

              Customer Email         Card Type                 Bank job_date  \
26513  guzzilala@yahoo.co.uk  mastercard DEBIT  Guaranty Trust Bank  2020-12
26573  guzzilala@yahoo.co.uk  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26513  2020-12-24
26573  2020-12-24


        Status         Id        Reference Channel  \
26602  success  935770333  ypq9dtjswimqh85    card

                       Created At Currency  Amount  Fees  Amount Due  \
26602  Dec 24th, 2020 09:21:43 PM      NGN  1900.0  28.5      1871.5

                  Customer Email         Card Type                    Bank  \
26602  hamzatyusuf2016@gmail.com  mastercard DEBIT  United Bank for Africa

      job_date    day_year
26602  2020-12  2020-12-24


        Status         Id        Reference Channel  \
26612  success  936162964  x820mlk99xcri3p    card
26686  success  939672786  dgz5johudj1krpe    card

                       Created At Currency  Amount  Fees  Amount Due  \
26612  Dec 25th, 2020 07:14:16 AM      NGN   200.0   3.0       197.0
26686  Dec 28th, 2020 09:05:58 AM      NGN   200.0   3.0       197.0

           Customer Email         Card Type                 Bank job_date  \
26612  hello@evuryman.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26686  hello@evuryman.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26612  2020-12-25
26686  2020-12-28


        Status         Id        Reference Channel  \
26712  success  939872014  7zzy5dhjuqngaub    card

                       Created At Currency  Amount  Fees  Amount Due  \
26712  Dec 28th, 2020 12:23:23 PM      NGN  2000.0  30.0      1970.0

             Customer Email         Card Type               Bank job_date  \
26712  hellovudoh@gmail.com  mastercard DEBIT  Stanbic IBTC Bank  2020-12

         day_year
26712  2020-12-28


        Status         Id        Reference Channel  \
26493  success  935067961  9zcg1e4dvgaf8bz    card

                       Created At Currency  Amount  Fees  Amount Due  \
26493  Dec 24th, 2020 08:39:00 AM      NGN   400.0   6.0       394.0

      Customer Email         Card Type                 Bank job_date  \
26493   hi@flevor.co  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26493  2020-12-24


        Status         Id        Reference Channel  \
26572  success  935399584  di92vx7v80yd6lc    card
26618  success  936297353  4xzgoiawktbmw87    card
26661  success  937760372  zeaild4ir0nsk7d    card

                       Created At Currency  Amount   Fees  Amount Due  \
26572  Dec 24th, 2020 02:29:18 PM      NGN  1600.0   24.0      1576.0
26618  Dec 25th, 2020 10:05:24 AM      NGN  3800.0  157.0      3643.0
26661  Dec 26th, 2020 03:36:44 PM      NGN  3000.0  145.0      2855.0

                  Customer Email         Card Type                 Bank  \
26572  ibiyemi.fashola@gmail.com  mastercard DEBIT  Guaranty Trust Bank
26618  ibiyemi.fashola@gmail.com  mastercard DEBIT  Guaranty Trust Bank
26661  ibiyemi.fashola@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26572  2020-12  2020-12-24
26618  2020-12  2020-12-25
26661  2020-12  2020-12-26


        Status         Id        Reference Channel  \
26590  success  935540524     trx_o7azha04    card
26591  success  935541092  ah6mzs5oymebs5y    card

                       Created At Currency  Amount   Fees  Amount Due  \
26590  Dec 24th, 2020 04:52:08 PM      NGN    50.0   0.75       49.25
26591  Dec 24th, 2020 04:52:46 PM      NGN  1700.0  25.50     1674.50

           Customer Email         Card Type               Bank job_date  \
26590  idamjane@gmail.com  mastercard DEBIT  Stanbic IBTC Bank  2020-12
26591  idamjane@gmail.com  mastercard DEBIT  Stanbic IBTC Bank  2020-12

         day_year
26590  2020-12-24
26591  2020-12-24


        Status         Id        Reference Channel  \
26692  success  939728803  srr7kj9nfo6fy2e    card

                       Created At Currency  Amount  Fees  Amount Due  \
26692  Dec 28th, 2020 10:01:20 AM      NGN  1200.0  18.0      1182.0

       Customer Email         Card Type                 Bank job_date  \
26692  info@bola3.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26692  2020-12-28


        Status         Id        Reference Channel  \
26588  success  935523803  z6q8dr3qgqzf1f3    card
26638  success  937432669  5uml4ulwpjscp0e    card
26640  success  937439691  fnnco3dvc3zmab2    card

                       Created At Currency  Amount  Fees  Amount Due  \
26588  Dec 24th, 2020 04:34:14 PM      NGN   800.0  12.0       788.0
26638  Dec 26th, 2020 11:21:37 AM      NGN  2200.0  33.0      2167.0
26640  Dec 26th, 2020 11:26:23 AM      NGN  1400.0  21.0      1379.0

               Customer Email         Card Type               Bank job_date  \
26588  info@myburntorange.com  mastercard DEBIT  Stanbic IBTC Bank  2020-12
26638  info@myburntorange.com  mastercard DEBIT  Stanbic IBTC Bank  2020-12
26640  info@myburntorange.com  mastercard DEBIT  Stanbic IBTC Bank  2020-12

         day_year
26588  2020-12-24
26638  2020-12-26
26640  2020-12-26


        Status         Id        Reference Channel  \
26708  success  939842849  5vkgkayvl5ggqrr    card

                       Created At Currency  Amount  Fees  Amount Due  \
26708  Dec 28th, 2020 11:56:19 AM      NGN  2000.0  30.0      1970.0

            Customer Email         Card Type         Bank job_date    day_year
26708  iomoaluse@gmail.com  mastercard DEBIT  Zenith Bank  2020-12  2020-12-28


        Status         Id        Reference Channel  \
26728  success  940265346  xyprxdenu1rjuvt    card

                       Created At Currency  Amount   Fees  Amount Due  \
26728  Dec 28th, 2020 05:50:07 PM      NGN  3300.0  149.5      3150.5

                   Customer Email         Card Type                 Bank  \
26728  iraborelizabeth0@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26728  2020-12  2020-12-28


        Status         Id        Reference Channel  \
26601  success  935700092  ni3glyom4x48lwb    card

                       Created At Currency  Amount   Fees  Amount Due  \
26601  Dec 24th, 2020 07:51:03 PM      NGN  3100.0  146.5      2953.5

               Customer Email         Card Type                 Bank job_date  \
26601  iyanuoyolola@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26601  2020-12-24


        Status         Id        Reference Channel  \
26467  success  934913947  hwg6ke4qa3wj8sv    card

                       Created At Currency  Amount   Fees  Amount Due  \
26467  Dec 24th, 2020 05:21:01 AM      NGN  2500.0  137.5      2362.5

             Customer Email         Card Type         Bank job_date  \
26467  iykewheezy@yahoo.com  mastercard DEBIT  Access Bank  2020-12

         day_year
26467  2020-12-24


        Status         Id        Reference Channel  \
26719  success  939985589  5hg3bobaa28vj06    card

                       Created At Currency  Amount   Fees  Amount Due  \
26719  Dec 28th, 2020 02:16:25 PM      NGN  4200.0  163.0      4037.0

           Customer Email         Card Type           Bank job_date  \
26719  jarehdas@gmail.com  mastercard DEBIT  Keystone Bank  2020-12

         day_year
26719  2020-12-28


        Status         Id        Reference Channel  \
26512  success  935145838  st0rje7b2jp0evx    card
26519  success  935191002     trx_aoce9haa    card
26520  success  935191537  soekn7lw1viws6z    card

                       Created At Currency  Amount    Fees  Amount Due  \
26512  Dec 24th, 2020 10:04:42 AM      NGN  3100.0  146.50     2953.50
26519  Dec 24th, 2020 10:54:26 AM      NGN    50.0    0.75       49.25
26520  Dec 24th, 2020 10:54:58 AM      NGN  1000.0   15.00      985.00

                  Customer Email         Card Type                   Bank  \
26512  jessypeters1996@gmail.com  mastercard DEBIT  Union Bank of Nigeria
26519  jessypeters1996@gmail.com  mastercard DEBIT  Union Bank of Nigeria
26520  jessypeters1996@gmail.com  mastercard DEBIT  Union Bank of Nigeria

      job_date    day_year
26512  2020-12  2020-12-24
26519  2020-12  2020-12-24
26520  2020-12  2020-12-24


        Status         Id        Reference Channel  \
26652  success  937605301  jmzi2e2hcgavaub    card

                       Created At Currency  Amount  Fees  Amount Due  \
26652  Dec 26th, 2020 01:27:29 PM      NGN  2400.0  36.0      2364.0

              Customer Email         Card Type                 Bank job_date  \
26652  judith.otue@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26652  2020-12-26


        Status         Id        Reference Channel  \
26697  success  939774220     trx_8xlb987p    card
26698  success  939785092  oowtqtc2xqxcje1    card
26704  success  939815826  bkqgdu2x6et5uud    card
26705  success  939819798  7gv1ry86i5w78td    card
26706  success  939833309  r79obqupw2q1p9y    card

                       Created At Currency  Amount    Fees  Amount Due  \
26697  Dec 28th, 2020 10:49:14 AM      NGN    50.0    0.75       49.25
26698  Dec 28th, 2020 11:01:00 AM      NGN   800.0   12.00      788.00
26704  Dec 28th, 2020 11:29:46 AM      NGN  2400.0   36.00     2364.00
26705  Dec 28th, 2020 11:33:43 AM      NGN  2000.0   30.00     1970.00
26706  Dec 28th, 2020 11:46:55 AM      NGN  3400.0  151.00     3249.00

             Customer Email         Card Type         Bank job_date  \
26697  jzofashion@gmail.com  mastercard DEBIT  Zenith Bank  2020-12
26698  jzofashion@gmail.com  mastercard DEBIT  Zenith Bank  2020-12
26704  jzofashion@gmail.com  mastercard DEBIT  Zenith Bank  2020-12
26705  jzofashion@gmail.com  mastercard DEBIT  Zenith Bank  2020-12
26706  jzofashion@gmail.com  mastercard DEBIT  Zenith Bank  2020-12

         day_year
26697  2020-12-28
26698  2020-12-28
26704  2020-12-28
26705  2020-12-28
26706  2020-12-28


        Status         Id        Reference Channel  \
26483  success  935025539  a506j62j566qwts    card
26554  success  935332846  7v898xd7mkrwr2w    card
26701  success  939803249  mvejs5xl1n0s343    card

                       Created At Currency  Amount   Fees  Amount Due  \
26483  Dec 24th, 2020 07:54:12 AM      NGN  1700.0   25.5      1674.5
26554  Dec 24th, 2020 01:19:40 PM      NGN  2100.0   31.5      2068.5
26701  Dec 28th, 2020 11:17:43 AM      NGN  2700.0  140.5      2559.5

             Customer Email         Card Type                 Bank job_date  \
26483  kelvinagum@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26554  kelvinagum@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26701  kelvinagum@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26483  2020-12-24
26554  2020-12-24
26701  2020-12-28


        Status         Id        Reference Channel  \
26688  success  939677128  nxxyzr2gsf6rts8    card

                       Created At Currency  Amount  Fees  Amount Due  \
26688  Dec 28th, 2020 09:09:47 AM      NGN  1300.0  19.5      1280.5

               Customer Email         Card Type                 Bank job_date  \
26688  kemi_lawal@hotmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26688  2020-12-28


        Status         Id        Reference Channel  \
26637  success  937423777  9tw00qdvywuz5ux    card
26647  success  937572329  dho8ykypy1do70y    card

                       Created At Currency  Amount  Fees  Amount Due  \
26637  Dec 26th, 2020 11:15:41 AM      NGN  1500.0  22.5      1477.5
26647  Dec 26th, 2020 12:57:45 PM      NGN  1500.0  22.5      1477.5

           Customer Email         Card Type                 Bank job_date  \
26637  kenerapu@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12
26647  kenerapu@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26637  2020-12-26
26647  2020-12-26


        Status         Id        Reference Channel  \
26492  success  935059751  pnps8n9k7jm8rjv    card

                       Created At Currency  Amount   Fees  Amount Due  \
26492  Dec 24th, 2020 08:29:37 AM      NGN  2600.0  139.0      2461.0

           Customer Email         Card Type                 Bank job_date  \
26492  kppjinec@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26492  2020-12-24


        Status         Id        Reference Channel  \
26502  success  935103044     trx_ixjtwy1z    card
26730  success  940358383  km83c0xg5t00s97    card

                       Created At Currency  Amount    Fees  Amount Due  \
26502  Dec 24th, 2020 09:17:55 AM      NGN    50.0    0.75       49.25
26730  Dec 28th, 2020 07:20:10 PM      NGN  3800.0  157.00     3643.00

           Customer Email         Card Type                      Bank  \
26502  krufai03@gmail.com  mastercard DEBIT  First City Monument Bank
26730  krufai03@gmail.com  mastercard DEBIT  First City Monument Bank

      job_date    day_year
26502  2020-12  2020-12-24
26730  2020-12  2020-12-28


        Status         Id        Reference Channel  \
26586  success  935503208  pzzsru5vd0aolf1    card

                       Created At Currency  Amount  Fees  Amount Due  \
26586  Dec 24th, 2020 04:11:24 PM      NGN  2200.0  33.0      2167.0

             Customer Email         Card Type               Bank job_date  \
26586  kunbizreal@gmail.com  mastercard DEBIT  Stanbic IBTC Bank  2020-12

         day_year
26586  2020-12-24


        Status         Id     Reference Channel                  Created At  \
26678  success  938923588  trx_b0roylwm    card  Dec 27th, 2020 03:31:10 PM

      Currency  Amount  Fees  Amount Due        Customer Email  \
26678      NGN    50.0  0.75       49.25  ladelois80@gmail.com

              Card Type                 Bank job_date    day_year
26678  mastercard DEBIT  Guaranty Trust Bank  2020-12  2020-12-27


        Status         Id     Reference Channel                  Created At  \
26566  success  935376948  trx_315arsc1    card  Dec 24th, 2020 02:06:11 PM

      Currency  Amount  Fees  Amount Due         Customer Email  \
26566      NGN    50.0  0.75       49.25  laedyphumie@gmail.com

              Card Type                 Bank job_date    day_year
26566  mastercard DEBIT  Guaranty Trust Bank  2020-12  2020-12-24


        Status         Id        Reference Channel  \
26576  success  935435048  qi0b1f3qoml5fgz    card
26629  success  936780193  uo8t6ir10r00oa3    card
26639  success  937439282  wh2axxkqb8uor6i    card
26662  success  937772028  i21opxosyt2pjlg    card

                       Created At Currency  Amount   Fees  Amount Due  \
26576  Dec 24th, 2020 03:04:10 PM      NGN  2400.0   36.0      2364.0

26681  2020-12-27


        Status         Id        Reference Channel  \
26489  success  935040109  wb6ll45xp1vha27    card

                       Created At Currency  Amount  Fees  Amount Due  \
26489  Dec 24th, 2020 08:09:29 AM      NGN  2000.0  30.0      1970.0

                  Customer Email         Card Type                 Bank  \
26489  simeongabrielle@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26489  2020-12  2020-12-24


        Status         Id        Reference Channel  \
26462  success  934794626  bnk4uaj017ttrnk    card

                       Created At Currency  Amount   Fees  Amount Due  \
26462  Dec 24th, 2020 01:01:31 AM      NGN  3700.0  155.5      3544.5

                Customer Email         Card Type                 Bank  \
26462  simisoladairo@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26462  2020-12  2020-12-24


        Status         Id        Reference Channel  \
26659  success  937743627  41htkx857bjxfak    card

                       Created At Currency  Amount   Fees  Amount Due  \
26659  Dec 26th, 2020 03:18:49 PM      NGN  3000.0  145.0      2855.0

                   Customer Email         Card Type                 Bank  \
26659  sollypeeofficial@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26659  2020-12  2020-12-26


        Status         Id        Reference Channel  \
26643  success  937511057  422vgianp9rz9iu    card

                       Created At Currency  Amount   Fees  Amount Due  \
26643  Dec 26th, 2020 12:14:18 PM      NGN  3300.0  149.5      3150.5

               Customer Email         Card Type                 Bank job_date  \
26643  songs4sherry@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26643  2020-12-26


        Status         Id        Reference Channel  \
26464  success  934890835  zoao36znotf0z5o    card

                       Created At Currency  Amount  Fees  Amount Due  \
26464  Dec 24th, 2020 04:27:43 AM      NGN  1300.0  19.5      1280.5

               Customer Email         Card Type                 Bank job_date  \
26464  tangooscar02@yahoo.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26464  2020-12-24


        Status         Id        Reference Channel  \
26580  success  935456551  0imj0uwg98s7nty    card

                       Created At Currency  Amount  Fees  Amount Due  \
26580  Dec 24th, 2020 03:24:49 PM      NGN   400.0   6.0       394.0

                 Customer Email         Card Type             Bank job_date  \
26580  technicsgolden@gmail.com  mastercard DEBIT  Ecobank Nigeria  2020-12

         day_year
26580  2020-12-24


        Status         Id        Reference Channel  \
26635  success  937325200  lu5000o4leenr4r    card

                       Created At Currency  Amount   Fees  Amount Due  \
26635  Dec 26th, 2020 09:59:18 AM      NGN  3000.0  145.0      2855.0

                 Customer Email         Card Type                    Bank  \
26635  teniolaadedeji@gmail.com  mastercard DEBIT  United Bank for Africa

      job_date    day_year
26635  2020-12  2020-12-26


        Status         Id        Reference Channel  \
26611  success  936148603  soliax1tq60bwi9    card

                       Created At Currency  Amount   Fees  Amount Due  \
26611  Dec 25th, 2020 06:53:14 AM      NGN  2600.0  139.0      2461.0

               Customer Email         Card Type         Bank job_date  \
26611  thefoodboxng@gmail.com  mastercard DEBIT  Zenith Bank  2020-12

         day_year
26611  2020-12-25


        Status         Id        Reference Channel  \
26707  success  939839552  qzz4n44mr5w3cvv    card

                       Created At Currency  Amount   Fees  Amount Due  \
26707  Dec 28th, 2020 11:53:07 AM      NGN  2800.0  142.0      2658.0

            Customer Email         Card Type               Bank job_date  \
26707  tlmembere@gmail.com  mastercard DEBIT  Stanbic IBTC Bank  2020-12

         day_year
26707  2020-12-28


        Status         Id        Reference Channel  \
26482  success  935023820  afvkd5khbullfum    card

                       Created At Currency  Amount  Fees  Amount Due  \
26482  Dec 24th, 2020 07:52:01 AM      NGN  2200.0  33.0      2167.0

                  Customer Email         Card Type                      Bank  \
26482  tobi.omojuyigbe@gmail.com  mastercard DEBIT  First City Monument Bank

      job_date    day_year
26482  2020-12  2020-12-24


        Status         Id        Reference Channel  \
26709  success  939848218  1s49p50m6bj8our    card

                       Created At Currency  Amount   Fees  Amount Due  \
26709  Dec 28th, 2020 12:01:15 PM      NGN  3300.0  149.5      3150.5

                Customer Email         Card Type                 Bank  \
26709  toniamaduka@hotmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26709  2020-12  2020-12-28


        Status         Id        Reference Channel  \
26574  success  935413744  u1r3jpm2vdrxf5v    card

                       Created At Currency  Amount   Fees  Amount Due  \
26574  Dec 24th, 2020 02:43:19 PM      NGN  3700.0  155.5      3544.5

                Customer Email         Card Type                 Bank  \
26574  topeomotayo80@yahoo.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26574  2020-12  2020-12-24


        Status         Id        Reference Channel  \
26498  success  935086984  c2et9refnusx51s    card
26510  success  935142084  9uwcp2uon4gi06b    card
26603  success  935804510  uw8i0ek15tz2ypl    card
26604  success  935840700  8sn6xwraz747b1v    card
26605  success  935843184  4swwcwnwku8y2ji    card
26703  success  939814940  pk9mqu84hojhdwf    card

                       Created At Currency  Amount   Fees  Amount Due  \
26498  Dec 24th, 2020 09:01:10 AM      NGN  1500.0   22.5      1477.5
26510  Dec 24th, 2020 10:00:57 AM      NGN  3000.0  145.0      2855.0
26603  Dec 24th, 2020 10:01:03 PM      NGN  2600.0  139.0      2461.0
26604  Dec 24th, 2020 10:38:30 PM      NGN  1900.0   28.5      1871.5
26605  Dec 24th, 2020 10:40:58 PM      NGN  1800.0   27.0      1773.0
26703  Dec 28th, 2020 11:28:53 AM      NGN  2500.0  137.5      2362.5

                Customer Email         Card Type                 Bank  \
26498  toyinogundeko@gmail.com  mastercard DEBIT  Guaranty Trust Bank
26510  toyinogundeko@gmail.com  mastercard DEBIT  Guaranty Trust Bank
26603  toyinogundeko@gmail.com  mastercard DEBIT  Guaranty Trust Bank
26604  toyinogundeko@gmail.com  mastercard DEBIT  Guaranty Trust Bank
26605  toyinogundeko@gmail.com  mastercard DEBIT  Guaranty Trust Bank
26703  toyinogundeko@gmail.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26498  2020-12  2020-12-24
26510  2020-12  2020-12-24
26603  2020-12  2020-12-24
26604  2020-12  2020-12-24
26605  2020-12  2020-12-24
26703  2020-12  2020-12-28


        Status         Id        Reference Channel  \
26529  success  935244948  iidjk4oxb0bayja    card
26549  success  935314944  soq0lcftj9m7q0p    card

                       Created At Currency  Amount  Fees  Amount Due  \
26529  Dec 24th, 2020 11:47:54 AM      NGN   600.0   9.0       591.0
26549  Dec 24th, 2020 01:01:09 PM      NGN  1500.0  22.5      1477.5

               Customer Email         Card Type               Bank job_date  \
26529  uforoessien1@yahoo.com  mastercard DEBIT  Stanbic IBTC Bank  2020-12
26549  uforoessien1@yahoo.com  mastercard DEBIT  Stanbic IBTC Bank  2020-12

         day_year
26529  2020-12-24
26549  2020-12-24


        Status         Id     Reference Channel                  Created At  \
26497  success  935079828  trx_ka67ddgn    card  Dec 24th, 2020 08:53:11 AM

      Currency  Amount  Fees  Amount Due        Customer Email  \
26497      NGN    50.0  0.75       49.25  vibavictor@gmail.com

              Card Type                    Bank job_date    day_year
26497  mastercard DEBIT  United Bank for Africa  2020-12  2020-12-24


        Status         Id        Reference Channel  \
26509  success  935136316  ueawbf3aw2yqzaz    card

                       Created At Currency  Amount  Fees  Amount Due  \
26509  Dec 24th, 2020 09:54:49 AM      NGN   600.0   9.0       591.0

                 Customer Email         Card Type                 Bank  \
26509  yanju_temitope@yahoo.com  mastercard DEBIT  Guaranty Trust Bank

      job_date    day_year
26509  2020-12  2020-12-24


        Status         Id        Reference Channel  \
26557  success  935338971  h5kvnybqleqh0e8    card

                       Created At Currency  Amount  Fees  Amount Due  \
26557  Dec 24th, 2020 01:26:06 PM      NGN   400.0   6.0       394.0

               Customer Email         Card Type                 Bank job_date  \
26557  zenatrades12@gmail.com  mastercard DEBIT  Guaranty Trust Bank  2020-12

         day_year
26557  2020-12-24

In [1]:
teez = taste.apply(lambda x: x['Amount'].unique())

NameError: name 'taste' is not defined

In [81]:
topey = teez.reset_index()

In [11]:
yankey

,Status,Id,Reference,Channel,Created At,Currency,Amount,Fees,Amount Due,Customer Email,Card Type,Bank,day_year
27589,success,961795463,cgwezwdu652gvb6,card,"Jan 15th, 2021 08:17:53 AM",NGN,3500.0,152.50,3347.50,drey.mac@aol.com,mastercard DEBIT,Guaranty Trust Bank,2021-01-15
27590,success,961799104,gdd95fn4gwsrjo4,card,"Jan 15th, 2021 08:21:49 AM",NGN,1900.0,28.50,1871.50,splendorbymo@outlook.com,mastercard DEBIT,Guaranty Trust Bank,2021-01-15
27591,success,961811628,bwtm4416fkj07u4,card,"Jan 15th, 2021 08:35:12 AM",NGN,2700.0,140.50,2559.50,tochibiko@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2021-01-15
27592,success,961817056,gwexzw373aywejw,card,"Jan 15th, 2021 08:40:59 AM",NGN,3600.0,154.00,3446.00,lhofashion@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2021-01-15
27593,success,961846582,as9xax9562xbmk1,card,"Jan 15th, 2021 09:15:16 AM",NGN,4200.0,163.00,4037.00,olayemi.khadijat@yahoo.com,mastercard DEBIT,Guaranty Trust Bank,2021-01-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28348,success,976056126,eaykhd71hdcw7ui,card,"Jan 26th, 2021 05:27:14 PM",NGN,2500.0,137.50,2362.50,tobeefunsho@gmail.com,mastercard DEBIT,First Bank of Nigeria,2021-01-26
28349,success,976099141,trx_ebngxmxa,card,"Jan 26th, 2021 06:03:41 PM",NGN,50.0,0.75,49.25,inihassan99@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2021-01-26
28350,success,976142138,lh48r1l6ldulnmq,card,"Jan 26th, 2021 06:36:39 PM",NGN,800.0,12.00,788.00,iyaniwuraa@hotmail.com,mastercard DEBIT,Guaranty Trust Bank,2021-01-26
28351,success,976207155,rjvpvcmzgbxis71,card,"Jan 26th, 2021 07:32:41 PM",NGN,1700.0,25.50,1674.50,nandwani72@yahoo.com,mastercard DEBIT,First City Monument Bank,2021-01-26
28352,success,976262027,us3pnc8cqrwyd1i,card,"Jan 26th, 2021 08:19:59 PM",NGN,2500.0,137.50,2362.50,pierregrizard@aol.com,mastercard DEBIT,Guaranty Trust Bank,2021-01-26

In [173]:
mailweek = logeight["Customer Email"]

In [174]:
mailweekunique = mailweek.unique()

In [175]:
mailweekunique

array(['davidoduro@yahoo.com', 'favourdamilola1@gmail.com',
       'ajibesinabiodun@gmail.com', 'ozone14800@yahoo.com',
       'kelvinagum@gmail.com', 'thefoodboxng@gmail.com',
       'jessicaduke80@gmail.com', 'kenerapu@gmail.com',
       'adejumoabisola1@gmail.com', 'fatimah4u2mail@yahoo.com',
       'obichukwu.nwachukwu@gmail.com', 'rotimiajala@gmail.com',
       'info@bola3.com', 'youssef@mistachoco.com', 'feyisikef@yahoo.com',
       'ujubuonuokwudili@gmail.com', 'service@my36chocolates.ng',
       'generaljunee@gmail.com', 'lajuomagbitse@gmail.com',
       'bayode@alwaysme.ng', 'bolu.deyanju@gmail.com',
       'consistentolusesi@gmail.com', 'omosalewabadejo@gmail.com',
       'jinkaz037@gmail.com', 'taofahmed3@gmail.com',
       'deyheencar@yahoo.com', 'bakwaibags@gmail.com', 'redu54@gmail.com',
       'ololade@kudabank.com', 'toniamaduka@hotmail.com',
       'kenny@medsaf.com', 'yinka_ogboye@yahoo.com',
       'obianuju.enwezor@gmail.com', 'awefirm@gmail.com',
       'egbeiwasam@yahoo.com', 'eniolamiamiahair@gmail.com',
       'hopeycook@yahoo.com', 'bibijegede@gmail.com',
       'daytona026@gmail.com', 'ivie.olotu@icloud.com',
       'vincecraw4@gmail.com', 'cipherblessing@gmail.com',
       'wuraola@chattel.store'], dtype=object)

In [171]:
mailall = pd.DataFrame(mailweekunique)

In [172]:
mailall.to_csv('logeight.csv', index = False)

                                        0
0                     makanakey@gmail.com
1                 mary4christ69@gmail.com
2                  ibesmithblog@gmail.com
3                  aishat.alimi@gmail.com
4                  temitopesola@yahoo.com
5                 sushxelestine@gmail.com
6                        glodit@yahoo.com
7                  rotimi.lopez@gmail.com
8                   emmanuel@trybrass.com
9                   mimipetti_4@yahoo.com
10                    ebunkunmi@yahoo.com
11                     kenerapu@gmail.com
12                      yenchoi@gmail.com
13                benkaliodinah@yahoo.com
14                    temi.giwa@gmail.com
15  dazzlejewellery.accessories@gmail.com
16                   deyheencar@yahoo.com
17                  maibiskit27@gmail.com
18                  sadeonabowale@aol.com
19            oluwaseunpeters@hotmail.com
20                   mohinihair@gmail.com
21                  lawatonyema@gmail.com
22                      wepsy10@gmail.com
23             eniolamiamiahair@gmail.com
24                    timiowope@gmail.com
25                  luckyekanem@gmail.com
26                    laoluogun@gmail.com

In [39]:
carri.to_csv('carry.csv', index = False)

In [20]:
mailall

                             0
0          leumas920@gmail.com
1    calseindustries@gmail.com
2         daekundayo@gmail.com
3          temi.giwa@gmail.com
4   ajibola_muhammed@yahoo.com
..                         ...
60    primeangel2003@yahoo.com
61     salamifatima4@gmail.com
62            edivri@gmail.com
63     renbekcompany@gmail.com
64      ibesmithblog@gmail.com

[65 rows x 1 columns]

In [17]:
quick = pd.read_csv('kwikmoi.csv')

In [22]:
bayokay = pd.read_csv('newmailall.csv')

SyntaxError: EOL while scanning string literal (<ipython-input-24-efa2cfc19f05>, line 1)

In [17]:
bayofirst = pd.read_csv('bayomastercard.csv')

In [82]:
bayosecond = pd.read_csv('newopera.csv')

In [34]:
bayorey = pd.read_csv('bayomastercard.csv')

In [35]:
bayomoi = pd.read_csv('moimoi.csv')

In [29]:
fizzle = pd.read_csv('newfinalelastyear.csv')

In [18]:
freshtwo = pd.read_csv('opefreshboy.csv')

In [154]:
blastlog = pd.read_csv('februarymastercard.csv')

In [182]:
newquick = pd.read_csv('newlogeight.csv')

In [176]:
refined = pd.read_csv('logeight.csv')

In [183]:
left = pd.DataFrame(newquick)

In [184]:
right = pd.DataFrame(logeight)

In [10]:
veedey = pd.merge(left,right,how ='inner', on ='vendor_id')

In [185]:
allmay = pd.merge(left,right,how ='inner', on ='Customer Email')

In [186]:
allmay

,Customer Email,Status,Id,Reference,Channel,Created At,Currency,Amount,Fees,Amount Due,Card Type,Bank,day_year
0,favourdamilola1@gmail.com,success,992687240,x6vw67tqjtjonjg,card,"Feb 8th, 2021 07:12:09 AM",NGN,2900.0,143.50,2756.50,mastercard DEBIT,United Bank for Africa,2021-02-08
1,thefoodboxng@gmail.com,success,992759468,8r2i3g319sa1d8x,card,"Feb 8th, 2021 08:33:14 AM",NGN,400.0,6.00,394.00,mastercard DEBIT,Zenith Bank,2021-02-08
2,jessicaduke80@gmail.com,success,992771510,3nvmnpfmpqx35aa,card,"Feb 8th, 2021 08:45:39 AM",NGN,1700.0,25.50,1674.50,mastercard DEBIT,Zenith Bank,2021-02-08
3,obichukwu.nwachukwu@gmail.com,success,992844984,t1tokw2nvbknqay,card,"Feb 8th, 2021 09:59:48 AM",NGN,3400.0,151.00,3249.00,mastercard DEBIT,Zenith Bank,2021-02-08
4,youssef@mistachoco.com,success,992861824,0nrms7ca6bztmvq,card,"Feb 8th, 2021 10:18:42 AM",NGN,1600.0,24.00,1576.00,mastercard DEBIT,Guaranty Trust Bank,2021-02-08
5,feyisikef@yahoo.com,success,992870720,at2kaflr2brr8k2,card,"Feb 8th, 2021 10:29:40 AM",NGN,1500.0,22.50,1477.50,mastercard DEBIT,Zenith Bank,2021-02-08
6,ujubuonuokwudili@gmail.com,success,992877655,trx_u937d18l,card,"Feb 8th, 2021 10:37:21 AM",NGN,50.0,0.75,49.25,mastercard DEBIT,First Bank of Nigeria,2021-02-08
7,ujubuonuokwudili@gmail.com,success,992878620,jc4x5eec5ibzojr,card,"Feb 8th, 2021 10:38:32 AM",NGN,1900.0,28.50,1871.50,mastercard DEBIT,First Bank of Nigeria,2021-02-08
8,service@my36chocolates.ng,success,992882420,cdecl6o5dlfgi72,card,"Feb 8th, 2021 10:43:12 AM",NGN,1700.0,25.50,1674.50,mastercard DEBIT,Guaranty Trust Bank,2021-02-08
9,generaljunee@gmail.com,success,992893122,rlise7nkwqjv7r9,card,"Feb 8th, 2021 10:56:12 AM",NGN,1400.0,21.00,1379.00,mastercard DEBIT,Guaranty Trust Bank,2021-02-08
10,lajuomagbitse@gmail.com,success,992932941,trx_0xn3d274,card,"Feb 8th, 2021 11:36:24 AM",NGN,50.0,0.75,49.25,mastercard DEBIT,First City Monument Bank,2021-02-08
11,bolu.deyanju@gmail.com,success,992945334,6kpzq25fzma3qub,card,"Feb 8th, 2021 11:49:11 AM",NGN,1600.0,24.00,1576.00,mastercard DEBIT,Union Bank of Nigeria,2021-02-08
12,bolu.deyanju@gmail.com,success,993012450,x09jmps6pay0gwa,card,"Feb 8th, 2021 12:55:31 PM",NGN,1100.0,16.50,1083.50,mastercard DEBIT,Union Bank of Nigeria,2021-02-08
13,jinkaz037@gmail.com,success,992988829,bro0mggk9zqnp9b,card,"Feb 8th, 2021 12:32:05 PM",NGN,1600.0,24.00,1576.00,mastercard DEBIT,Stanbic IBTC Bank,2021-02-08
14,taofahmed3@gmail.com,success,992995053,trx_eha4q3pc,card,"Feb 8th, 2021 12:38:03 PM",NGN,50.0,0.75,49.25,mastercard DEBIT,Guaranty Trust Bank,2021-02-08
15,taofahmed3@gmail.com,success,992995954,6jqri17p6mgqyoa,card,"Feb 8th, 2021 12:38:55 PM",NGN,2500.0,137.50,2362.50,mastercard DEBIT,Guaranty Trust Bank,2021-02-08
16,bakwaibags@gmail.com,success,993010506,30envbv2r405ok3,card,"Feb 8th, 2021 12:53:35 PM",NGN,900.0,13.50,886.50,mastercard DEBIT,Guaranty Trust Bank,2021-02-08
17,redu54@gmail.com,success,993013352,1612788988909,card,"Feb 8th, 2021 12:56:30 PM",NGN,1.0,0.02,0.98,mastercard DEBIT,Wema Bank,2021-02-08
18,yinka_ogboye@yahoo.com,success,993056423,yxcrbeqew83h06z,card,"Feb 8th, 2021 01:41:32 PM",NGN,2100.0,31.50,2068.50,mastercard DEBIT,Guaranty Trust Bank,2021-02-08
19,hopeycook@yahoo.com,success,993110480,704296,card,"Feb 8th, 2021 02:42:35 PM",NGN,2200.0,33.00,2167.00,mastercard DEBIT,Guaranty Trust Bank,2021-02-08
20,bibijegede@gmail.com,success,993116533,9wm549j81iu62xo,card,"Feb 8th, 2021 02:49:00 PM",NGN,2000.0,30.00,1970.00,mastercard DEBIT,First Bank of Nigeria,2021-02-08
21,ivie.olotu@icloud.com,success,993159938,mqexvotqocq6rlb,card,"Feb 8th, 2021 03:22:12 PM",NGN,1400.0,21.00,1379.00,mastercard DEBIT,United Bank for Africa,2021-02-08
22,cipherblessing@gmail.com,success,993274771,trx_5bl8l3cw,card,"Feb 8th, 2021 04:53:28 PM",NGN,50.0,0.75,49.25,mastercard DEBIT,First Bank of Nigeria,2021-02-08
23,cipherblessing@gmail.com,success,993276197,5zv3txfo7yg6ykk,card,"Feb 8th, 2021 04:54:50 PM",NGN,1900.0,28.50,1871.50,mastercard DEBIT,First Bank of Nigeria,2021-02-08
24,wuraola@chattel.store,success,993451662,trx_1lvx45a5,card,"Feb 8th, 2021 07:35:50 PM",NGN,50.0,0.75,49.25,mastercard DEBIT,Ecobank Nigeria,2021-02-08

In [187]:
allmay.to_csv('opelogeight.csv', index = False)

In [12]:
airbyte.to_csv('kwikbitesmail.csv', index = False)

In [25]:
car1 = moroh[moroh['Customer Email'] == "abigailomage40@gmail.com"]

In [26]:
car2 = moroh[moroh['Customer Email'] == "pillartunde43@gmail.com"]

In [27]:
car3 = moroh[moroh['Customer Email'] == "coleadedayo@yahoo.com"]

In [28]:
car4 = moroh[moroh['Customer Email'] == "boldutensils@gmail.com"]

In [29]:
car5 = moroh[moroh['Customer Email'] == "hustleboy93@yahoo.com"]

In [30]:
allcar = pd.concat([car1, car2, car3, car4, car5])

In [32]:
allcar.to_csv('todaymaster.csv', index = False)

In [91]:
airnine = airtime[airtime['day_year'] == "2021-01-29"]

In [92]:
airten = airtime[airtime['day_year'] == "2021-01-30"]

In [93]:
airone = airtime[airtime['day_year'] == "2021-01-31"]

In [42]:
jeighteen = topmaster[topmaster['day_year'] == "2021-01-18"]

In [43]:
jnineteen = topmaster[topmaster['day_year'] == "2021-01-19"]

In [44]:
jtwenty = topmaster[topmaster['day_year'] == "2021-01-20"]

In [45]:
jtwentyone = topmaster[topmaster['day_year'] == "2021-01-21"]

In [46]:
jtwentytwo = topmaster[topmaster['day_year'] == "2021-01-22"]

In [47]:
jtwentythree = topmaster[topmaster['day_year'] == "2021-01-23"]

In [48]:
jtwentyfour = topmaster[topmaster['day_year'] == "2021-01-24"]

In [49]:
jtwentyfive = topmaster[topmaster['day_year'] == "2021-01-25"]

In [50]:
jtwentysix = topmaster[topmaster['day_year'] == "2021-01-26"]

In [94]:
airnine.to_csv('twenine.csv', index = False)

In [95]:
airten.to_csv('thirty.csv', index = False)

In [96]:
airone.to_csv('thirtyone.csv', index = False)

In [54]:
jeighteen.to_csv('jeight.csv', index = False)

In [55]:
jnineteen.to_csv('jnine.csv', index = False)

In [56]:
jtwenty.to_csv('jtwenty.csv', index = False)

In [57]:
jtwentyone.to_csv('jtwentyone.csv', index = False)

In [62]:
jtwentytwo.to_csv('jtwentytwo.csv', index = False)

In [58]:
jtwentythree.to_csv('jtwentythree.csv', index = False)

In [59]:
jtwentyfour.to_csv('jtwentyfour.csv', index = False)

In [60]:
jtwentyfive.to_csv('jtwentyfive.csv', index = False)

In [61]:
jtwentysix.to_csv('jtwentysix.csv', index = False)

In [31]:
totalbayotoday.to_csv('finalebayotoday.csv', index = False)

In [29]:
kwiktwo = finaloyaltie[finaloyaltie['day_year'] == "2020-12-22"]

In [32]:
kwikthree = finaloyaltie[finaloyaltie['day_year'] == "2020-12-23"]

In [33]:
kwikthree.to_csv('kwiktwentythree.csv', index = False)

In [67]:
totalanny = pd.DataFrame(totalannie)

In [68]:
totalanny

,Customer Email,Status,Id,Reference,Channel,Created At,Currency,Amount,Fees,Amount Due,Card Type,Bank,job_date,day_year
0,tonia4smart@yahoo.co.uk,success,927118093,kojwqjl01fax2d9,card,"Dec 18th, 2020 05:27:51 AM",NGN,2400.0,36.00,2364.00,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-18
1,tonia4smart@yahoo.co.uk,success,927121301,wkbv5a5wjfzynrp,card,"Dec 18th, 2020 05:34:14 AM",NGN,1700.0,25.50,1674.50,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-18
2,laraoloja@gmail.com,success,927151433,rk6u7kheulsq7pn,card,"Dec 18th, 2020 06:21:29 AM",NGN,2500.0,137.50,2362.50,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-18
3,akinzo234@gmail.com,success,927151733,1608272511070,card,"Dec 18th, 2020 06:21:53 AM",NGN,1.0,0.02,0.98,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-18
4,akinzo234@gmail.com,success,927239176,tno6yx0fyq4uom6,card,"Dec 18th, 2020 08:18:10 AM",NGN,2600.0,139.00,2461.00,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,signups@funsho.me,success,929964064,559141,card,"Dec 20th, 2020 09:31:56 AM",NGN,5540.6,183.11,5357.49,mastercard DEBIT,Stanbic IBTC Bank,2020-12,2020-12-20
59,segunbashorun@gmail.com,success,930022309,bv99k916lvzrmzm,card,"Dec 20th, 2020 10:31:54 AM",NGN,1200.0,18.00,1182.00,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-20
60,tomihadybete@gmail.com,success,930251407,trx_bf1hhuc9,card,"Dec 20th, 2020 01:55:19 PM",NGN,50.0,0.75,49.25,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-20
61,mikun2286@gmail.com,success,930257537,fbs4lfzolceprvz,card,"Dec 20th, 2020 02:00:02 PM",NGN,1700.0,25.50,1674.50,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-20
62,n.agbanusi@gmail.com,success,930404717,qrbp5nmeau3y027,card,"Dec 20th, 2020 04:13:36 PM",NGN,904.0,13.56,890.44,mastercard DEBIT,Guaranty Trust Bank,2020-12,2020-12-20

In [69]:
dayfriday = totalanny[totalanny['day_year'] == "2020-12-18"]

In [70]:
daysat = totalanny[totalanny['day_year'] == "2020-12-19"]

In [71]:
daysunday = totalanny[totalanny['day_year'] == "2020-12-20"]

In [76]:
dayfriday.to_csv('opefriday.csv', index = False)

In [77]:
daysat.to_csv('opesat.csv', index = False)

In [78]:
daysunday.to_csv('opesunday.csv', index = False)

In [60]:
anitafinalweekend.to_csv('annie.csv', index = False)

In [39]:
damtoday['job_date'] = pd.to_datetime(damtoday['job_time']).dt.to_period('M')

In [40]:
damtoday['day_year'] = pd.to_datetime(damtoday['job_time']).dt.to_period('D')

In [68]:
damtoday

,job_id,total_amount,payment_method,job_time,job_status,job_date,day_year
0,1,90.0,8,2019-06-14 18:44:00,2,2019-06,2019-06-14
1,3,90.0,262144,2019-06-14 18:47:00,2,2019-06,2019-06-14
2,5,70.0,8,2019-06-14 18:58:00,2,2019-06,2019-06-14
3,6,70.0,8,2019-06-14 19:22:00,2,2019-06,2019-06-14
4,7,70.0,262144,2019-06-17 11:15:00,2,2019-06,2019-06-17
...,...,...,...,...,...,...,...
90044,106531,1200.0,32,2020-12-24 10:48:00,2,2020-12,2020-12-24
90045,106533,100.0,8,2020-12-24 10:50:00,2,2020-12,2020-12-24
90046,106534,100.0,8,2020-12-24 11:01:00,2,2020-12,2020-12-24
90047,106542,0.0,2097152,2020-12-24 10:51:00,2,2020-12,2020-12-24
90048,106566,3000.0,32,2020-12-24 11:12:00,2,2020-12,2020-12-24

In [41]:
damfinal = damtoday[damtoday['day_year'] == "2020-12-23"]

In [ ]:
refinedmaster = dmaster[(dmaster['day_year'] > '2020-12-21') & (dmaster['day_year'] < '2020-12-24')]

In [69]:
alldecember = damtoday[(damtoday['day_year'] > '2020-11-30') & (damtoday['day_year'] < '2020-12-24')]

In [76]:
testiey = alldecember.groupby('payment_method')

In [77]:
testiey

In [70]:
alldecember

,job_id,total_amount,payment_method,job_time,job_status,job_date,day_year
79593,93478,1478.20,524288,2020-12-17 08:36:00,2,2020-12,2020-12-17
79594,93479,1478.20,524288,2020-12-17 08:52:00,2,2020-12,2020-12-17
79595,93480,1478.20,524288,2020-12-17 08:54:00,2,2020-12,2020-12-17
79596,93481,1478.20,524288,2020-12-17 08:58:00,2,2020-12,2020-12-17
79857,93770,2274.10,524288,2020-12-01 14:00:00,2,2020-12,2020-12-01
...,...,...,...,...,...,...,...
89981,106227,1076.66,524288,2020-12-23 17:53:00,2,2020-12,2020-12-23
89982,106228,1076.66,524288,2020-12-23 17:47:00,2,2020-12,2020-12-23
89983,106229,1076.66,524288,2020-12-23 17:54:00,2,2020-12,2020-12-23
89984,106240,1600.00,32,2020-12-23 18:21:00,2,2020-12,2020-12-23
89985,106241,1600.00,32,2020-12-23 18:41:00,2,2020-12,2020-12-23

In [67]:
damfinal

,job_id,total_amount,payment_method,job_time,job_status,job_date,day_year,payment_methody,payment_methodie,payment_methodia
88668,104114,2087.00,524288,2020-12-23 08:21:00,2,2020-12,2020-12-23,MonthlyPayment,524288,524288
88669,104115,2087.00,524288,2020-12-23 08:58:00,2,2020-12,2020-12-23,MonthlyPayment,524288,524288
88670,104116,2087.00,524288,2020-12-23 09:09:00,2,2020-12,2020-12-23,MonthlyPayment,524288,524288
88678,104126,2466.10,524288,2020-12-23 08:36:00,2,2020-12,2020-12-23,MonthlyPayment,524288,524288
88679,104127,2466.10,524288,2020-12-23 09:04:00,2,2020-12,2020-12-23,MonthlyPayment,524288,524288
...,...,...,...,...,...,...,...,...,...,...
89981,106227,1076.66,524288,2020-12-23 17:53:00,2,2020-12,2020-12-23,MonthlyPayment,524288,524288
89982,106228,1076.66,524288,2020-12-23 17:47:00,2,2020-12,2020-12-23,MonthlyPayment,524288,524288
89983,106229,1076.66,524288,2020-12-23 17:54:00,2,2020-12,2020-12-23,MonthlyPayment,524288,524288
89984,106240,1600.00,32,2020-12-23 18:21:00,2,2020-12,2020-12-23,32,Paystack,32
89985,106241,1600.00,32,2020-12-23 18:41:00,2,2020-12,2020-12-23,32,Paystack,32

In [71]:
alldecember.to_csv('decemberfinale.csv', index = False)

In [43]:
damfinal.to_csv('damyfinale.csv', index = False)

In [59]:
failedtoday['job_date'] = pd.to_datetime(failedtoday['job_time']).dt.to_period('M')

In [60]:
failedtoday['day_year'] = pd.to_datetime(failedtoday['job_time']).dt.to_period('D')

In [61]:
canceltoday['job_date'] = pd.to_datetime(canceltoday['job_time']).dt.to_period('M')

In [62]:
canceltoday['day_year'] = pd.to_datetime(canceltoday['job_time']).dt.to_period('D')

In [63]:
failedfinal = failedtoday[failedtoday['day_year'] == "2020-12-23"]

In [64]:
cancelfinal = canceltoday[canceltoday['day_year'] == "2020-12-23"]

In [15]:
mayorpod['job_date'] = pd.to_datetime(mayorpod['job_time']).dt.to_period('M')

In [21]:
mayorpod['day_year'] = pd.to_datetime(mayorpod['job_time']).dt.to_period('D')

In [23]:
mayorcash['job_date'] = pd.to_datetime(mayorcash['job_time']).dt.to_period('M')

In [16]:
mayorcash['day_year'] = pd.to_datetime(mayorcash['job_time']).dt.to_period('D')

In [30]:
mayorpaystack['job_date'] = pd.to_datetime(mayorpaystack['job_time']).dt.to_period('M')

In [31]:
mayorpaystack['day_year'] = pd.to_datetime(mayorpaystack['job_time']).dt.to_period('D')

In [32]:
mayorpaga['job_date'] = pd.to_datetime(mayorpaga['job_time']).dt.to_period('M')

In [33]:
mayorpaga['day_year'] = pd.to_datetime(mayorpaga['job_time']).dt.to_period('D')

In [34]:
mayormonthly['job_date'] = pd.to_datetime(mayormonthly['job_time']).dt.to_period('M')

In [35]:
mayormonthly['day_year'] = pd.to_datetime(mayormonthly['job_time']).dt.to_period('D')

In [20]:
damcash['job_date'] = pd.to_datetime(damcash['job_time']).dt.to_period('M')

In [21]:
damcash['day_year'] = pd.to_datetime(damcash['job_time']).dt.to_period('D')

In [9]:
damtoh['job_date'] = pd.to_datetime(damtoh['job_time']).dt.to_period('M')

In [10]:
damtoh['day_year'] = pd.to_datetime(damtoh['job_time']).dt.to_period('D')

In [116]:
totaldammy= pd.read_csv('finalmayowa.csv')

In [117]:
totaldammy

     job_id  total_amount  payment_method
0    103852        3000.0          262144
1    103853        3000.0          262144
2    104537        1300.0          262144
3    104538        1300.0          262144
4    104579        3200.0          262144
..      ...           ...             ...
533  105003        2500.0          131072
534  105075        1900.0          131072
535  105076        1900.0          131072
536  105175        1700.0          131072
537  105176        1700.0          131072

[538 rows x 3 columns]

In [54]:
damfinal['payment_methodike'] = damfinal['payment_method'].replace([131072, 8],'Paga','Cash')

ValueError: For argument "inplace" expected type bool, received type str.

In [131]:
totaldammy['payment_methodie'] =totaldammy['payment_method'].replace(['8','262144','131072','32','524288'],['Cash','CashonDelivery','Paga','Paystack','MonthlyPayment'.])

SyntaxError: invalid syntax (<ipython-input-131-da4e9f9098cc>, line 1)

In [51]:
damfinal

,job_id,total_amount,payment_method,job_time,job_status,job_date,day_year,payment_methody,payment_methodie,payment_methodia
88668,104114,2087.00,524288,2020-12-23 08:21:00,2,2020-12,2020-12-23,MonthlyPayment,524288,524288
88669,104115,2087.00,524288,2020-12-23 08:58:00,2,2020-12,2020-12-23,MonthlyPayment,524288,524288
88670,104116,2087.00,524288,2020-12-23 09:09:00,2,2020-12,2020-12-23,MonthlyPayment,524288,524288
88678,104126,2466.10,524288,2020-12-23 08:36:00,2,2020-12,2020-12-23,MonthlyPayment,524288,524288
88679,104127,2466.10,524288,2020-12-23 09:04:00,2,2020-12,2020-12-23,MonthlyPayment,524288,524288
...,...,...,...,...,...,...,...,...,...,...
89981,106227,1076.66,524288,2020-12-23 17:53:00,2,2020-12,2020-12-23,MonthlyPayment,524288,524288
89982,106228,1076.66,524288,2020-12-23 17:47:00,2,2020-12,2020-12-23,MonthlyPayment,524288,524288
89983,106229,1076.66,524288,2020-12-23 17:54:00,2,2020-12,2020-12-23,MonthlyPayment,524288,524288
89984,106240,1600.00,32,2020-12-23 18:21:00,2,2020-12,2020-12-23,32,Paystack,32
89985,106241,1600.00,32,2020-12-23 18:41:00,2,2020-12,2020-12-23,32,Paystack,32

In [66]:
cancelfinal.to_csv('cancelfinale.csv', index = False)

In [147]:
totaldammy

,job_id,total_amount,payment_method,payment_methody,payment_methodiy,payment_methodiay,payment_methodiye
0,103852,3000.0,262144,262144,262144,262144,CashonDelivery
1,103853,3000.0,262144,262144,262144,262144,CashonDelivery
2,104537,1300.0,262144,262144,262144,262144,CashonDelivery
3,104538,1300.0,262144,262144,262144,262144,CashonDelivery
4,104579,3200.0,262144,262144,262144,262144,CashonDelivery
...,...,...,...,...,...,...,...
533,105003,2500.0,Paga,Paga,Paga,Paga,Paga
534,105075,1900.0,Paga,Paga,Paga,Paga,Paga
535,105076,1900.0,Paga,Paga,Paga,Paga,Paga
536,105175,1700.0,Paga,Paga,Paga,Paga,Paga
537,105176,1700.0,Paga,Paga,Paga,Paga,Paga

In [72]:
yorpod = mayorpod[mayorpod['day_year'] == "2020-12-22"]

In [73]:
yorcash = mayorcash[mayorcash['day_year'] == "2020-12-22"]

In [74]:
yorpaystack = mayorpaystack[mayorpaystack['day_year'] == "2020-12-22"]

In [75]:
yorpaga = mayorpaga[mayorpaga['day_year'] == "2020-12-22"]

In [76]:
yormonthly = mayormonthly[mayormonthly['day_year'] == "2020-12-22"]

In [160]:
yourpod = yorpod[yorpod['job_status'] == 2]

In [159]:
yourpod['job_status']

Series([], Name: job_status, dtype: int64)

In [58]:
dammiecashy = damcash[damcash['day_year'] == "2020-12-20"]

In [66]:
dammiecash = damcash[damcash['day_year'] == "2020-12-21"]

In [60]:
dammiecod = damtoh[damtoh['day_year'] == "2020-12-20"]

In [61]:
dammiecody = damtoh[damtoh['day_year'] == "2020-12-21"]

In [178]:
test = (yormonthly[['job_id', 'total_amount', 'payment_method']])

In [54]:
test = dammiecash['job_id']

In [75]:
test = (dammiecody[['job_id', 'total_amount']])

In [179]:
testie = pd.DataFrame(test)

In [180]:
testie

       job_id  total_amount  payment_method
30303  104202       1969.80          524288
30304  104203       1969.80          524288
30416  104539       1417.60          524288
30417  104540       1417.60          524288
30418  104574       2493.90          524288
...       ...           ...             ...
30631  105378       1076.66          524288
30632  105381       1076.66          524288
30633  105382       1076.66          524288
30634  105383       1076.66          524288
30635  105384       1076.66          524288

[200 rows x 3 columns]

In [181]:
testie.to_csv('allmonthly.csv', index = False)

In [8]:
loyaleighteenfd = pd.DataFrame(loyaleighteen)

In [9]:
listeighteen = loyaleighteenfd[loyaleighteenfd['Card Type'] == "mastercard DEBIT"]

In [10]:
listeighteen

,Status,Id,Reference,Channel,Created At,Currency,Amount,Fees,Amount Due,Customer Email,Card Type,Bank
12,success,208238055,1562141087154,card,"Jul 3rd, 2019 08:04:48 AM",NGN,50.0,0.75,49.25,francisosize@gmail.com,mastercard DEBIT,Access Bank
13,success,209031406,trx_qiy1ljfm,card,"Jul 4th, 2019 11:14:49 AM",NGN,50.0,0.75,49.25,oa@kwik.delivery,mastercard DEBIT,Guaranty Trust Bank
14,success,209032563,4j4dgz6odqhitnp,card,"Jul 4th, 2019 11:16:00 AM",NGN,260.0,3.90,256.10,oa@kwik.delivery,mastercard DEBIT,Guaranty Trust Bank
15,success,209633932,trx_up5xstq1,card,"Jul 5th, 2019 08:42:45 AM",NGN,50.0,0.75,49.25,sandraoffideh@gmail.com,mastercard DEBIT,Guaranty Trust Bank
16,success,209634495,w33gkyejsh2zumd,card,"Jul 5th, 2019 08:43:43 AM",NGN,1450.0,21.75,1428.25,sandraoffideh@gmail.com,mastercard DEBIT,Guaranty Trust Bank
...,...,...,...,...,...,...,...,...,...,...,...,...
25850,success,927523201,d42zc807tswrfbl,card,"Dec 18th, 2020 01:21:17 PM",NGN,2200.0,33.00,2167.00,turahturah222@icloud.com,mastercard DEBIT,Guaranty Trust Bank
25851,success,927532381,cirh7ciie56mgh3,card,"Dec 18th, 2020 01:31:35 PM",NGN,2200.0,33.00,2167.00,hello@evuryman.com,mastercard DEBIT,Guaranty Trust Bank
25852,success,927532861,5mu4gqeug0qiw14,card,"Dec 18th, 2020 01:32:06 PM",NGN,800.0,12.00,788.00,rummiejode@gmail.com,mastercard DEBIT,Guaranty Trust Bank
25853,success,927534825,joilgz3ur7maizz,card,"Dec 18th, 2020 01:34:15 PM",NGN,900.0,13.50,886.50,cannonrepairs@gmail.com,mastercard DEBIT,Guaranty Trust Bank
25854,success,927554534,akm0mnwcqp64oac,card,"Dec 18th, 2020 01:54:23 PM",NGN,1400.0,21.00,1379.00,folasadey@yahoo.com,mastercard DEBIT,Guaranty Trust Bank

In [11]:
listeighteen["Create"] = pd.to_datetime(listeighteen["Created At"])

<ipython-input-11-dbad27ec3dea>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listeighteen["Create"] = pd.to_datetime(listeighteen["Created At"])

In [12]:
listeighteen['day_year'] = pd.to_datetime(listeighteen['Created At']).dt.to_period('D')

<ipython-input-12-932199d08316>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listeighteen['day_year'] = pd.to_datetime(listeighteen['Created At']).dt.to_period('D')

In [13]:
dayseventeen = listeighteen[listeighteen['day_year'] == "2020-12-17"]

In [10]:
daythirteen = listfourteen[listfourteen['day_year'] == "2020-12-12"]

In [11]:
dayfourteen = listfourteen[listfourteen['day_year'] == "2020-12-13"]

In [34]:
allmasterloyal = listfourteen[(listfourteen['day_year'] > '2020-12-10') & (listfourteen['day_year'] < '2020-12-14')]

In [35]:
allmasterloyal

,Status,Id,Reference,Channel,Created At,Currency,Amount,Fees,Amount Due,Customer Email,Card Type,Bank,Create,day_year
24608,success,918621365,1nwpq0sdowc3qeg,card,"Dec 11th, 2020 05:00:28 AM",NGN,2200.0,33.00,2167.00,adetolani25@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12-11 05:00:28,2020-12-11
24609,success,918642462,trx_sw0wiiwc,card,"Dec 11th, 2020 05:32:58 AM",NGN,50.0,0.75,49.25,adorabletwinsmomma@gmail.com,mastercard DEBIT,Zenith Bank,2020-12-11 05:32:58,2020-12-11
24610,success,918642854,zswpx3fyht43c2o,card,"Dec 11th, 2020 05:33:37 AM",NGN,1600.0,24.00,1576.00,adorabletwinsmomma@gmail.com,mastercard DEBIT,Zenith Bank,2020-12-11 05:33:37,2020-12-11
24611,success,918692377,08gtq3x7j09qtzu,card,"Dec 11th, 2020 06:39:19 AM",NGN,1400.0,21.00,1379.00,complete.luxury@gmail.com,mastercard DEBIT,First Bank of Nigeria,2020-12-11 06:39:19,2020-12-11
24613,success,918706788,ee9h4hw8mjgiete,card,"Dec 11th, 2020 07:04:27 AM",NGN,800.0,12.00,788.00,moyoadetimehin@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12-11 07:04:27,2020-12-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25039,success,921746379,xewwn663r85j9ix,card,"Dec 13th, 2020 01:52:48 PM",NGN,1400.0,21.00,1379.00,askroquetteanddeen@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12-13 13:52:48,2020-12-13
25040,success,921853418,19mqyx9udagqiro,card,"Dec 13th, 2020 03:28:31 PM",NGN,600.0,9.00,591.00,vincecraw4@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12-13 15:28:31,2020-12-13
25041,success,921855705,trx_lz1i4umk,card,"Dec 13th, 2020 03:30:55 PM",NGN,50.0,0.75,49.25,frank.nkanga@gmail.com,mastercard DEBIT,United Bank for Africa,2020-12-13 15:30:55,2020-12-13
25042,success,921857066,26rfwo7g8drti2d,card,"Dec 13th, 2020 03:32:11 PM",NGN,1800.0,27.00,1773.00,frank.nkanga@gmail.com,mastercard DEBIT,United Bank for Africa,2020-12-13 15:32:11,2020-12-13
25043,success,921923968,9qw1wme19wazl6u,card,"Dec 13th, 2020 04:33:41 PM",NGN,100.0,1.50,98.50,ifeanyi.okocha@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12-13 16:33:41,2020-12-13

In [14]:
masterseventeen = dayseventeen[dayseventeen['Card Type'] == "mastercard DEBIT"]

In [15]:
masterseventeen

,Status,Id,Reference,Channel,Created At,Currency,Amount,Fees,Amount Due,Customer Email,Card Type,Bank,Create,day_year
25528,success,925794327,92vfu7qph2fxet9,card,"Dec 17th, 2020 12:16:01 AM",NGN,2200.0,33.00,2167.00,nandwani72@yahoo.com,mastercard DEBIT,First City Monument Bank,2020-12-17 00:16:01,2020-12-17
25529,success,925928276,trx_jxztvdi0,card,"Dec 17th, 2020 05:27:56 AM",NGN,50.0,0.75,49.25,osadome@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12-17 05:27:56,2020-12-17
25530,success,925933232,ae5auijis3noxvb,card,"Dec 17th, 2020 05:37:20 AM",NGN,2000.0,30.00,1970.00,ememkarieren2@yahoo.com,mastercard DEBIT,Guaranty Trust Bank,2020-12-17 05:37:20,2020-12-17
25531,success,925934625,84zccby4d75qtvf,card,"Dec 17th, 2020 05:40:08 AM",NGN,1800.0,27.00,1773.00,osadome@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12-17 05:40:08,2020-12-17
25532,success,925936882,cbkfk0k8etr0k6w,card,"Dec 17th, 2020 05:44:28 AM",NGN,1800.0,27.00,1773.00,ememkarieren2@yahoo.com,mastercard DEBIT,Guaranty Trust Bank,2020-12-17 05:44:28,2020-12-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25736,success,926672740,d5od0qmqn3j2r0v,card,"Dec 17th, 2020 06:44:52 PM",NGN,2200.0,33.00,2167.00,adeosuntobi49@yahoo.com,mastercard DEBIT,Guaranty Trust Bank,2020-12-17 18:44:52,2020-12-17
25737,success,926678104,zg97vlijxiuo9iq,card,"Dec 17th, 2020 06:50:58 PM",NGN,700.0,10.50,689.50,olaoladele8@gmail.com,mastercard DEBIT,United Bank for Africa,2020-12-17 18:50:58,2020-12-17
25738,success,926742437,7y8h83ltdzeyuqx,card,"Dec 17th, 2020 07:46:22 PM",NGN,1600.0,24.00,1576.00,johnizekor@gmail.com,mastercard DEBIT,Guaranty Trust Bank,2020-12-17 19:46:22,2020-12-17
25739,success,926798939,qyzi0gj9b9hohs2,card,"Dec 17th, 2020 08:42:43 PM",NGN,3300.0,149.50,3150.50,subairzee@icloud.com,mastercard DEBIT,Guaranty Trust Bank,2020-12-17 20:42:43,2020-12-17
25740,success,926929464,usrwx53h102qr3p,card,"Dec 17th, 2020 11:15:50 PM",NGN,10.0,0.15,9.85,oyeleyetutuola@yahoo.com,mastercard DEBIT,Guaranty Trust Bank,2020-12-17 23:15:50,2020-12-17

In [16]:
mailseventeen = masterseventeen["Customer Email"]

In [17]:
mailseventeen

25528        nandwani72@yahoo.com
25529           osadome@gmail.com
25530     ememkarieren2@yahoo.com
25531           osadome@gmail.com
25532     ememkarieren2@yahoo.com
                   ...
25736     adeosuntobi49@yahoo.com
25737       olaoladele8@gmail.com
25738        johnizekor@gmail.com
25739        subairzee@icloud.com
25740    oyeleyetutuola@yahoo.com
Name: Customer Email, Length: 181, dtype: object

In [18]:
mailseventeenunique = mailseventeen.unique()

In [20]:
mailseventeen = pd.DataFrame(mailseventeenunique)

In [21]:
mailseventeen.to_csv('mailseventeenope.csv', index = False)

In [23]:
seventeen = pd.read_csv('mailseventeenope.csv')

In [24]:
bayoseventeen = pd.read_csv('bayomastercardloyalty.csv')

In [25]:
left = pd.DataFrame(bayoseventeen)

In [26]:
right = pd.DataFrame(seventeen)

In [27]:
opeseventeen = pd.merge(left,right,how ='outer', on ='Customer Email')

In [28]:
opeseventeen

                      Customer Email  Count  Serial
0                 abbyoni2@yahoo.com    1.0     1.0
1             abianseabasi@gmail.com    2.0     2.0
2                adey19866@gmail.com    3.0     3.0
3            adeyemobisola@yahoo.com    4.0     4.0
4              agwaivictor@gmail.com    5.0     5.0
..                               ...    ...     ...
732  gourmetfusioncatering@gmail.com    NaN     NaN
733               tosinfam@yahoo.com    NaN     NaN
734             danisolate@gmail.com    NaN     NaN
735            asimiloluwa@yahoo.com    NaN     NaN
736             onabanjo50@gmail.com    NaN     NaN

[737 rows x 3 columns]

In [29]:
opeseventeen.to_csv('mailopeyseventeen.csv', index = False)

In [31]:
seventeenfinal = pd.read_csv('newopeseventeenfinale.csv')

In [33]:
left = pd.DataFrame(masterseventeen)

In [32]:
right = pd.DataFrame(seventeenfinal)

In [34]:
totalseventeenfinal = pd.merge(left,right,how ='inner', on ='Customer Email')

In [36]:
totalseventeenfinal.to_csv('totaleseventeenfinale.csv', index = False)

In [31]:
freshopefifteen = pd.DataFrame(newopeyfifteen)

In [17]:
mailfifteenunique = mailfifteen.unique()

In [18]:
mailfifteenunique

array(['f.ajayibembe@gmail.com', 'davanajewelry@gmail.com',
       'countawo@gmail.com', 'ibiyemi.fashola@gmail.com',
       'shoerevamp@gmail.com', 'hardey93@gmail.com',
       'damilolash@gmail.com', 'kenerapu@gmail.com', 'afollabe@gmail.com',
       'ayinkeyishaladipo@gmail.com', 'urbanestore1@gmail.com',
       'olaitanyusuph@gmail.com', 'jasonmycroft@gmail.com',
       'ladywealth8@gmail.com', 'adebara.sulaimon@gmail.com',
       'yomifaseund@gmail.com', 'angeltaiwo2001@gmail.com',
       'dejiajila@gmail.com', 'awurumibedubby@gmail.com',
       'odetolaolajumoke567@gmail.com', 'shalomekelaka@yahoo.com',
       'folasadey@yahoo.com', 'account@printfactory.com.ng',
       'oyinkansolamary@gmail.com', 'sallystoresnigltd@gmail.com',
       'tundeashafa33@yahoo.com', 'pheyishayor@gmail.com',
       'mimipetti_4@yahoo.com', 'selfitnessng@gmail.com',
       'steve_fash@hotmail.com', 'dayo.akinwole2010@gmail.com',
       'eniolamiamiahair@gmail.com', 'realonefashion87@gmail.com',
       'quareebk@gmail.com', 'awefirm@gmail.com', 'kaykadejo@yahoo.co.uk',
       'dayo.fidoltrips@gmail.com', 'sayomi@gmail.com',
       'ask4kunle@gmail.com', 'sehara4luv@gmail.com',
       'adebowalemide@yahoo.com', 'kartafeeds5k@gmail.com',
       'cannonrepairs@gmail.com', 'busayotej@gmail.com',
       'ultralogic_ent@yahoo.com', 'dele.olaoye@outlook.com',
       'adesinapelumi23@gmail.com', 'franncessca08@gmail.com',
       'laoluogun@gmail.com', 'kenny@medsaf.com',
       'oolanrewaju357@gmail.com', 'okundayeaisosa@gmail.com',
       'olusopeconcepts@gmail.com', 'deoladeyemo23@gmail.com',
       'yanju_temitope@yahoo.com', 'malojim2001@gmail.com',
       'favour.u@credpal.com', 'vera.akunne@gaiawomenclub.com',
       'generaljunee@gmail.com', 'cahamefula@ifeanhealth.com',
       'efeokagbare@gmail.com', 'justbrandxpressions@gmail.com',
       'aliumuhabashir@gmail.com', 'tokkyatoke@gmail.com',
       'adokunrapheal@gmail.com', 'saheedakinwande@gmail.com',
       'ukpaichimezie@gmail.com', 'mary4ammie@yahoo.com',
       'daviddaviairid@gmail.com', 'obiora.anisiuba@gmail.com',
       'omosalewabadejo@gmail.com', 'gopandy@gmail.com',
       'theherbescentral@gmail.com', 'gobinddaswanigd@gmail.com',
       'ekpomatilda@yahoo.com', 'desolaanthonyafolabi@gmail.com',
       'songs4sherry@gmail.com', 'honyinzbabe@gmail.com',
       'molly2sure@gmail.com'], dtype=object)

In [19]:
mailtotalfifteen = pd.DataFrame(mailfifteenunique)

In [20]:
mailtotalfifteen.to_csv('mailtotalfifteenfinale.csv', index = False)

In [30]:
loyalsixtwoleft = pd.read_csv('newopesixteenrefined.csv')

In [29]:
loyalsixtworight = pd.read_csv('newopesixteenrefined.csv')

In [22]:
loyalright = pd.read_csv('mailtotalfifteenfinale.csv')

In [32]:
left = pd.DataFrame(loyalsixtwoleft)

In [31]:
right = pd.DataFrame(mastersixteen)

In [33]:
opeyfinalsixteentwo = pd.merge(left,right,how ='inner', on ='Customer Email')

In [35]:
opeyfinalsixteentwo.to_csv('bayosixteentwo.csv', index = False)

In [120]:
totaltene = pd.read_csv('finaletenloyal.csv')

In [21]:
loyalleftist = pd.read_csv('bayomastercardloyalty.csv')

In [ ]:
loyalleftist = pd.read_csv('bayomastercardloyalty.csv')

In [53]:
realbayo = pd.read_csv('simplebayo.csv')

In [27]:
left = pd.DataFrame(totaleftsixteen)

In [28]:
right = pd.DataFrame(mastersixteen)

In [29]:
opeyfinalesixteen = pd.merge(left,right,how ='inner', on ='Customer Email')

In [30]:
opeyfinalesixteen

,Customer Email,Status,Id,Reference,Channel,Created At,Currency,Amount,Fees,Amount Due,Card Type,Bank,Create,day_year
0,tayo.adenmosun@gmail.com,success,923464714,nrqre2wkkgsprx2,card,"Dec 15th, 2020 06:25:19 AM",NGN,2400.0,36.00,2364.00,mastercard DEBIT,Sterling Bank,2020-12-15 06:25:19,2020-12-15
1,fifedimeji@gmail.com,success,923496773,trx_14brz0a7,card,"Dec 15th, 2020 07:15:08 AM",NGN,50.0,0.75,49.25,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 07:15:08,2020-12-15
2,fifedimeji@gmail.com,success,923497000,l47ea9hya03mngj,card,"Dec 15th, 2020 07:15:27 AM",NGN,2500.0,137.50,2362.50,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 07:15:27,2020-12-15
3,funmiscakeshop@gmail.com,success,923512583,trx_swd79ud4,card,"Dec 15th, 2020 07:34:51 AM",NGN,50.0,0.75,49.25,mastercard DEBIT,United Bank for Africa,2020-12-15 07:34:51,2020-12-15
4,funmiscakeshop@gmail.com,success,923513206,uncx90p9cdlul98,card,"Dec 15th, 2020 07:35:31 AM",NGN,2300.0,34.50,2265.50,mastercard DEBIT,United Bank for Africa,2020-12-15 07:35:31,2020-12-15
5,tobirin.ba@gmail.com,success,923586945,trx_fylos5jh,card,"Dec 15th, 2020 09:00:10 AM",NGN,50.0,0.75,49.25,mastercard DEBIT,Sterling Bank,2020-12-15 09:00:10,2020-12-15
6,tobirin.ba@gmail.com,success,923590434,11om88sr2cku5up,card,"Dec 15th, 2020 09:03:01 AM",NGN,2500.0,137.50,2362.50,mastercard DEBIT,Sterling Bank,2020-12-15 09:03:01,2020-12-15
7,tobirin.ba@gmail.com,success,923611934,29j3e9vdxewg3o2,card,"Dec 15th, 2020 09:20:52 AM",NGN,2600.0,139.00,2461.00,mastercard DEBIT,Sterling Bank,2020-12-15 09:20:52,2020-12-15
8,belloabiodun01@yahoo.com,success,923599621,trx_0p8k94x7,card,"Dec 15th, 2020 09:10:45 AM",NGN,50.0,0.75,49.25,mastercard DEBIT,Access Bank,2020-12-15 09:10:45,2020-12-15
9,belloabiodun01@yahoo.com,success,923600493,srs4vqnsx984a96,card,"Dec 15th, 2020 09:11:26 AM",NGN,1200.0,18.00,1182.00,mastercard DEBIT,Access Bank,2020-12-15 09:11:26,2020-12-15
10,girlishshopng@gmail.com,success,923615961,trx_qs7474yd,card,"Dec 15th, 2020 09:25:06 AM",NGN,50.0,0.75,49.25,mastercard DEBIT,Zenith Bank,2020-12-15 09:25:06,2020-12-15
11,girlishshopng@gmail.com,success,923616933,3pq9mjpf61vxqr5,card,"Dec 15th, 2020 09:26:15 AM",NGN,2100.0,31.50,2068.50,mastercard DEBIT,Zenith Bank,2020-12-15 09:26:15,2020-12-15
12,ajio4jay94@gmail.com,success,923625310,frspjxd4wy5jz58,card,"Dec 15th, 2020 09:34:32 AM",NGN,2300.0,34.50,2265.50,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 09:34:32,2020-12-15
13,adeosuntobi49@yahoo.com,success,923631272,trx_up5maqos,card,"Dec 15th, 2020 09:40:25 AM",NGN,50.0,0.75,49.25,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 09:40:25,2020-12-15
14,adeosuntobi49@yahoo.com,success,923633537,3g9fniqfbsoo2gt,card,"Dec 15th, 2020 09:42:37 AM",NGN,2400.0,36.00,2364.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 09:42:37,2020-12-15
15,modupe.wunmi@yahoo.com,success,923662985,trx_j44x1fog,card,"Dec 15th, 2020 10:13:12 AM",NGN,50.0,0.75,49.25,mastercard DEBIT,First Bank of Nigeria,2020-12-15 10:13:12,2020-12-15
16,ujubuonuokwudili@gmail.com,success,923664995,trx_goxcyp09,card,"Dec 15th, 2020 10:15:34 AM",NGN,50.0,0.75,49.25,mastercard DEBIT,First Bank of Nigeria,2020-12-15 10:15:34,2020-12-15
17,ujubuonuokwudili@gmail.com,success,923665866,wizihkqa61r6pv4,card,"Dec 15th, 2020 10:16:35 AM",NGN,1600.0,24.00,1576.00,mastercard DEBIT,First Bank of Nigeria,2020-12-15 10:16:35,2020-12-15
18,oladipooladele08@gmail.com,success,923681519,trx_31bot1tj,card,"Dec 15th, 2020 10:33:54 AM",NGN,50.0,0.75,49.25,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 10:33:54,2020-12-15
19,oladipooladele08@gmail.com,success,923682537,se1j7saomu36i1f,card,"Dec 15th, 2020 10:35:02 AM",NGN,4200.0,163.00,4037.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 10:35:02,2020-12-15
20,bekkeso@gmail.com,success,923687219,6j8dn2gl5cfkjxm,card,"Dec 15th, 2020 10:40:36 AM",NGN,1600.0,24.00,1576.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 10:40:36,2020-12-15
21,bekkeso@gmail.com,success,924059452,ogxsbysb7riyeya,card,"Dec 15th, 2020 04:27:20 PM",NGN,1400.0,21.00,1379.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 16:27:20,2020-12-15
22,bekkeso@gmail.com,success,924084909,iy4lwa9ivip8osw,card,"Dec 15th, 2020 04:47:28 PM",NGN,200.0,3.00,197.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 16:47:28,2020-12-15
23,gracey.gold89@yahoo.com,success,923692510,s54j9b7ji5dxoc9,card,"Dec 15th, 2020 10:46:47 AM",NGN,700.0,10.50,689.50,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 10:46:47,2020-12-15
24,gracey.gold89@yahoo.com,success,923702250,0txl61fhjdv6218,card,"Dec 15th, 2020 10:57:42 AM",NGN,900.0,13.50,886.50,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 10:57:42,2020-12-15
25,praizmike@gmail.com,success,923752715,qnm6ys9v3ppv8jv,card,"Dec 15th, 2020 11:44:21 AM",NGN,600.0,9.00,591.00,mastercard DEBIT,Zenith Bank,2020-12-15 11:44:21,2020-12-15
26,praizmike@gmail.com,success,923840609,jf220ffjhjp8hry,card,"Dec 15th, 2020 01:11:40 PM",NGN,1700.0,25.50,1674.50,mastercard DEBIT,Zenith Bank,2020-12-15 13:11:40,2020-12-15
27,toronehemiah@gmail.com,success,923807594,e54p17sivp2v012,card,"Dec 15th, 2020 12:38:50 PM",NGN,1600.0,24.00,1576.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 12:38:50,2020-12-15
28,fatimah4u2mail@yahoo.com,success,923825032,trx_m7kk7pg7,card,"Dec 15th, 2020 12:56:44 PM",NGN,50.0,0.75,49.25,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 12:56:44,2020-12-15
29,aoonoh@gmail.com,success,923837223,zklgla130h07l0d,card,"Dec 15th, 2020 01:08:17 PM",NGN,1600.0,24.00,1576.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 13:08:17,2020-12-15
30,foolaogun@gmail.com,success,923914926,trx_ml29cs7p,card,"Dec 15th, 2020 02:23:12 PM",NGN,50.0,0.75,49.25,mastercard DEBIT,First Bank of Nigeria,2020-12-15 14:23:12,2020-12-15
31,foolaogun@gmail.com,success,923915873,5maf25q6rice4n4,card,"Dec 15th, 2020 02:24:06 PM",NGN,1800.0,27.00,1773.00,mastercard DEBIT,First Bank of Nigeria,2020-12-15 14:24:06,2020-12-15
32,doughnutologyng@gmail.com,success,923915450,b85r208yq3ob7jz,card,"Dec 15th, 2020 02:23:41 PM",NGN,1400.0,21.00,1379.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 14:23:41,2020-12-15
33,computeroutletlimited@gmail.com,success,923927585,trx_5lxkyh3i,card,"Dec 15th, 2020 02:34:29 PM",NGN,50.0,0.75,49.25,mastercard DEBIT,Zenith Bank,2020-12-15 14:34:29,2020-12-15
34,computeroutletlimited@gmail.com,success,923932855,0ghb3cw1s9cu1oh,card,"Dec 15th, 2020 02:38:35 PM",NGN,2400.0,36.00,2364.00,mastercard DEBIT,Zenith Bank,2020-12-15 14:38:35,2020-12-15
35,najybah@gmail.com,success,923947127,q7x70dleb728obe,card,"Dec 15th, 2020 02:51:36 PM",NGN,1200.0,18.00,1182.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 14:51:36,2020-12-15
36,horlamilekan255@gmail.com,success,923949017,y5uzjza885voqk0,card,"Dec 15th, 2020 02:53:22 PM",NGN,2000.0,30.00,1970.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 14:53:22,2020-12-15
37,marc.schuster@gmail.com,success,923961105,gwb6y10yj9t25ue,card,"Dec 15th, 2020 03:04:16 PM",NGN,1400.0,21.00,1379.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 15:04:16,2020-12-15
38,orders@thekinkyapothecary.com,success,924013624,trx_g2bjm2cw,card,"Dec 15th, 2020 03:49:27 PM",NGN,50.0,0.75,49.25,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 15:49:27,2020-12-15
39,orders@thekinkyapothecary.com,success,924014600,cgcemgm2chfmhv8,card,"Dec 15th, 2020 03:50:15 PM",NGN,1200.0,18.00,1182.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 15:50:15,2020-12-15
40,orders@thekinkyapothecary.com,success,924032086,2whaknd8mwt5wtc,card,"Dec 15th, 2020 04:05:38 PM",NGN,800.0,12.00,788.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 16:05:38,2020-12-15
41,orders@thekinkyapothecary.com,success,924092692,emak2erx9q92pip,card,"Dec 15th, 2020 04:53:35 PM",NGN,900.0,13.50,886.50,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 16:53:35,2020-12-15
42,fatokikorede@yahoo.com,success,924014825,7cvcrxdy4ayworf,card,"Dec 15th, 2020 03:50:25 PM",NGN,1600.0,24.00,1576.00,mastercard DEBIT,Polaris Bank,2020-12-15 15:50:25,2020-12-15
43,m.adegbile@gmail.com,success,924040842,5ulk30e20drg5pa,card,"Dec 15th, 2020 04:12:18 PM",NGN,2000.0,30.00,1970.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 16:12:18,2020-12-15
44,glorioussendoff@gmail.com,success,924058230,trx_zjr82pia,card,"Dec 15th, 2020 04:26:23 PM",NGN,50.0,0.75,49.25,mastercard DEBIT,First City Monument Bank,2020-12-15 16:26:23,2020-12-15
45,glorioussendoff@gmail.com,success,924063452,gro4o0vchybz3ei,card,"Dec 15th, 2020 04:30:28 PM",NGN,1200.0,18.00,1182.00,mastercard DEBIT,First City Monument Bank,2020-12-15 16:30:28,2020-12-15
46,ennyoh.net@gmail.com,success,924076331,7n4ot7zz7wdo5zd,card,"Dec 15th, 2020 04:40:42 PM",NGN,1200.0,18.00,1182.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 16:40:42,2020-12-15
47,bolbernard@yahoo.com,success,924199328,txc30p17pkfjzh4,card,"Dec 15th, 2020 06:18:28 PM",NGN,1700.0,25.50,1674.50,mastercard DEBIT,Stanbic IBTC Bank,2020-12-15 18:18:28,2020-12-15
48,folugbadegesin@gmail.com,success,924459460,hjf9m8mgsvm2lc5,card,"Dec 15th, 2020 10:17:43 PM",NGN,2100.0,31.50,2068.50,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 22:17:43,2020-12-15
49,ogunbotu_adeyinka@yahoo.co.uk,success,924483137,trx_7fnt84g2,card,"Dec 15th, 2020 10:48:46 PM",NGN,50.0,0.75,49.25,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 22:48:46,2020-12-15
50,ogunbotu_adeyinka@yahoo.co.uk,success,924484567,f4plfdp69oqfd6c,card,"Dec 15th, 2020 10:51:32 PM",NGN,2300.0,34.50,2265.50,mastercard DEBIT,Guaranty Trust Bank,2020-12-15 22:51:32,2020-12-15

In [31]:
opeyfinalesixteen.to_csv('flexopesixteen.csv', index = False)

In [58]:
opeeleven = opesimpleloyal[opesimpleloyal['day_year'] == "2020-12-11"]

In [59]:
opetwelve = opesimpleloyal[opesimpleloyal['day_year'] == "2020-12-12"]

In [60]:
opethirteen = opesimpleloyal[opesimpleloyal['day_year'] == "2020-12-13"]

In [64]:
opeeleven.to_csv('opeyeleven.csv', index = False)

In [65]:
opetwelve.to_csv('opeytwelve.csv', index = False)

In [66]:
opethirteen.to_csv('opeythirteen.csv', index = False)

In [51]:
simpleloyalall

               Customer Email  Count  Serial
0          abbyoni2@yahoo.com    1.0     1.0
1      abianseabasi@gmail.com    2.0     2.0
2         adey19866@gmail.com    3.0     3.0
3     adeyemobisola@yahoo.com    4.0     4.0
4       agwaivictor@gmail.com    5.0     5.0
..                        ...    ...     ...
792      rummiejode@gmail.com    NaN     NaN
793         cefoule@gmail.com    NaN     NaN
794  chimmarose1990@yahoo.com    NaN     NaN
795     ladehector@icloud.com    NaN     NaN
796    frank.nkanga@gmail.com    NaN     NaN

[797 rows x 3 columns]

In [52]:
simpleloyalall.to_csv('mailsimpleloyal.csv', index = False)

In [125]:
totaltenloyalall.to_csv('mailfinaltotalten.csv', index = False)

In [119]:
tenloyal.to_csv('mailfinaletenloyal.csv', index = False)

In [118]:
tenloyal

                 Customer Email  Count  Serial
0            abbyoni2@yahoo.com    1.0     1.0
1        abianseabasi@gmail.com    2.0     2.0
2           adey19866@gmail.com    3.0     3.0
3       adeyemobisola@yahoo.com    4.0     4.0
4         agwaivictor@gmail.com    5.0     5.0
..                          ...    ...     ...
525        bakwaibags@gmail.com    NaN     NaN
526      ashlieanozie@gmail.com    NaN     NaN
527   titilayoadeogun@gmail.com    NaN     NaN
528           beampeh@gmail.com    NaN     NaN
529  oseniabdulraheem@gmail.com    NaN     NaN

[530 rows x 3 columns]

In [107]:
mailtene.to_csv('mailteneloyal.csv', index = False)

In [111]:
mailtene

                              0
0       bolarinwaajao@gmail.com
1            seunaros@yahoo.com
2     adedoyin.omirin@gmail.com
3        tangooscar02@yahoo.com
4        generaljunee@gmail.com
..                          ...
85  consistentolusesi@gmail.com
86  chatwanigordhan01@gmail.com
87         imanbisade@gmail.com
88   oseniabdulraheem@gmail.com
89    adesinapelumi23@gmail.com

[90 rows x 1 columns]

In [21]:
mailfirst.to_csv('masterfirst.csv', index = False)

In [31]:
mailnineunique = mailnine.unique()

In [36]:
mailninety = pd.DataFrame(mailnineunique)

In [37]:
mailninety

                               0
0               edivri@gmail.com
1           sammi.giwa@gmail.com
2          lolademajek@gmail.com
3         generaljunee@gmail.com
4   kwiknigerialimited@gmail.com
..                           ...
72          vincecraw4@gmail.com
73            mskems14@gmail.com
74          sbolanle30@gmail.com
75         mosopealuko@yahoo.com
76          ore.ire.16@gmail.com

[77 rows x 1 columns]

In [40]:
dailyloyal = pd.read_csv('combinedailyloyaltymails.csv')

In [60]:
refinednine = pd.read_csv('refinedloyalnine.csv')

In [66]:
left = pd.DataFrame(refinednine)

In [67]:
right = pd.DataFrame(masternine)

In [72]:
finalenineloyal = pd.merge(left,right,how ='inner', on ='Customer Email')

In [73]:
finalenineloyal

,Customer Email,Status,Id,Reference,Channel,Created At,Currency,Amount,Fees,Amount Due,Card Type,Bank,Create,day_year
0,lolademajek@gmail.com,success,916144673,nmezwg5g7u0i2mf,card,"Dec 9th, 2020 06:12:21 AM",NGN,1700.0,25.50,1674.50,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 06:12:21,2020-12-09
1,dejiajila@gmail.com,success,916197226,pqxjp0n02w7xa3y,card,"Dec 9th, 2020 07:24:14 AM",NGN,2700.0,140.50,2559.50,mastercard DEBIT,Zenith Bank,2020-12-09 07:24:14,2020-12-09
2,opeyemiabiona42@gmail.com,success,916215939,cck5r2vby0ven7y,card,"Dec 9th, 2020 07:46:56 AM",NGN,2600.0,139.00,2461.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 07:46:56,2020-12-09
3,tolsky4life@gmail.com,success,916227493,trx_yak19gtr,card,"Dec 9th, 2020 08:00:29 AM",NGN,50.0,0.75,49.25,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 08:00:29,2020-12-09
4,tolsky4life@gmail.com,success,916228364,5myykjubjlm0aa8,card,"Dec 9th, 2020 08:01:21 AM",NGN,4000.0,160.00,3840.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 08:01:21,2020-12-09
5,gracenet10@gmail.com,success,916232653,trx_0t60nt38,card,"Dec 9th, 2020 08:05:20 AM",NGN,50.0,0.75,49.25,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 08:05:20,2020-12-09
6,gracenet10@gmail.com,success,916233792,oggr9l24p91g930,card,"Dec 9th, 2020 08:06:24 AM",NGN,2570.0,138.55,2431.45,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 08:06:24,2020-12-09
7,sayomi@gmail.com,success,916265778,x8pmeek448cr6pl,card,"Dec 9th, 2020 08:40:20 AM",NGN,1900.0,28.50,1871.50,mastercard DEBIT,First Bank of Nigeria,2020-12-09 08:40:20,2020-12-09
8,dayo.fidoltrips@gmail.com,success,916274176,trx_et4px0i2,card,"Dec 9th, 2020 08:50:59 AM",NGN,50.0,0.75,49.25,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 08:50:59,2020-12-09
9,dayo.fidoltrips@gmail.com,success,916276125,b4kcl1ndwc4dhj3,card,"Dec 9th, 2020 08:53:22 AM",NGN,2000.0,30.00,1970.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 08:53:22,2020-12-09
10,steve_fash@hotmail.com,success,916297992,95yzhsr0lybwk1r,card,"Dec 9th, 2020 09:15:13 AM",NGN,1100.0,16.50,1083.50,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 09:15:13,2020-12-09
11,info.sooopro@yahoo.com,success,916301555,zcustpq19w44shd,card,"Dec 9th, 2020 09:18:53 AM",NGN,2300.0,34.50,2265.50,mastercard DEBIT,Access Bank,2020-12-09 09:18:53,2020-12-09
12,damiie99@icloud.com,success,916302622,uksqgggwk24ru7k,card,"Dec 9th, 2020 09:20:00 AM",NGN,4400.0,166.00,4234.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 09:20:00,2020-12-09
13,tracyakpofure@yahoo.com,success,916367292,526017,card,"Dec 9th, 2020 10:19:26 AM",NGN,19357.0,390.36,18966.64,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 10:19:26,2020-12-09
14,tracyakpofure@yahoo.com,success,916369262,526021,card,"Dec 9th, 2020 10:21:47 AM",NGN,1133.0,17.00,1116.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 10:21:47,2020-12-09
15,jessicaozoemena@gmail.com,success,916391168,trx_q8mhiqw6,card,"Dec 9th, 2020 10:46:51 AM",NGN,50.0,0.75,49.25,mastercard DEBIT,Zenith Bank,2020-12-09 10:46:51,2020-12-09
16,jessicaozoemena@gmail.com,success,916391797,pbhe40hvgth8rlq,card,"Dec 9th, 2020 10:47:34 AM",NGN,2000.0,30.00,1970.00,mastercard DEBIT,Zenith Bank,2020-12-09 10:47:34,2020-12-09
17,paulmarthmedia@gmail.com,success,916403944,4eshf5vcgfgxzwt,card,"Dec 9th, 2020 11:01:10 AM",NGN,1600.0,24.00,1576.00,mastercard DEBIT,Zenith Bank,2020-12-09 11:01:10,2020-12-09
18,omosalewabadejo@gmail.com,success,916425971,trx_qkfp7a5c,card,"Dec 9th, 2020 11:22:39 AM",NGN,50.0,0.75,49.25,mastercard DEBIT,Stanbic IBTC Bank,2020-12-09 11:22:39,2020-12-09
19,omosalewabadejo@gmail.com,success,916426793,a0pjicpcsc1y265,card,"Dec 9th, 2020 11:23:31 AM",NGN,1300.0,19.50,1280.50,mastercard DEBIT,Stanbic IBTC Bank,2020-12-09 11:23:31,2020-12-09
20,jzofashion@gmail.com,success,916446942,trx_fmgm3ljf,card,"Dec 9th, 2020 11:44:45 AM",NGN,50.0,0.75,49.25,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 11:44:45,2020-12-09
21,jzofashion@gmail.com,success,916447566,21duylfe0o2s2dl,card,"Dec 9th, 2020 11:45:26 AM",NGN,1900.0,28.50,1871.50,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 11:45:26,2020-12-09
22,rajnmariam1@yahoo.co.uk,success,916449207,uzbhj56jizpas0y,card,"Dec 9th, 2020 11:47:19 AM",NGN,500.0,7.50,492.50,mastercard DEBIT,Zenith Bank,2020-12-09 11:47:19,2020-12-09
23,scentsluxe5@gmail.com,success,916477860,3mhooorf8f113f3,card,"Dec 9th, 2020 12:16:51 PM",NGN,1800.0,27.00,1773.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 12:16:51,2020-12-09
24,mohammedayuba@yahoo.com,success,916480102,nefab1sip7c9q9e,card,"Dec 9th, 2020 12:19:15 PM",NGN,2500.0,137.50,2362.50,mastercard DEBIT,Keystone Bank,2020-12-09 12:19:15,2020-12-09
25,aiwaxes@yahoo.com,success,916482204,zkmcyb7vjmiheyj,card,"Dec 9th, 2020 12:21:28 PM",NGN,1500.0,22.50,1477.50,mastercard DEBIT,United Bank for Africa,2020-12-09 12:21:28,2020-12-09
26,imanbisade@gmail.com,success,916491713,trx_51nk080g,card,"Dec 9th, 2020 12:31:52 PM",NGN,50.0,0.75,49.25,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 12:31:52,2020-12-09
27,imanbisade@gmail.com,success,916492069,201yv5dgxwycexd,card,"Dec 9th, 2020 12:32:15 PM",NGN,1900.0,28.50,1871.50,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 12:32:15,2020-12-09
28,imanbisade@gmail.com,success,916519185,0ehparxhuw05p9y,card,"Dec 9th, 2020 01:02:15 PM",NGN,1400.0,21.00,1379.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 13:02:15,2020-12-09
29,nikkyi643@gmail.com,success,916520027,f7ofqmermd8iooi,card,"Dec 9th, 2020 01:03:07 PM",NGN,1500.0,22.50,1477.50,mastercard DEBIT,Zenith Bank,2020-12-09 13:03:07,2020-12-09
30,metizgrill@gmail.com,success,916529350,abkbdxn5ytjrdx5,card,"Dec 9th, 2020 01:13:08 PM",NGN,1100.0,16.50,1083.50,mastercard DEBIT,Stanbic IBTC Bank,2020-12-09 13:13:08,2020-12-09
31,onaopemipodara@gmail.com,success,916539014,4ywbvnmx8p2azrg,card,"Dec 9th, 2020 01:23:40 PM",NGN,900.0,13.50,886.50,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 13:23:40,2020-12-09
32,gobinddaswanigd@gmail.com,success,916558698,apfkjfls8752v3l,card,"Dec 9th, 2020 01:44:22 PM",NGN,1100.0,16.50,1083.50,mastercard DEBIT,Polaris Bank,2020-12-09 13:44:22,2020-12-09
33,enechukwuodiri@yahoo.com,success,916576443,trx_05tktgzu,card,"Dec 9th, 2020 02:02:12 PM",NGN,50.0,0.75,49.25,mastercard DEBIT,First Bank of Nigeria,2020-12-09 14:02:12,2020-12-09
34,enechukwuodiri@yahoo.com,success,916578769,9kihl3c4sjwlfsg,card,"Dec 9th, 2020 02:04:41 PM",NGN,1800.0,27.00,1773.00,mastercard DEBIT,First Bank of Nigeria,2020-12-09 14:04:41,2020-12-09
35,oyeleyetutuola@yahoo.com,success,916582833,trx_v07yn1z0,card,"Dec 9th, 2020 02:08:55 PM",NGN,50.0,0.75,49.25,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 14:08:55,2020-12-09
36,oyeleyetutuola@yahoo.com,success,916583516,rlcul08ilm7m0y6,card,"Dec 9th, 2020 02:09:35 PM",NGN,800.0,12.00,788.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 14:09:35,2020-12-09
37,a.lawal@dna4wheels.ng,success,916582990,x1owkuutethof9w,card,"Dec 9th, 2020 02:09:05 PM",NGN,1600.0,24.00,1576.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 14:09:05,2020-12-09
38,adekunletunjiadebesin@gmail.com,success,916586455,trx_xe0zod0h,card,"Dec 9th, 2020 02:12:19 PM",NGN,50.0,0.75,49.25,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 14:12:19,2020-12-09
39,adekunletunjiadebesin@gmail.com,success,916587998,2zkglimxez8vicr,card,"Dec 9th, 2020 02:13:40 PM",NGN,2600.0,139.00,2461.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 14:13:40,2020-12-09
40,ola.ogunmokun@gmail.com,success,916609460,8vs0qkgwd6xi27p,card,"Dec 9th, 2020 02:33:23 PM",NGN,1300.0,19.50,1280.50,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 14:33:23,2020-12-09
41,eseoseediale@gmail.com,success,916617045,trx_sj1b2714,card,"Dec 9th, 2020 02:39:21 PM",NGN,50.0,0.75,49.25,mastercard DEBIT,Sterling Bank,2020-12-09 14:39:21,2020-12-09
42,eseoseediale@gmail.com,success,916617544,ehcynbariiup3sc,card,"Dec 9th, 2020 02:39:47 PM",NGN,1300.0,19.50,1280.50,mastercard DEBIT,Sterling Bank,2020-12-09 14:39:47,2020-12-09
43,okjaox@gmail.com,success,916645013,d4ix9mbub5gm7wu,card,"Dec 9th, 2020 03:05:59 PM",NGN,1200.0,18.00,1182.00,mastercard DEBIT,Zenith Bank,2020-12-09 15:05:59,2020-12-09
44,asuzunnenna@gmail.com,success,916649425,4j1hy1d4ic19gy2,card,"Dec 9th, 2020 03:09:39 PM",NGN,1500.0,22.50,1477.50,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 15:09:39,2020-12-09
45,sbolanle30@gmail.com,success,916800897,9s8sxgf1yrqrh9z,card,"Dec 9th, 2020 05:07:41 PM",NGN,1400.0,21.00,1379.00,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 17:07:41,2020-12-09
46,mosopealuko@yahoo.com,success,916811153,m5uedgvvdsjzsuz,card,"Dec 9th, 2020 05:14:42 PM",NGN,1100.0,16.50,1083.50,mastercard DEBIT,Guaranty Trust Bank,2020-12-09 17:14:42,2020-12-09
47,ore.ire.16@gmail.com,success,916825642,ilh1hgs162guiyi,card,"Dec 9th, 2020 05:24:43 PM",NGN,1900.0,28.50,1871.50,mastercard DEBIT,United Bank for Africa,2020-12-09 17:24:43,2020-12-09

In [74]:
finalenineloyal.to_csv('finalenineloyal.csv', index = False)

In [61]:
refinednine

                     Customer Email
0             lolademajek@gmail.com
1               dejiajila@gmail.com
2         opeyemiabiona42@gmail.com
3             tolsky4life@gmail.com
4              gracenet10@gmail.com
5                  sayomi@gmail.com
6         dayo.fidoltrips@gmail.com
7            steve_fash@hotmail.com
8            info.sooopro@yahoo.com
9               damiie99@icloud.com
10          tracyakpofure@yahoo.com
11        jessicaozoemena@gmail.com
12         paulmarthmedia@gmail.com
13        omosalewabadejo@gmail.com
14             jzofashion@gmail.com
15          rajnmariam1@yahoo.co.uk
16            scentsluxe5@gmail.com
17          mohammedayuba@yahoo.com
18                aiwaxes@yahoo.com
19             imanbisade@gmail.com
20              nikkyi643@gmail.com
21             metizgrill@gmail.com
22         onaopemipodara@gmail.com
23        gobinddaswanigd@gmail.com
24         enechukwuodiri@yahoo.com
25         oyeleyetutuola@yahoo.com
26            a.lawal@dna4wheels.ng
27  adekunletunjiadebesin@gmail.com
28          ola.ogunmokun@gmail.com
29           eseoseediale@gmail.com
30                 okjaox@gmail.com
31            asuzunnenna@gmail.com
32             sbolanle30@gmail.com
33            mosopealuko@yahoo.com
34             ore.ire.16@gmail.com

In [47]:
nineloyal = pd.read_csv('masternineunik.csv')

In [41]:
dailyloyal

              Customer Email  Count  Serial
0         abbyoni2@yahoo.com      1       1
1     abianseabasi@gmail.com      2       2
2        adey19866@gmail.com      3       3
3    adeyemobisola@yahoo.com      4       4
4      agwaivictor@gmail.com      5       5
..                       ...    ...     ...
495                      NaN    496     496
496                      NaN    497     497
497                      NaN    498     498
498                      NaN    499     499
499                      NaN    500     500

[500 rows x 3 columns]

In [42]:
left = pd.DataFrame(dailyloyal)

In [49]:
right = pd.DataFrame(nineloyal)

In [52]:
right

                  Customer Email
0               edivri@gmail.com
1           sammi.giwa@gmail.com
2          lolademajek@gmail.com
3         generaljunee@gmail.com
4   kwiknigerialimited@gmail.com
..                           ...
72          vincecraw4@gmail.com
73            mskems14@gmail.com
74          sbolanle30@gmail.com
75         mosopealuko@yahoo.com
76          ore.ire.16@gmail.com

[77 rows x 1 columns]

In [57]:
fullnineloyal = pd.merge(left,right,how ='outer', on ='Customer Email')

In [58]:
fullnineloyal

              Customer Email  Count  Serial
0         abbyoni2@yahoo.com    1.0     1.0
1     abianseabasi@gmail.com    2.0     2.0
2        adey19866@gmail.com    3.0     3.0
3    adeyemobisola@yahoo.com    4.0     4.0
4      agwaivictor@gmail.com    5.0     5.0
..                       ...    ...     ...
530         okjaox@gmail.com    NaN     NaN
531    asuzunnenna@gmail.com    NaN     NaN
532     sbolanle30@gmail.com    NaN     NaN
533    mosopealuko@yahoo.com    NaN     NaN
534     ore.ire.16@gmail.com    NaN     NaN

[535 rows x 3 columns]

In [59]:
fullnineloyal.to_csv('finalnineloyal.csv', index = False)

In [38]:
mailninety.to_csv('masternineunik.csv', index = False)

In [20]:
mailall = mailfirst

In [30]:
mailfirstunique = mailfirst.unique()

In [31]:
mailfirstunique

array(['edivri@gmail.com', 'ozone14800@yahoo.com',
       'folusoajayi01@gmail.com', 'lawatonyema@gmail.com',
       'adey19866@gmail.com', 'sammi.giwa@gmail.com',
       'abianseabasi@gmail.com', 'kheeraholawepo@gmail.com',
       'info.lagosfoodcity@gmail.com', 'sharonstephen1@hotmail.com',
       'cravatservices@gmail.com', 'ejike.ebonybet@gmail.com',
       'cornejike88@gmail.com', 'shalomekelaka@yahoo.com',
       'yomillion1993@gmail.com', 'abbyoni2@yahoo.com',
       'bayonlehassan@gmail.com', 'pheezahtrendyclothing@gmail.com',
       'imezphilus@yahoo.com', 'vanillavickky90@gmail.com',
       'deoladeyemo23@gmail.com', 'babawale.arabambi@gmail.com',
       'dingsurfing@gmail.com', 'ivie.olotu@icloud.com',
       'seunaros@yahoo.com', 'mhzbhola@gmail.com', 'okufoniyi@icloud.com',
       'sehara4luv@gmail.com', 'adeyemobisola@yahoo.com',
       'splendorbymo@outlook.com', 'rotimi.lopez@gmail.com',
       'ayinkeyishaladipo@gmail.com', 'rotimiajala@gmail.com',
       'martinsteniolayinka30@gmail.com', 'aspsalimat@yahoo.com',
       'zenatrades12@gmail.com', 'gideondosu@gmail.com',
       'deyheencar@yahoo.com', 'olaaduraabigail@gmail.com',
       'nkem_mbah@hotmail.com', 'efeokagbare@gmail.com',
       'xensefashion@gmail.com', 'kennedyizuegbu@yahoo.com',
       'damiansmilestone@gmail.com',
       'mosun.aderinokun@firstmarinatrust.com',
       'askroquetteanddeen@gmail.com', 'volajide2@gmail.com',
       'ayoolasamagbeyi@yahoo.com', 'aydeedos@gmail.com',
       'info@bola3.com', 'petiteddn@gmail.com', 'bolarinwaajao@gmail.com',
       'agwaivictor@gmail.com', 'osojieemmanuel@gmail.com',
       'hellovudoh@gmail.com', 'kolawolemartin@yahoo.co.uk',
       'kenny@medsaf.com', 'esejam2000@yahoo.com',
       'favourdamilola1@gmail.com', 'topeomotayo80@yahoo.com',
       'olaoladele8@gmail.com'], dtype=object)

In [45]:
daysecond = totalist[totalist['day_year'] == "2020-12-02"]

In [46]:
mastersecond = daysecond[daysecond['Card Type'] == "mastercard DEBIT"]

In [47]:
mailsecond = mastersecond["Customer Email"]

In [48]:
mailsecondunique = mailsecond.unique()

In [49]:
mastersecondunique = pd.DataFrame(mailsecondunique)

In [50]:
mastersecondunique.to_csv('mastersecondunique.csv', index = False)

In [42]:
masteroneunique = pd.DataFrame(mailfirstunique)

In [36]:
mailsecondunique = mailfirst.unique()

In [43]:
masteroneunique

                            0
0            edivri@gmail.com
1        ozone14800@yahoo.com
2     folusoajayi01@gmail.com
3       lawatonyema@gmail.com
4         adey19866@gmail.com
..                        ...
56           kenny@medsaf.com
57       esejam2000@yahoo.com
58  favourdamilola1@gmail.com
59    topeomotayo80@yahoo.com
60      olaoladele8@gmail.com

[61 rows x 1 columns]

In [44]:
masteroneunique.to_csv('masterfirstunique.csv', index = False)

In [53]:
daythird = totalist[totalist['day_year'] == "2020-12-03"]

In [54]:
masterthird = daythird[daythird['Card Type'] == "mastercard DEBIT"]

In [58]:
mailthird = masterthird["Customer Email"]

In [59]:
mailthirdunique = mailthird.unique()

In [60]:
masterthirdunique = pd.DataFrame(mailthirdunique)

In [62]:
masterthirdunique.to_csv('masterthirdunique.csv', index = False)

In [63]:
dayfourth = totalist[totalist['day_year'] == "2020-12-04"]

In [64]:
masterfourth = dayfourth[dayfourth['Card Type'] == "mastercard DEBIT"]

In [65]:
mailfourth = masterfourth["Customer Email"]

In [66]:
mailfourthunique = mailfourth.unique()

In [67]:
masterfourthunique = pd.DataFrame(mailfourthunique)

In [68]:
masterfourthunique.to_csv('masterfourthunique.csv', index = False)

In [73]:
dayfifth = totalist[totalist['day_year'] == "2020-12-05"]

In [74]:
masterfifth = dayfifth[dayfifth['Card Type'] == "mastercard DEBIT"]

In [75]:
mailfifth = masterfifth["Customer Email"]

In [72]:
mailfifthunique = mailfifth.unique()

In [77]:
masterfifthunique = pd.DataFrame(mailfifthunique)

In [78]:
masterfifthunique.to_csv('masterfifthunique.csv', index = False)