In [1]:
pwd

'C:\\Users\\AkintundeAkinbayo'

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import datetime

In [5]:
toby = pd.read_csv('jobseighteen.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (2,3,18,70,95,99,104,106) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
price = pd.read_csv('jobseighteen.csv')

In [8]:
tobie = pd.DataFrame(toby)

In [7]:
pricie = pd.DataFrame(price)

In [9]:
tobie

,job_id,created_by,order_id,recurring_id,recurring_count,partner_order_id,team_id,vertical,merchant_id,geofence,...,cancellation_reason,cancellation_charges,is_refund_enable,refund_amount,vehicle_id,delivery_instruction,loaders_amount,delivery_images,is_paid,loaders_count
0,1,3,5,0,0,NaN,1,0,0,0,...,NaN,0.0,0,0.0,0,NaN,0.0,NaN,0,0
1,3,3,5,0,0,NaN,1,0,0,0,...,NaN,0.0,0,0.0,0,NaN,0.0,NaN,0,0
2,5,4,1,0,0,NaN,1,0,0,0,...,NaN,0.0,0,0.0,0,NaN,0.0,NaN,0,0
3,6,4,1,0,0,NaN,1,0,0,0,...,NaN,0.0,0,0.0,0,NaN,0.0,NaN,0,0
4,7,4,1,0,0,NaN,1,0,0,0,...,NaN,0.0,0,0.0,0,NaN,0.0,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102335,102387,3,22938,0,0,NaN,0,0,0,0,...,NaN,0.0,0,0.0,1,NaN,0.0,NaN,0,0
102336,102388,3,22938,0,0,NaN,0,0,0,0,...,NaN,0.0,0,0.0,1,NaN,0.0,NaN,0,0
102337,102389,3,22938,0,0,NaN,0,0,0,0,...,NaN,0.0,0,0.0,1,NaN,0.0,NaN,0,0
102338,102390,4,23331,0,0,NaN,0,0,0,0,...,NaN,0.0,0,0.0,1,NaN,0.0,NaN,0,0
102339,102391,4,23331,0,0,NaN,0,0,0,0,...,NaN,0.0,0,0.0,1,NaN,0.0,NaN,0,0

In [38]:
kwikcust['month_year'] = kwikcust.to_datetime(two['last_login_date_time']).dt.to_period('M')

AttributeError: 'DataFrame' object has no attribute 'to_datetime'

In [10]:
tobie.columns

Index(['job_id', 'created_by', 'order_id', 'recurring_id', 'recurring_count',
       'partner_order_id', 'team_id', 'vertical', 'merchant_id', 'geofence',
       ...
       'cancellation_reason', 'cancellation_charges', 'is_refund_enable',
       'refund_amount', 'vehicle_id', 'delivery_instruction', 'loaders_amount',
       'delivery_images', 'is_paid', 'loaders_count'],
      dtype='object', length=109)

In [9]:
kwikcust.to_csv('kwikie.csv', index = False)

In [10]:
kcust = pd.DataFrame(kwikcust)

In [8]:
pricie["job_date"] = pd.to_datetime(pricie["creation_datetime"])

In [11]:
tobie["job_date"] = pd.to_datetime(tobie["creation_datetime"])

In [30]:
kcust["last_login_date_time"] = pd.to_datetime(kcust["last_login_date_time"])

In [12]:
tobie['job_date'] = pd.to_datetime(tobie['creation_datetime']).dt.to_period('M')

In [9]:
pricie['job_date'] = pd.to_datetime(pricie['creation_datetime']).dt.to_period('M')

In [33]:
kcust["creation_hour"] = kcust["creation_datetime"].dt.hour

In [13]:
tobie['month_year'] = pd.to_datetime(tobie['job_time']).dt.to_period('M')

In [10]:
pricie['month_year'] = pd.to_datetime(pricie['job_time']).dt.to_period('M')

In [14]:
tobie['day_year'] = pd.to_datetime(tobie['job_time']).dt.to_period('D')

In [11]:
pricie['day_year'] = pd.to_datetime(pricie['job_time']).dt.to_period('D')

In [15]:
tobie["job_hour"] = pd.to_datetime(tobie["job_time"]).dt.hour

In [12]:
pricie["job_hour"] = pd.to_datetime(pricie["job_time"]).dt.hour

In [16]:
tobie

,job_id,created_by,order_id,recurring_id,recurring_count,partner_order_id,team_id,vertical,merchant_id,geofence,...,refund_amount,vehicle_id,delivery_instruction,loaders_amount,delivery_images,is_paid,loaders_count,month_year,day_year,job_hour
0,1,3,5,0,0,NaN,1,0,0,0,...,0.0,0,NaN,0.0,NaN,0,0,2019-06,2019-06-14,18
1,3,3,5,0,0,NaN,1,0,0,0,...,0.0,0,NaN,0.0,NaN,0,0,2019-06,2019-06-14,18
2,5,4,1,0,0,NaN,1,0,0,0,...,0.0,0,NaN,0.0,NaN,0,0,2019-06,2019-06-14,18
3,6,4,1,0,0,NaN,1,0,0,0,...,0.0,0,NaN,0.0,NaN,0,0,2019-06,2019-06-14,19
4,7,4,1,0,0,NaN,1,0,0,0,...,0.0,0,NaN,0.0,NaN,0,0,2019-06,2019-06-17,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102335,102387,3,22938,0,0,NaN,0,0,0,0,...,0.0,1,NaN,0.0,NaN,0,0,2020-12,2020-12-18,10
102336,102388,3,22938,0,0,NaN,0,0,0,0,...,0.0,1,NaN,0.0,NaN,0,0,2020-12,2020-12-18,11
102337,102389,3,22938,0,0,NaN,0,0,0,0,...,0.0,1,NaN,0.0,NaN,0,0,2020-12,2020-12-18,11
102338,102390,4,23331,0,0,NaN,0,0,0,0,...,0.0,1,NaN,0.0,NaN,0,0,2020-12,2020-12-18,10
102339,102391,4,23331,0,0,NaN,0,0,0,0,...,0.0,1,NaN,0.0,NaN,0,0,2020-12,2020-12-18,10

In [13]:
pricie

,job_id,created_by,order_id,recurring_id,recurring_count,partner_order_id,team_id,vertical,merchant_id,geofence,...,refund_amount,vehicle_id,delivery_instruction,loaders_amount,delivery_images,is_paid,loaders_count,month_year,day_year,job_hour
0,1,3,5,0,0,NaN,1,0,0,0,...,0.0,0,NaN,0.0,NaN,0,0,2019-06,2019-06-14,18
1,3,3,5,0,0,NaN,1,0,0,0,...,0.0,0,NaN,0.0,NaN,0,0,2019-06,2019-06-14,18
2,5,4,1,0,0,NaN,1,0,0,0,...,0.0,0,NaN,0.0,NaN,0,0,2019-06,2019-06-14,18
3,6,4,1,0,0,NaN,1,0,0,0,...,0.0,0,NaN,0.0,NaN,0,0,2019-06,2019-06-14,19
4,7,4,1,0,0,NaN,1,0,0,0,...,0.0,0,NaN,0.0,NaN,0,0,2019-06,2019-06-17,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102335,102387,3,22938,0,0,NaN,0,0,0,0,...,0.0,1,NaN,0.0,NaN,0,0,2020-12,2020-12-18,10
102336,102388,3,22938,0,0,NaN,0,0,0,0,...,0.0,1,NaN,0.0,NaN,0,0,2020-12,2020-12-18,11
102337,102389,3,22938,0,0,NaN,0,0,0,0,...,0.0,1,NaN,0.0,NaN,0,0,2020-12,2020-12-18,11
102338,102390,4,23331,0,0,NaN,0,0,0,0,...,0.0,1,NaN,0.0,NaN,0,0,2020-12,2020-12-18,10
102339,102391,4,23331,0,0,NaN,0,0,0,0,...,0.0,1,NaN,0.0,NaN,0,0,2020-12,2020-12-18,10

In [14]:
pricie.groupby(['month_year', 'pricing_amount']).count()['count']

KeyError: 'count'

In [16]:
sample = pricie.groupby(['month_year', 'pricing_amount']).sum()['sum']

KeyError: 'sum'

In [51]:
samp = pd.DataFrame(sample)

In [52]:
samp

                           count
month_year pricing_amount
2019-04    0.00                1
2019-06    0.00               96
2019-07    0.00              570
2019-08    0.00              800
2019-09    0.00              615
...                          ...
2020-12    3050.00             2
           4285.45             2
           4766.50             2
           6256.75             2
2021-12    0.00                2

[3754 rows x 1 columns]

In [17]:
tobiriderone = tobie[tobie['day_year'] == "2020-12-17"]

In [18]:
tobiridertwo = tobie[tobie['day_year'] == "2020-12-16"]

In [19]:
tobiriderthree = tobie[tobie['day_year'] == "2020-12-15"]

In [20]:
tobiriderfour = tobie[tobie['day_year'] == "2020-12-14"]

In [74]:
dammytest

,job_id,created_by,order_id,recurring_id,recurring_count,partner_order_id,team_id,vertical,merchant_id,geofence,...,refund_amount,vehicle_id,delivery_instruction,loaders_amount,delivery_images,is_paid,loaders_count,month_year,day_year,job_hour
100057,100109,4,10601,0,0,NaN,1,0,0,0,...,0.0,1,NaN,0.0,NaN,0,0,2020-12,2020-12-14,10
100058,100110,4,10601,0,0,NaN,1,0,0,0,...,0.0,1,NaN,0.0,NaN,0,0,2020-12,2020-12-14,10
100217,100269,4,11654,0,0,NaN,1,0,0,0,...,0.0,1,NaN,0.0,NaN,0,0,2020-12,2020-12-14,12
100218,100270,4,11654,0,0,NaN,1,0,0,0,...,0.0,1,NaN,0.0,NaN,0,0,2020-12,2020-12-14,12
100320,100372,4,13229,0,0,NaN,1,0,0,0,...,0.0,1,NaN,0.0,NaN,0,0,2020-12,2020-12-14,14
100321,100373,4,13229,0,0,NaN,1,0,0,0,...,0.0,1,NaN,0.0,NaN,0,0,2020-12,2020-12-14,15
100393,100445,4,19334,0,0,NaN,1,0,0,0,...,0.0,1,NaN,0.0,NaN,0,0,2020-12,2020-12-14,15
100394,100446,4,19334,0,0,NaN,1,0,0,0,...,0.0,1,NaN,0.0,NaN,0,0,2020-12,2020-12-14,16

In [76]:
dammytest = tobiriderfour[tobiriderfour['fleet_id'] == 1446]

In [77]:
dammytest["job_hour"]

100353    15
100354    16
100397    15
100398    15
100401    15
100402    17
Name: job_hour, dtype: int64

In [78]:
dammytest["payment_method"]

100353    262144
100354    262144
100397    524288
100398    524288
100401        32
100402        32
Name: payment_method, dtype: int64

In [49]:
dammytest = tobiriderfour[tobiriderfour['fleet_id'] == 951]

In [50]:
dammytest["payment_method"]

100334        32
100335        32
100375    262144
100376    262144
Name: payment_method, dtype: int64

In [51]:
dammytest = tobiriderfour[tobiriderfour['fleet_id'] == 9]

In [52]:
dammytest["payment_method"]

100289        32
100290        32
100312        32
100313        32
100389    262144
100390    262144
Name: payment_method, dtype: int64

In [21]:
realtobythree = tobiriderthree.groupby('fleet_id').count()

In [83]:
realtobythree.to_csv('reeltobythree.csv', index = False)

In [84]:
realtobytwo.to_csv('reeltobytwo.csv', index = False)

In [85]:
realtobyone.to_csv('reeltobyone.csv', index = False)

In [86]:
realtobyfour.to_csv('reeltobyfour.csv', index = False)

In [22]:
realtobytwo = tobiridertwo.groupby('fleet_id').count()

In [17]:
realtobytwo

NameError: name 'realtobytwo' is not defined

In [23]:
realtobytwo

,job_id,created_by,order_id,recurring_id,recurring_count,partner_order_id,team_id,vertical,merchant_id,geofence,...,refund_amount,vehicle_id,delivery_instruction,loaders_amount,delivery_images,is_paid,loaders_count,month_year,day_year,job_hour
fleet_id,,,,,,,,,,,,,,,,,,,,,
49.0,6,6,6,6,6,0,6,6,6,6,...,6,6,0,6,0,6,6,6,6,6
50.0,2,2,2,2,2,0,2,2,2,2,...,2,2,0,2,0,2,2,2,2,2
106.0,2,2,2,2,2,0,2,2,2,2,...,2,2,0,2,0,2,2,2,2,2
878.0,8,8,8,8,8,0,8,8,8,8,...,8,8,0,8,0,8,8,8,8,8
900.0,28,28,28,28,28,0,28,28,28,28,...,28,28,0,28,0,28,28,28,28,28
908.0,8,8,8,8,8,0,8,8,8,8,...,8,8,0,8,0,8,8,8,8,8
934.0,6,6,6,6,6,0,6,6,6,6,...,6,6,0,6,0,6,6,6,6,6
1041.0,14,14,14,14,14,0,14,14,14,14,...,14,14,0,14,0,14,14,14,14,14
1097.0,8,8,8,8,8,0,8,8,8,8,...,8,8,0,8,0,8,8,8,8,8
1102.0,14,14,14,14,14,0,14,14,14,14,...,14,14,0,14,0,14,14,14,14,14
1105.0,2,2,2,2,2,0,2,2,2,2,...,2,2,0,2,0,2,2,2,2,2
1111.0,16,16,16,16,16,0,16,16,16,16,...,16,16,0,16,0,16,16,16,16,16
1112.0,8,8,8,8,8,0,8,8,8,8,...,8,8,0,8,0,8,8,8,8,8
1142.0,8,8,8,8,8,0,8,8,8,8,...,8,8,0,8,0,8,8,8,8,8
1154.0,6,6,6,6,6,0,6,6,6,6,...,6,6,0,6,0,6,6,6,6,6
1166.0,2,2,2,2,2,0,2,2,2,2,...,2,2,0,2,0,2,2,2,2,2
1190.0,13,13,13,13,13,0,13,13,13,13,...,13,13,0,13,0,13,13,13,13,13
1255.0,8,8,8,8,8,0,8,8,8,8,...,8,8,0,8,0,8,8,8,8,8
1259.0,10,10,10,10,10,0,10,10,10,10,...,10,10,0,10,0,10,10,10,10,10
1335.0,2,2,2,2,2,0,2,2,2,2,...,2,2,0,2,0,2,2,2,2,2
1345.0,6,6,6,6,6,0,6,6,6,6,...,6,6,0,6,0,6,6,6,6,6
1388.0,4,4,4,4,4,0,4,4,4,4,...,4,4,0,4,0,4,4,4,4,4
1392.0,2,2,2,2,2,0,2,2,2,2,...,2,2,0,2,0,2,2,2,2,2
1396.0,6,6,6,6,6,0,6,6,6,6,...,6,6,0,6,0,6,6,6,6,6
1417.0,4,4,4,4,4,0,4,4,4,4,...,4,4,0,4,0,4,4,4,4,4
1424.0,2,2,2,2,2,0,2,2,2,2,...,2,2,0,2,0,2,2,2,2,2
1447.0,14,14,14,14,14,0,14,14,14,14,...,14,14,0,14,0,14,14,14,14,14
1457.0,6,6,6,6,6,0,6,6,6,6,...,6,6,0,6,0,6,6,6,6,6
1462.0,8,8,8,8,8,0,8,8,8,8,...,8,8,0,8,0,8,8,8,8,8
1493.0,9,9,9,9,9,0,9,9,9,9,...,9,9,0,9,0,9,9,9,9,9
1506.0,3,3,3,3,3,0,3,3,3,3,...,3,3,0,3,0,3,3,3,3,3
1579.0,4,4,4,4,4,0,4,4,4,4,...,4,4,0,4,0,4,4,4,4,4
1580.0,12,12,12,12,12,0,12,12,12,12,...,12,12,0,12,0,12,12,12,12,12
1593.0,8,8,8,8,8,0,8,8,8,8,...,8,8,0,8,0,8,8,8,8,8
1596.0,4,4,4,4,4,0,4,4,4,4,...,4,4,0,4,0,4,4,4,4,4
1607.0,14,14,14,14,14,0,14,14,14,14,...,14,14,0,14,0,14,14,14,14,14
1611.0,2,2,2,2,2,0,2,2,2,2,...,2,2,0,2,0,2,2,2,2,2
1632.0,16,16,16,16,16,0,16,16,16,16,...,16,16,0,16,0,16,16,16,16,16
1648.0,11,11,11,11,11,0,11,11,11,11,...,11,11,0,11,0,11,11,11,11,11
1654.0,2,2,2,2,2,0,2,2,2,2,...,2,2,0,2,0,2,2,2,2,2
1696.0,6,6,6,6,6,0,6,6,6,6,...,6,6,0,6,0,6,6,6,6,6
1739.0,12,12,12,12,12,0,12,12,12,12,...,12,12,0,12,0,12,12,12,12,12
1772.0,2,2,2,2,2,0,2,2,2,2,...,2,2,0,2,0,2,2,2,2,2
1779.0,8,8,8,8,8,0,8,8,8,8,...,8,8,0,8,0,8,8,8,8,8
1788.0,10,10,10,10,10,0,10,10,10,10,...,10,10,0,10,0,10,10,10,10,10
1789.0,11,11,11,11,11,0,11,11,11,11,...,11,11,0,11,0,11,11,11,11,11
1796.0,11,11,11,11,11,0,11,11,11,11,...,11,11,0,11,0,11,11,11,11,11
1798.0,7,7,7,7,7,0,7,7,7,7,...,7,7,0,7,0,7,7,7,7,7
1801.0,8,8,8,8,8,0,8,8,8,8,...,8,8,0,8,0,8,8,8,8,8
1802.0,2,2,2,2,2,0,2,2,2,2,...,2,2,0,2,0,2,2,2,2,2
1807.0,6,6,6,6,6,0,6,6,6,6,...,6,6,0,6,0,6,6,6,6,6
1836.0,8,8,8,8,8,0,8,8,8,8,...,8,8,0,8,0,8,8,8,8,8
1840.0,8,8,8,8,8,0,8,8,8,8,...,8,8,0,8,0,8,8,8,8,8
1861.0,10,10,10,10,10,0,10,10,10,10,...,10,10,0,10,0,10,10,10,10,10
1879.0,4,4,4,4,4,0,4,4,4,4,...,4,4,0,4,0,4,4,4,4,4
1897.0,11,11,11,11,11,0,11,11,11,11,...,11,11,0,11,0,11,11,11,11,11
1904.0,16,16,16,16,16,0,16,16,16,16,...,16,16,0,16,0,16,16,16,16,16
1929.0,46,46,46,46,46,0,46,46,46,46,...,46,46,0,46,0,46,46,46,46,46
1935.0,14,14,14,14,14,0,14,14,14,14,...,14,14,0,14,0,14,14,14,14,14

In [24]:
reelertobytwo = pd.DataFrame(realtobytwo)

In [26]:
reelertobytwo.to_csv('riltobytwo.csv', index = False)

In [81]:
realtobyone17 = tobiriderone.groupby('fleet_id').count()

In [82]:
realtobyone17

,job_id,created_by,order_id,recurring_id,recurring_count,partner_order_id,team_id,vertical,merchant_id,geofence,...,is_refund_enable,refund_amount,vehicle_id,delivery_instruction,loaders_amount,delivery_images,is_paid,loaders_count,month_year,day_year
fleet_id,,,,,,,,,,,,,,,,,,,,,
9.0,4,4,4,4,4,0,4,4,4,4,...,4,4,4,0,4,0,4,4,4,4
106.0,4,4,4,4,4,0,4,4,4,4,...,4,4,4,0,4,0,4,4,4,4
878.0,2,2,2,2,2,0,2,2,2,2,...,2,2,2,0,2,0,2,2,2,2
888.0,2,2,2,2,2,0,2,2,2,2,...,2,2,2,0,2,0,2,2,2,2
900.0,60,60,60,60,60,0,60,60,60,60,...,60,60,60,0,60,0,60,60,60,60
908.0,6,6,6,6,6,0,6,6,6,6,...,6,6,6,0,6,0,6,6,6,6
934.0,4,4,4,4,4,0,4,4,4,4,...,4,4,4,0,4,0,4,4,4,4
951.0,14,14,14,14,14,0,14,14,14,14,...,14,14,14,0,14,0,14,14,14,14
1001.0,2,2,2,2,2,0,2,2,2,2,...,2,2,2,0,2,0,2,2,2,2
1003.0,2,2,2,2,2,0,2,2,2,2,...,2,2,2,0,2,0,2,2,2,2
1075.0,2,2,2,2,2,0,2,2,2,2,...,2,2,2,0,2,0,2,2,2,2
1097.0,12,12,12,12,12,0,12,12,12,12,...,12,12,12,0,12,0,12,12,12,12
1102.0,11,11,11,11,11,0,11,11,11,11,...,11,11,11,0,11,0,11,11,11,11
1111.0,17,17,17,17,17,0,17,17,17,17,...,17,17,17,0,17,0,17,17,17,17
1112.0,4,4,4,4,4,0,4,4,4,4,...,4,4,4,0,4,0,4,4,4,4
1142.0,15,15,15,15,15,0,15,15,15,15,...,15,15,15,0,15,0,15,15,15,15
1154.0,6,6,6,6,6,0,6,6,6,6,...,6,6,6,0,6,0,6,6,6,6
1166.0,15,15,15,15,15,0,15,15,15,15,...,15,15,15,0,15,0,15,15,15,15
1190.0,10,10,10,10,10,0,10,10,10,10,...,10,10,10,0,10,0,10,10,10,10
1255.0,14,14,14,14,14,0,14,14,14,14,...,14,14,14,0,14,0,14,14,14,14
1259.0,11,11,11,11,11,0,11,11,11,11,...,11,11,11,0,11,0,11,11,11,11
1289.0,4,4,4,4,4,0,4,4,4,4,...,4,4,4,0,4,0,4,4,4,4
1335.0,2,2,2,2,2,0,2,2,2,2,...,2,2,2,0,2,0,2,2,2,2
1345.0,9,9,9,9,9,0,9,9,9,9,...,9,9,9,0,9,0,9,9,9,9
1392.0,2,2,2,2,2,0,2,2,2,2,...,2,2,2,0,2,0,2,2,2,2
1396.0,6,6,6,6,6,0,6,6,6,6,...,6,6,6,0,6,0,6,6,6,6
1417.0,2,2,2,2,2,0,2,2,2,2,...,2,2,2,0,2,0,2,2,2,2
1424.0,6,6,6,6,6,0,6,6,6,6,...,6,6,6,0,6,0,6,6,6,6
1447.0,22,22,22,22,22,0,22,22,22,22,...,22,22,22,0,22,0,22,22,22,22
1457.0,4,4,4,4,4,0,4,4,4,4,...,4,4,4,0,4,0,4,4,4,4
1462.0,4,4,4,4,4,0,4,4,4,4,...,4,4,4,0,4,0,4,4,4,4
1493.0,8,8,8,8,8,0,8,8,8,8,...,8,8,8,0,8,0,8,8,8,8
1506.0,4,4,4,4,4,0,4,4,4,4,...,4,4,4,0,4,0,4,4,4,4
1579.0,10,10,10,10,10,0,10,10,10,10,...,10,10,10,0,10,0,10,10,10,10
1580.0,16,16,16,16,16,0,16,16,16,16,...,16,16,16,0,16,0,16,16,16,16
1593.0,10,10,10,10,10,0,10,10,10,10,...,10,10,10,0,10,0,10,10,10,10
1596.0,4,4,4,4,4,0,4,4,4,4,...,4,4,4,0,4,0,4,4,4,4
1607.0,8,8,8,8,8,0,8,8,8,8,...,8,8,8,0,8,0,8,8,8,8
1632.0,12,12,12,12,12,0,12,12,12,12,...,12,12,12,0,12,0,12,12,12,12
1637.0,8,8,8,8,8,0,8,8,8,8,...,8,8,8,0,8,0,8,8,8,8
1648.0,20,20,20,20,20,0,20,20,20,20,...,20,20,20,0,20,0,20,20,20,20
1696.0,10,10,10,10,10,0,10,10,10,10,...,10,10,10,0,10,0,10,10,10,10
1739.0,6,6,6,6,6,0,6,6,6,6,...,6,6,6,0,6,0,6,6,6,6
1779.0,14,14,14,14,14,0,14,14,14,14,...,14,14,14,0,14,0,14,14,14,14
1788.0,4,4,4,4,4,0,4,4,4,4,...,4,4,4,0,4,0,4,4,4,4
1789.0,8,8,8,8,8,0,8,8,8,8,...,8,8,8,0,8,0,8,8,8,8
1796.0,16,16,16,16,16,0,16,16,16,16,...,16,16,16,0,16,0,16,16,16,16
1798.0,13,13,13,13,13,0,13,13,13,13,...,13,13,13,0,13,0,13,13,13,13
1801.0,6,6,6,6,6,0,6,6,6,6,...,6,6,6,0,6,0,6,6,6,6
1807.0,5,5,5,5,5,0,5,5,5,5,...,5,5,5,0,5,0,5,5,5,5
1836.0,8,8,8,8,8,0,8,8,8,8,...,8,8,8,0,8,0,8,8,8,8
1840.0,9,9,9,9,9,0,9,9,9,9,...,9,9,9,0,9,0,9,9,9,9
1861.0,22,22,22,22,22,0,22,22,22,22,...,22,22,22,0,22,0,22,22,22,22
1879.0,10,10,10,10,10,0,10,10,10,10,...,10,10,10,0,10,0,10,10,10,10
1897.0,28,28,28,28,28,0,28,28,28,28,...,28,28,28,0,28,0,28,28,28,28
1904.0,9,9,9,9,9,0,9,9,9,9,...,9,9,9,0,9,0,9,9,9,9
1905.0,6,6,6,6,6,0,6,6,6,6,...,6,6,6,0,6,0,6,6,6,6
1929.0,4,4,4,4,4,0,4,4,4,4,...,4,4,4,0,4,0,4,4,4,4
1935.0,8,8,8,8,8,0,8,8,8,8,...,8,8,8,0,8,0,8,8,8,8

In [79]:
realtobyfour = tobiriderfour.groupby('fleet_id').count()

In [80]:
realtobyfour

,job_id,created_by,order_id,recurring_id,recurring_count,partner_order_id,team_id,vertical,merchant_id,geofence,...,refund_amount,vehicle_id,delivery_instruction,loaders_amount,delivery_images,is_paid,loaders_count,month_year,day_year,job_hour
fleet_id,,,,,,,,,,,,,,,,,,,,,
9.0,6,6,6,6,6,0,6,6,6,6,...,6,6,0,6,0,6,6,6,6,6
49.0,9,9,9,9,9,0,9,9,9,9,...,9,9,0,9,0,9,9,9,9,9
106.0,2,2,2,2,2,0,2,2,2,2,...,2,2,0,2,0,2,2,2,2,2
878.0,6,6,6,6,6,0,6,6,6,6,...,6,6,0,6,0,6,6,6,6,6
900.0,46,46,46,46,46,0,46,46,46,46,...,46,46,0,46,0,46,46,46,46,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1904.0,13,13,13,13,13,0,13,13,13,13,...,13,13,0,13,0,13,13,13,13,13
1905.0,3,3,3,3,3,0,3,3,3,3,...,3,3,0,3,0,3,3,3,3,3
1912.0,4,4,4,4,4,0,4,4,4,4,...,4,4,4,4,2,4,4,4,4,4
1929.0,4,4,4,4,4,0,4,4,4,4,...,4,4,0,4,0,4,4,4,4,4
1933.0,6,6,6,6,6,0,6,6,6,6,...,6,6,0,6,0,6,6,6,6,6

In [36]:
kcust['month_year'] = pd.to_datetime(kcust['last_login_date_time']).dt.to_period('M')

In [11]:
kcust['day_year'] = pd.to_datetime(kcust['last_login_date_time']).dt.to_period('D')

In [12]:
kcust

,customer_id,is_created_by_admin,access_token,user_id,creation_datetime,is_active,avg_rating,rated_task_count,vendor_id,description,...,is_monthly_invoice,monthly_invoice_date,monthly_amount,is_api_enabled,is_cod_customer,is_surge_enable,waiting_pending_amount,cancel_pending_amount,is_kfleet_enable,day_year
0,1,0,58e596949dff0326cbcc357b5d351f70,1,2019-06-14 10:26:51,1,0.0,0,1.0,NaN,...,0,NaN,0,0,0,1,0.0,0.0,1,2020-10-11
1,2,1,fc4f531a6cd205b1451b536e070978d2,1,2019-06-14 11:03:28,1,5.0,6,2.0,NaN,...,1,2020-11-04 10:37:22,0,0,0,1,0.0,0.0,0,2020-11-23
2,3,1,c2df01cee9089dc1f47aac4c78f7bd2c,1,2019-06-14 11:08:05,1,5.0,2,3.0,NaN,...,1,2020-11-16 09:12:37,0,0,0,1,0.0,0.0,0,2020-11-23
3,5,0,fe0dba1fcbba2b2d76fec5cddb014db0,1,2019-06-14 12:46:12,1,0.0,0,5.0,NaN,...,0,NaN,0,0,0,1,0.0,0.0,0,2019-06-14
4,6,0,d81c16547a4bdcb15483332e3c771455,1,2019-06-14 13:22:33,1,0.0,0,6.0,NaN,...,1,2020-11-16 09:12:37,0,0,0,1,0.0,0.0,0,2020-07-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34809,35131,0,426fe2fb16294d4c1730cb09ecb4c66b,1,2020-11-26 10:23:31,1,0.0,0,28147.0,NaN,...,0,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0,2020-11-26
34810,35132,0,41066b54fbfe9bd70e99a8f1cda633bf,1,2020-11-26 10:23:58,1,0.0,0,28148.0,NaN,...,0,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0,2020-11-26
34811,35133,0,143e26d4af414d031c162e3e161922451be0c7fe22,1,2020-11-26 10:26:14,1,0.0,0,NaN,NaN,...,0,NaN,0,0,0,1,0.0,0.0,0,2020-11-26
34812,35134,0,637306c6d4944ccffd0da8ab8dd0e487,1,2020-11-26 10:26:51,1,0.0,0,28149.0,NaN,...,0,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0,2020-11-26
34813,35135,0,de849857196e639ba689f3a623d72d91,1,2020-11-26 10:31:59,1,0.0,0,28150.0,NaN,...,0,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0,2020-11-26

In [35]:
kcust["hour"] = kcust["last_login_date_time"].dt.hour

In [37]:
kcust

,customer_id,is_created_by_admin,access_token,user_id,creation_datetime,is_active,avg_rating,rated_task_count,vendor_id,description,...,is_surge_enable,waiting_pending_amount,cancel_pending_amount,is_kfleet_enable,month_year,year,hour,creation_month_year,Creation_hour,creation_hour
0,1,0,58e596949dff0326cbcc357b5d351f70,1,2019-06-14 10:26:51,1,0.0,0,1.0,NaN,...,1,0.0,0.0,1,2020-10,2020,9,2019-06,10,10
1,2,1,fc4f531a6cd205b1451b536e070978d2,1,2019-06-14 11:03:28,1,5.0,6,2.0,NaN,...,1,0.0,0.0,0,2020-11,2020,7,2019-06,11,11
2,3,1,c2df01cee9089dc1f47aac4c78f7bd2c,1,2019-06-14 11:08:05,1,5.0,2,3.0,NaN,...,1,0.0,0.0,0,2020-11,2020,12,2019-06,11,11
3,5,0,fe0dba1fcbba2b2d76fec5cddb014db0,1,2019-06-14 12:46:12,1,0.0,0,5.0,NaN,...,1,0.0,0.0,0,2019-06,2019,12,2019-06,12,12
4,6,0,d81c16547a4bdcb15483332e3c771455,1,2019-06-14 13:22:33,1,0.0,0,6.0,NaN,...,1,0.0,0.0,0,2020-07,2020,6,2019-06,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34809,35131,0,426fe2fb16294d4c1730cb09ecb4c66b,1,2020-11-26 10:23:31,1,0.0,0,28147.0,NaN,...,1,0.0,0.0,0,2020-11,2020,10,2020-11,10,10
34810,35132,0,41066b54fbfe9bd70e99a8f1cda633bf,1,2020-11-26 10:23:58,1,0.0,0,28148.0,NaN,...,1,0.0,0.0,0,2020-11,2020,10,2020-11,10,10
34811,35133,0,143e26d4af414d031c162e3e161922451be0c7fe22,1,2020-11-26 10:26:14,1,0.0,0,NaN,NaN,...,1,0.0,0.0,0,2020-11,2020,10,2020-11,10,10
34812,35134,0,637306c6d4944ccffd0da8ab8dd0e487,1,2020-11-26 10:26:51,1,0.0,0,28149.0,NaN,...,1,0.0,0.0,0,2020-11,2020,10,2020-11,10,10
34813,35135,0,de849857196e639ba689f3a623d72d91,1,2020-11-26 10:31:59,1,0.0,0,28150.0,NaN,...,1,0.0,0.0,0,2020-11,2020,10,2020-11,10,10

In [14]:
kcust['year'] = pd.DatetimeIndex(kcust['last_login_date_time']).year

In [15]:
kcust

,customer_id,is_created_by_admin,access_token,user_id,creation_datetime,is_active,avg_rating,rated_task_count,vendor_id,description,...,monthly_invoice_date,monthly_amount,is_api_enabled,is_cod_customer,is_surge_enable,waiting_pending_amount,cancel_pending_amount,is_kfleet_enable,month_year,year
0,1,0,58e596949dff0326cbcc357b5d351f70,1,2019-06-14 10:26:51,1,0.0,0,1.0,NaN,...,NaN,0,0,0,1,0.0,0.0,1,2020-10,2020
1,2,1,fc4f531a6cd205b1451b536e070978d2,1,2019-06-14 11:03:28,1,5.0,6,2.0,NaN,...,2020-11-04 10:37:22,0,0,0,1,0.0,0.0,0,2020-11,2020
2,3,1,c2df01cee9089dc1f47aac4c78f7bd2c,1,2019-06-14 11:08:05,1,5.0,2,3.0,NaN,...,2020-11-16 09:12:37,0,0,0,1,0.0,0.0,0,2020-11,2020
3,5,0,fe0dba1fcbba2b2d76fec5cddb014db0,1,2019-06-14 12:46:12,1,0.0,0,5.0,NaN,...,NaN,0,0,0,1,0.0,0.0,0,2019-06,2019
4,6,0,d81c16547a4bdcb15483332e3c771455,1,2019-06-14 13:22:33,1,0.0,0,6.0,NaN,...,2020-11-16 09:12:37,0,0,0,1,0.0,0.0,0,2020-07,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34809,35131,0,426fe2fb16294d4c1730cb09ecb4c66b,1,2020-11-26 10:23:31,1,0.0,0,28147.0,NaN,...,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0,2020-11,2020
34810,35132,0,41066b54fbfe9bd70e99a8f1cda633bf,1,2020-11-26 10:23:58,1,0.0,0,28148.0,NaN,...,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0,2020-11,2020
34811,35133,0,143e26d4af414d031c162e3e161922451be0c7fe22,1,2020-11-26 10:26:14,1,0.0,0,NaN,NaN,...,NaN,0,0,0,1,0.0,0.0,0,2020-11,2020
34812,35134,0,637306c6d4944ccffd0da8ab8dd0e487,1,2020-11-26 10:26:51,1,0.0,0,28149.0,NaN,...,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0,2020-11,2020
34813,35135,0,de849857196e639ba689f3a623d72d91,1,2020-11-26 10:31:59,1,0.0,0,28150.0,NaN,...,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0,2020-11,2020

In [11]:
two = kcust[kcust['successful_task_count']>1]

In [12]:
two['month_year'] = pd.to_datetime(two['last_login_date_time']).dt.to_period('M')

<ipython-input-12-494f6a3fdedc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  two['month_year'] = pd.to_datetime(two['last_login_date_time']).dt.to_period('M')

In [13]:
two

,customer_id,is_created_by_admin,access_token,user_id,creation_datetime,is_active,avg_rating,rated_task_count,vendor_id,description,...,is_monthly_invoice,monthly_invoice_date,monthly_amount,is_api_enabled,is_cod_customer,is_surge_enable,waiting_pending_amount,cancel_pending_amount,is_kfleet_enable,month_year
0,1,0,58e596949dff0326cbcc357b5d351f70,1,2019-06-14 10:26:51,1,0.0,0,1.0,NaN,...,0,NaN,0,0,0,1,0.0,0.0,1,2020-10
1,2,1,fc4f531a6cd205b1451b536e070978d2,1,2019-06-14 11:03:28,1,5.0,6,2.0,NaN,...,1,2020-11-04 10:37:22,0,0,0,1,0.0,0.0,0,2020-11
4,6,0,d81c16547a4bdcb15483332e3c771455,1,2019-06-14 13:22:33,1,0.0,0,6.0,NaN,...,1,2020-11-16 09:12:37,0,0,0,1,0.0,0.0,0,2020-07
5,7,0,a7ee7c7f1794be96851ac5b1f3e0909d,1,2019-06-17 06:56:18,1,0.0,0,7.0,NaN,...,0,NaN,0,0,0,1,0.0,0.0,0,2019-11
6,8,0,0e26c1a69cd05875fec7fc5eef45b895,1,2019-06-17 06:57:52,1,0.0,0,8.0,NaN,...,1,2020-11-16 09:12:37,0,0,0,1,0.0,0.0,0,2020-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34253,34575,0,184c89fdf979b60de048524e18b33bc3,1,2020-11-23 13:00:10,1,0.0,0,27789.0,NaN,...,0,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0,2020-11
34318,34640,0,e5f0685ed8e424fb8d0d3f511ea58e5d,1,2020-11-23 20:38:41,1,0.0,0,27832.0,NaN,...,0,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0,2020-11
34430,34752,0,4cd09e4af52f6685eb38975ff5963cb1,1,2020-11-24 11:53:49,1,5.0,2,27916.0,NaN,...,0,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0,2020-11
34516,34838,0,adb01bb8b77c2e8bcb1aea63e01745d4,1,2020-11-24 21:21:38,1,1.5,2,27964.0,NaN,...,0,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0,2020-11
34562,34884,0,c5b17cefc98654d8ee6d865e5520ba30,1,2020-11-25 09:24:22,1,4.4,8,27995.0,NaN,...,0,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0,2020-11

In [14]:
two.to_csv('kwik', index = False)

In [15]:
two.to_csv('kwiky.csv', index = False)

In [55]:
two[two['month_year'] == 2020-10]

Empty DataFrame
Columns: [customer_id, is_created_by_admin, access_token, user_id, creation_datetime, is_active, avg_rating, rated_task_count, vendor_id, description, password_reset_token, is_blocked, device_type, device_token, app_versioncode, app_access_token, language, last_login_date_time, vendor_api_key, fb_token, otp, is_phone_verified, credits, pending_amount, successful_task_count, referral_code, referrer_id, is_first_login, registration_status, paytm_enabled, favorite_fleets, reference_id, customer_type, corporate_id, is_master_admin, is_email_verified, default_payment_option, card_id, paga_access_token, is_paga_verified, origin_booking, default_pickup_address, default_pickup_latitude, default_pickup_longitude, is_monthly_invoice, monthly_invoice_date, monthly_amount, is_api_enabled, is_cod_customer, is_surge_enable, waiting_pending_amount, cancel_pending_amount, is_kfleet_enable, month_year]
Index: []

[0 rows x 54 columns]

In [33]:
two['last_login_date_time']

0        2020-10-11 09:23:57
1        2020-11-23 07:21:53
4        2020-07-28 06:50:35
5        2019-11-19 12:03:40
6        2020-08-06 04:26:31
                ...
34253    2020-11-23 13:00:11
34318    2020-11-23 20:38:42
34430    2020-11-24 11:53:50
34516    2020-11-25 08:29:07
34562    2020-11-25 09:24:23
Name: last_login_date_time, Length: 3053, dtype: object

In [41]:
kcust['year'] = pd.DatetimeIndex(kcust['last_login_date_time']).year

In [42]:
kcust.head(5)

,customer_id,is_created_by_admin,access_token,user_id,creation_datetime,is_active,avg_rating,rated_task_count,vendor_id,description,...,is_monthly_invoice,monthly_invoice_date,monthly_amount,is_api_enabled,is_cod_customer,is_surge_enable,waiting_pending_amount,cancel_pending_amount,is_kfleet_enable,year
0,1,0,58e596949dff0326cbcc357b5d351f70,1,2019-06-14 10:26:51,1,0.0,0,1.0,NaN,...,0,NaN,0,0,0,1,0.0,0.0,1,2020
1,2,1,fc4f531a6cd205b1451b536e070978d2,1,2019-06-14 11:03:28,1,5.0,6,2.0,NaN,...,1,2020-11-04 10:37:22,0,0,0,1,0.0,0.0,0,2020
2,3,1,c2df01cee9089dc1f47aac4c78f7bd2c,1,2019-06-14 11:08:05,1,5.0,2,3.0,NaN,...,1,2020-11-16 09:12:37,0,0,0,1,0.0,0.0,0,2020
3,5,0,fe0dba1fcbba2b2d76fec5cddb014db0,1,2019-06-14 12:46:12,1,0.0,0,5.0,NaN,...,0,NaN,0,0,0,1,0.0,0.0,0,2019
4,6,0,d81c16547a4bdcb15483332e3c771455,1,2019-06-14 13:22:33,1,0.0,0,6.0,NaN,...,1,2020-11-16 09:12:37,0,0,0,1,0.0,0.0,0,2020

In [42]:
kcust['month'] = pd.DatetimeIndex(kcust['last_login_date_time']).month

In [43]:
kcust

,customer_id,is_created_by_admin,access_token,user_id,creation_datetime,is_active,avg_rating,rated_task_count,vendor_id,description,...,waiting_pending_amount,cancel_pending_amount,is_kfleet_enable,month_year,year,hour,creation_month_year,Creation_hour,creation_hour,month
0,1,0,58e596949dff0326cbcc357b5d351f70,1,2019-06-14 10:26:51,1,0.0,0,1.0,NaN,...,0.0,0.0,1,2020-10,2020,9,2019-06,10,10,10
1,2,1,fc4f531a6cd205b1451b536e070978d2,1,2019-06-14 11:03:28,1,5.0,6,2.0,NaN,...,0.0,0.0,0,2020-11,2020,7,2019-06,11,11,11
2,3,1,c2df01cee9089dc1f47aac4c78f7bd2c,1,2019-06-14 11:08:05,1,5.0,2,3.0,NaN,...,0.0,0.0,0,2020-11,2020,12,2019-06,11,11,11
3,5,0,fe0dba1fcbba2b2d76fec5cddb014db0,1,2019-06-14 12:46:12,1,0.0,0,5.0,NaN,...,0.0,0.0,0,2019-06,2019,12,2019-06,12,12,6
4,6,0,d81c16547a4bdcb15483332e3c771455,1,2019-06-14 13:22:33,1,0.0,0,6.0,NaN,...,0.0,0.0,0,2020-07,2020,6,2019-06,13,13,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34809,35131,0,426fe2fb16294d4c1730cb09ecb4c66b,1,2020-11-26 10:23:31,1,0.0,0,28147.0,NaN,...,0.0,0.0,0,2020-11,2020,10,2020-11,10,10,11
34810,35132,0,41066b54fbfe9bd70e99a8f1cda633bf,1,2020-11-26 10:23:58,1,0.0,0,28148.0,NaN,...,0.0,0.0,0,2020-11,2020,10,2020-11,10,10,11
34811,35133,0,143e26d4af414d031c162e3e161922451be0c7fe22,1,2020-11-26 10:26:14,1,0.0,0,NaN,NaN,...,0.0,0.0,0,2020-11,2020,10,2020-11,10,10,11
34812,35134,0,637306c6d4944ccffd0da8ab8dd0e487,1,2020-11-26 10:26:51,1,0.0,0,28149.0,NaN,...,0.0,0.0,0,2020-11,2020,10,2020-11,10,10,11
34813,35135,0,de849857196e639ba689f3a623d72d91,1,2020-11-26 10:31:59,1,0.0,0,28150.0,NaN,...,0.0,0.0,0,2020-11,2020,10,2020-11,10,10,11

In [47]:
kcust['month_year'] = pd.to_datetime(kcust['last_login_date_time']).dt.to_period('M')

In [48]:
kcust

,customer_id,is_created_by_admin,access_token,user_id,creation_datetime,is_active,avg_rating,rated_task_count,vendor_id,description,...,monthly_amount,is_api_enabled,is_cod_customer,is_surge_enable,waiting_pending_amount,cancel_pending_amount,is_kfleet_enable,year,month,month_year
0,1,0,58e596949dff0326cbcc357b5d351f70,1,2019-06-14 10:26:51,1,0.0,0,1.0,NaN,...,0,0,0,1,0.0,0.0,1,2020,10,2020-10
1,2,1,fc4f531a6cd205b1451b536e070978d2,1,2019-06-14 11:03:28,1,5.0,6,2.0,NaN,...,0,0,0,1,0.0,0.0,0,2020,11,2020-11
2,3,1,c2df01cee9089dc1f47aac4c78f7bd2c,1,2019-06-14 11:08:05,1,5.0,2,3.0,NaN,...,0,0,0,1,0.0,0.0,0,2020,11,2020-11
3,5,0,fe0dba1fcbba2b2d76fec5cddb014db0,1,2019-06-14 12:46:12,1,0.0,0,5.0,NaN,...,0,0,0,1,0.0,0.0,0,2019,6,2019-06
4,6,0,d81c16547a4bdcb15483332e3c771455,1,2019-06-14 13:22:33,1,0.0,0,6.0,NaN,...,0,0,0,1,0.0,0.0,0,2020,7,2020-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34809,35131,0,426fe2fb16294d4c1730cb09ecb4c66b,1,2020-11-26 10:23:31,1,0.0,0,28147.0,NaN,...,0,0,0,1,0.0,0.0,0,2020,11,2020-11
34810,35132,0,41066b54fbfe9bd70e99a8f1cda633bf,1,2020-11-26 10:23:58,1,0.0,0,28148.0,NaN,...,0,0,0,1,0.0,0.0,0,2020,11,2020-11
34811,35133,0,143e26d4af414d031c162e3e161922451be0c7fe22,1,2020-11-26 10:26:14,1,0.0,0,NaN,NaN,...,0,0,0,1,0.0,0.0,0,2020,11,2020-11
34812,35134,0,637306c6d4944ccffd0da8ab8dd0e487,1,2020-11-26 10:26:51,1,0.0,0,28149.0,NaN,...,0,0,0,1,0.0,0.0,0,2020,11,2020-11
34813,35135,0,de849857196e639ba689f3a623d72d91,1,2020-11-26 10:31:59,1,0.0,0,28150.0,NaN,...,0,0,0,1,0.0,0.0,0,2020,11,2020-11

In [49]:
mount = kcust[kcust['month_year'] == 2020-10]

In [50]:
mount

Empty DataFrame
Columns: [customer_id, is_created_by_admin, access_token, user_id, creation_datetime, is_active, avg_rating, rated_task_count, vendor_id, description, password_reset_token, is_blocked, device_type, device_token, app_versioncode, app_access_token, language, last_login_date_time, vendor_api_key, fb_token, otp, is_phone_verified, credits, pending_amount, successful_task_count, referral_code, referrer_id, is_first_login, registration_status, paytm_enabled, favorite_fleets, reference_id, customer_type, corporate_id, is_master_admin, is_email_verified, default_payment_option, card_id, paga_access_token, is_paga_verified, origin_booking, default_pickup_address, default_pickup_latitude, default_pickup_longitude, is_monthly_invoice, monthly_invoice_date, monthly_amount, is_api_enabled, is_cod_customer, is_surge_enable, waiting_pending_amount, cancel_pending_amount, is_kfleet_enable, year, month, month_year]
Index: []

[0 rows x 56 columns]