In [23]:
pwd

'C:\\Users\\AkintundeAkinbayo'

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import datetime

In [5]:
kwikcust = pd.read_csv('customersmain.csv')

In [6]:
kcustie = pd.DataFrame(kwikcust)

In [7]:
kcustie

,customer_id,is_created_by_admin,access_token,user_id,creation_datetime,is_active,avg_rating,rated_task_count,vendor_id,description,...,default_pickup_longitude,is_monthly_invoice,monthly_invoice_date,monthly_amount,is_api_enabled,is_cod_customer,is_surge_enable,waiting_pending_amount,cancel_pending_amount,is_kfleet_enable
0,1,0,58e596949dff0326cbcc357b5d351f70,1,2019-06-14 10:26:51,1,0.0,0,1.0,NaN,...,76.879433,0,NaN,0,0,0,1,0.0,0.0,1
1,2,1,fc4f531a6cd205b1451b536e070978d2,1,2019-06-14 11:03:28,1,5.0,6,2.0,NaN,...,30.733315,1,2020-11-04 10:37:22,0,0,0,1,0.0,0.0,0
2,3,1,c2df01cee9089dc1f47aac4c78f7bd2c,1,2019-06-14 11:08:05,1,5.0,2,3.0,NaN,...,30.694209,1,2020-11-16 09:12:37,0,0,0,1,0.0,0.0,0
3,5,0,fe0dba1fcbba2b2d76fec5cddb014db0,1,2019-06-14 12:46:12,1,0.0,0,5.0,NaN,...,NaN,0,NaN,0,0,0,1,0.0,0.0,0
4,6,0,d81c16547a4bdcb15483332e3c771455,1,2019-06-14 13:22:33,1,0.0,0,6.0,NaN,...,76.857001,1,2020-11-16 09:12:37,0,0,0,1,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34809,35131,0,426fe2fb16294d4c1730cb09ecb4c66b,1,2020-11-26 10:23:31,1,0.0,0,28147.0,NaN,...,88.363895,0,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0
34810,35132,0,41066b54fbfe9bd70e99a8f1cda633bf,1,2020-11-26 10:23:58,1,0.0,0,28148.0,NaN,...,3.366604,0,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0
34811,35133,0,143e26d4af414d031c162e3e161922451be0c7fe22,1,2020-11-26 10:26:14,1,0.0,0,NaN,NaN,...,NaN,0,NaN,0,0,0,1,0.0,0.0,0
34812,35134,0,637306c6d4944ccffd0da8ab8dd0e487,1,2020-11-26 10:26:51,1,0.0,0,28149.0,NaN,...,3.333144,0,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0
34813,35135,0,de849857196e639ba689f3a623d72d91,1,2020-11-26 10:31:59,1,0.0,0,28150.0,NaN,...,3.556546,0,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0

In [38]:
kwikcust['month_year'] = kwikcust.to_datetime(two['last_login_date_time']).dt.to_period('M')

AttributeError: 'DataFrame' object has no attribute 'to_datetime'

In [8]:
kwikcust.columns

Index(['customer_id', 'is_created_by_admin', 'access_token', 'user_id',
       'creation_datetime', 'is_active', 'avg_rating', 'rated_task_count',
       'vendor_id', 'description', 'password_reset_token', 'is_blocked',
       'device_type', 'device_token', 'app_versioncode', 'app_access_token',
       'language', 'last_login_date_time', 'vendor_api_key', 'fb_token', 'otp',
       'is_phone_verified', 'credits', 'pending_amount',
       'successful_task_count', 'referral_code', 'referrer_id',
       'is_first_login', 'registration_status', 'paytm_enabled',
       'favorite_fleets', 'reference_id', 'customer_type', 'corporate_id',
       'is_master_admin', 'is_email_verified', 'default_payment_option',
       'card_id', 'paga_access_token', 'is_paga_verified', 'origin_booking',
       'default_pickup_address', 'default_pickup_latitude',
       'default_pickup_longitude', 'is_monthly_invoice',
       'monthly_invoice_date', 'monthly_amount', 'is_api_enabled',
       'is_cod_customer', 'is_surge_enable', 'waiting_pending_amount',
       'cancel_pending_amount', 'is_kfleet_enable'],
      dtype='object')

In [9]:
kwikcust.to_csv('kwikie.csv', index = False)

In [39]:
kcust = pd.DataFrame(kwikcust)

In [40]:
kcust["creation_datetime"] = pd.to_datetime(kcust["creation_datetime"])

In [30]:
kcust["last_login_date_time"] = pd.to_datetime(kcust["last_login_date_time"])

In [41]:
kcust['creation_month_year'] = pd.to_datetime(kcust['creation_datetime']).dt.to_period('M')

In [33]:
kcust["creation_hour"] = kcust["creation_datetime"].dt.hour

In [36]:
kcust['month_year'] = pd.to_datetime(kcust['last_login_date_time']).dt.to_period('M')

In [31]:
kcust

,customer_id,is_created_by_admin,access_token,user_id,creation_datetime,is_active,avg_rating,rated_task_count,vendor_id,description,...,is_api_enabled,is_cod_customer,is_surge_enable,waiting_pending_amount,cancel_pending_amount,is_kfleet_enable,month_year,year,hour,creation_month_year
0,1,0,58e596949dff0326cbcc357b5d351f70,1,2019-06-14 10:26:51,1,0.0,0,1.0,NaN,...,0,0,1,0.0,0.0,1,2020-10,2020,10,2019-06
1,2,1,fc4f531a6cd205b1451b536e070978d2,1,2019-06-14 11:03:28,1,5.0,6,2.0,NaN,...,0,0,1,0.0,0.0,0,2020-11,2020,11,2019-06
2,3,1,c2df01cee9089dc1f47aac4c78f7bd2c,1,2019-06-14 11:08:05,1,5.0,2,3.0,NaN,...,0,0,1,0.0,0.0,0,2020-11,2020,11,2019-06
3,5,0,fe0dba1fcbba2b2d76fec5cddb014db0,1,2019-06-14 12:46:12,1,0.0,0,5.0,NaN,...,0,0,1,0.0,0.0,0,2019-06,2019,12,2019-06
4,6,0,d81c16547a4bdcb15483332e3c771455,1,2019-06-14 13:22:33,1,0.0,0,6.0,NaN,...,0,0,1,0.0,0.0,0,2020-07,2020,13,2019-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34809,35131,0,426fe2fb16294d4c1730cb09ecb4c66b,1,2020-11-26 10:23:31,1,0.0,0,28147.0,NaN,...,0,0,1,0.0,0.0,0,2020-11,2020,10,2020-11
34810,35132,0,41066b54fbfe9bd70e99a8f1cda633bf,1,2020-11-26 10:23:58,1,0.0,0,28148.0,NaN,...,0,0,1,0.0,0.0,0,2020-11,2020,10,2020-11
34811,35133,0,143e26d4af414d031c162e3e161922451be0c7fe22,1,2020-11-26 10:26:14,1,0.0,0,NaN,NaN,...,0,0,1,0.0,0.0,0,2020-11,2020,10,2020-11
34812,35134,0,637306c6d4944ccffd0da8ab8dd0e487,1,2020-11-26 10:26:51,1,0.0,0,28149.0,NaN,...,0,0,1,0.0,0.0,0,2020-11,2020,10,2020-11
34813,35135,0,de849857196e639ba689f3a623d72d91,1,2020-11-26 10:31:59,1,0.0,0,28150.0,NaN,...,0,0,1,0.0,0.0,0,2020-11,2020,10,2020-11

In [35]:
kcust["hour"] = kcust["last_login_date_time"].dt.hour

In [37]:
kcust

,customer_id,is_created_by_admin,access_token,user_id,creation_datetime,is_active,avg_rating,rated_task_count,vendor_id,description,...,is_surge_enable,waiting_pending_amount,cancel_pending_amount,is_kfleet_enable,month_year,year,hour,creation_month_year,Creation_hour,creation_hour
0,1,0,58e596949dff0326cbcc357b5d351f70,1,2019-06-14 10:26:51,1,0.0,0,1.0,NaN,...,1,0.0,0.0,1,2020-10,2020,9,2019-06,10,10
1,2,1,fc4f531a6cd205b1451b536e070978d2,1,2019-06-14 11:03:28,1,5.0,6,2.0,NaN,...,1,0.0,0.0,0,2020-11,2020,7,2019-06,11,11
2,3,1,c2df01cee9089dc1f47aac4c78f7bd2c,1,2019-06-14 11:08:05,1,5.0,2,3.0,NaN,...,1,0.0,0.0,0,2020-11,2020,12,2019-06,11,11
3,5,0,fe0dba1fcbba2b2d76fec5cddb014db0,1,2019-06-14 12:46:12,1,0.0,0,5.0,NaN,...,1,0.0,0.0,0,2019-06,2019,12,2019-06,12,12
4,6,0,d81c16547a4bdcb15483332e3c771455,1,2019-06-14 13:22:33,1,0.0,0,6.0,NaN,...,1,0.0,0.0,0,2020-07,2020,6,2019-06,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34809,35131,0,426fe2fb16294d4c1730cb09ecb4c66b,1,2020-11-26 10:23:31,1,0.0,0,28147.0,NaN,...,1,0.0,0.0,0,2020-11,2020,10,2020-11,10,10
34810,35132,0,41066b54fbfe9bd70e99a8f1cda633bf,1,2020-11-26 10:23:58,1,0.0,0,28148.0,NaN,...,1,0.0,0.0,0,2020-11,2020,10,2020-11,10,10
34811,35133,0,143e26d4af414d031c162e3e161922451be0c7fe22,1,2020-11-26 10:26:14,1,0.0,0,NaN,NaN,...,1,0.0,0.0,0,2020-11,2020,10,2020-11,10,10
34812,35134,0,637306c6d4944ccffd0da8ab8dd0e487,1,2020-11-26 10:26:51,1,0.0,0,28149.0,NaN,...,1,0.0,0.0,0,2020-11,2020,10,2020-11,10,10
34813,35135,0,de849857196e639ba689f3a623d72d91,1,2020-11-26 10:31:59,1,0.0,0,28150.0,NaN,...,1,0.0,0.0,0,2020-11,2020,10,2020-11,10,10

In [14]:
kcust['year'] = pd.DatetimeIndex(kcust['last_login_date_time']).year

In [15]:
kcust

,customer_id,is_created_by_admin,access_token,user_id,creation_datetime,is_active,avg_rating,rated_task_count,vendor_id,description,...,monthly_invoice_date,monthly_amount,is_api_enabled,is_cod_customer,is_surge_enable,waiting_pending_amount,cancel_pending_amount,is_kfleet_enable,month_year,year
0,1,0,58e596949dff0326cbcc357b5d351f70,1,2019-06-14 10:26:51,1,0.0,0,1.0,NaN,...,NaN,0,0,0,1,0.0,0.0,1,2020-10,2020
1,2,1,fc4f531a6cd205b1451b536e070978d2,1,2019-06-14 11:03:28,1,5.0,6,2.0,NaN,...,2020-11-04 10:37:22,0,0,0,1,0.0,0.0,0,2020-11,2020
2,3,1,c2df01cee9089dc1f47aac4c78f7bd2c,1,2019-06-14 11:08:05,1,5.0,2,3.0,NaN,...,2020-11-16 09:12:37,0,0,0,1,0.0,0.0,0,2020-11,2020
3,5,0,fe0dba1fcbba2b2d76fec5cddb014db0,1,2019-06-14 12:46:12,1,0.0,0,5.0,NaN,...,NaN,0,0,0,1,0.0,0.0,0,2019-06,2019
4,6,0,d81c16547a4bdcb15483332e3c771455,1,2019-06-14 13:22:33,1,0.0,0,6.0,NaN,...,2020-11-16 09:12:37,0,0,0,1,0.0,0.0,0,2020-07,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34809,35131,0,426fe2fb16294d4c1730cb09ecb4c66b,1,2020-11-26 10:23:31,1,0.0,0,28147.0,NaN,...,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0,2020-11,2020
34810,35132,0,41066b54fbfe9bd70e99a8f1cda633bf,1,2020-11-26 10:23:58,1,0.0,0,28148.0,NaN,...,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0,2020-11,2020
34811,35133,0,143e26d4af414d031c162e3e161922451be0c7fe22,1,2020-11-26 10:26:14,1,0.0,0,NaN,NaN,...,NaN,0,0,0,1,0.0,0.0,0,2020-11,2020
34812,35134,0,637306c6d4944ccffd0da8ab8dd0e487,1,2020-11-26 10:26:51,1,0.0,0,28149.0,NaN,...,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0,2020-11,2020
34813,35135,0,de849857196e639ba689f3a623d72d91,1,2020-11-26 10:31:59,1,0.0,0,28150.0,NaN,...,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0,2020-11,2020

In [11]:
two = kcust[kcust['successful_task_count']>1]

In [12]:
two['month_year'] = pd.to_datetime(two['last_login_date_time']).dt.to_period('M')

<ipython-input-12-494f6a3fdedc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  two['month_year'] = pd.to_datetime(two['last_login_date_time']).dt.to_period('M')

In [13]:
two

,customer_id,is_created_by_admin,access_token,user_id,creation_datetime,is_active,avg_rating,rated_task_count,vendor_id,description,...,is_monthly_invoice,monthly_invoice_date,monthly_amount,is_api_enabled,is_cod_customer,is_surge_enable,waiting_pending_amount,cancel_pending_amount,is_kfleet_enable,month_year
0,1,0,58e596949dff0326cbcc357b5d351f70,1,2019-06-14 10:26:51,1,0.0,0,1.0,NaN,...,0,NaN,0,0,0,1,0.0,0.0,1,2020-10
1,2,1,fc4f531a6cd205b1451b536e070978d2,1,2019-06-14 11:03:28,1,5.0,6,2.0,NaN,...,1,2020-11-04 10:37:22,0,0,0,1,0.0,0.0,0,2020-11
4,6,0,d81c16547a4bdcb15483332e3c771455,1,2019-06-14 13:22:33,1,0.0,0,6.0,NaN,...,1,2020-11-16 09:12:37,0,0,0,1,0.0,0.0,0,2020-07
5,7,0,a7ee7c7f1794be96851ac5b1f3e0909d,1,2019-06-17 06:56:18,1,0.0,0,7.0,NaN,...,0,NaN,0,0,0,1,0.0,0.0,0,2019-11
6,8,0,0e26c1a69cd05875fec7fc5eef45b895,1,2019-06-17 06:57:52,1,0.0,0,8.0,NaN,...,1,2020-11-16 09:12:37,0,0,0,1,0.0,0.0,0,2020-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34253,34575,0,184c89fdf979b60de048524e18b33bc3,1,2020-11-23 13:00:10,1,0.0,0,27789.0,NaN,...,0,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0,2020-11
34318,34640,0,e5f0685ed8e424fb8d0d3f511ea58e5d,1,2020-11-23 20:38:41,1,0.0,0,27832.0,NaN,...,0,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0,2020-11
34430,34752,0,4cd09e4af52f6685eb38975ff5963cb1,1,2020-11-24 11:53:49,1,5.0,2,27916.0,NaN,...,0,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0,2020-11
34516,34838,0,adb01bb8b77c2e8bcb1aea63e01745d4,1,2020-11-24 21:21:38,1,1.5,2,27964.0,NaN,...,0,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0,2020-11
34562,34884,0,c5b17cefc98654d8ee6d865e5520ba30,1,2020-11-25 09:24:22,1,4.4,8,27995.0,NaN,...,0,0000-00-00 00:00:00,0,0,0,1,0.0,0.0,0,2020-11

In [14]:
two.to_csv('kwik', index = False)

In [15]:
two.to_csv('kwiky.csv', index = False)

In [55]:
two[two['month_year'] == 2020-10]

Empty DataFrame
Columns: [customer_id, is_created_by_admin, access_token, user_id, creation_datetime, is_active, avg_rating, rated_task_count, vendor_id, description, password_reset_token, is_blocked, device_type, device_token, app_versioncode, app_access_token, language, last_login_date_time, vendor_api_key, fb_token, otp, is_phone_verified, credits, pending_amount, successful_task_count, referral_code, referrer_id, is_first_login, registration_status, paytm_enabled, favorite_fleets, reference_id, customer_type, corporate_id, is_master_admin, is_email_verified, default_payment_option, card_id, paga_access_token, is_paga_verified, origin_booking, default_pickup_address, default_pickup_latitude, default_pickup_longitude, is_monthly_invoice, monthly_invoice_date, monthly_amount, is_api_enabled, is_cod_customer, is_surge_enable, waiting_pending_amount, cancel_pending_amount, is_kfleet_enable, month_year]
Index: []

[0 rows x 54 columns]

In [33]:
two['last_login_date_time']

0        2020-10-11 09:23:57
1        2020-11-23 07:21:53
4        2020-07-28 06:50:35
5        2019-11-19 12:03:40
6        2020-08-06 04:26:31
                ...
34253    2020-11-23 13:00:11
34318    2020-11-23 20:38:42
34430    2020-11-24 11:53:50
34516    2020-11-25 08:29:07
34562    2020-11-25 09:24:23
Name: last_login_date_time, Length: 3053, dtype: object

In [41]:
kcust['year'] = pd.DatetimeIndex(kcust['last_login_date_time']).year

In [42]:
kcust.head(5)

,customer_id,is_created_by_admin,access_token,user_id,creation_datetime,is_active,avg_rating,rated_task_count,vendor_id,description,...,is_monthly_invoice,monthly_invoice_date,monthly_amount,is_api_enabled,is_cod_customer,is_surge_enable,waiting_pending_amount,cancel_pending_amount,is_kfleet_enable,year
0,1,0,58e596949dff0326cbcc357b5d351f70,1,2019-06-14 10:26:51,1,0.0,0,1.0,NaN,...,0,NaN,0,0,0,1,0.0,0.0,1,2020
1,2,1,fc4f531a6cd205b1451b536e070978d2,1,2019-06-14 11:03:28,1,5.0,6,2.0,NaN,...,1,2020-11-04 10:37:22,0,0,0,1,0.0,0.0,0,2020
2,3,1,c2df01cee9089dc1f47aac4c78f7bd2c,1,2019-06-14 11:08:05,1,5.0,2,3.0,NaN,...,1,2020-11-16 09:12:37,0,0,0,1,0.0,0.0,0,2020
3,5,0,fe0dba1fcbba2b2d76fec5cddb014db0,1,2019-06-14 12:46:12,1,0.0,0,5.0,NaN,...,0,NaN,0,0,0,1,0.0,0.0,0,2019
4,6,0,d81c16547a4bdcb15483332e3c771455,1,2019-06-14 13:22:33,1,0.0,0,6.0,NaN,...,1,2020-11-16 09:12:37,0,0,0,1,0.0,0.0,0,2020

In [42]:
kcust['month'] = pd.DatetimeIndex(kcust['last_login_date_time']).month

In [43]:
kcust

,customer_id,is_created_by_admin,access_token,user_id,creation_datetime,is_active,avg_rating,rated_task_count,vendor_id,description,...,waiting_pending_amount,cancel_pending_amount,is_kfleet_enable,month_year,year,hour,creation_month_year,Creation_hour,creation_hour,month
0,1,0,58e596949dff0326cbcc357b5d351f70,1,2019-06-14 10:26:51,1,0.0,0,1.0,NaN,...,0.0,0.0,1,2020-10,2020,9,2019-06,10,10,10
1,2,1,fc4f531a6cd205b1451b536e070978d2,1,2019-06-14 11:03:28,1,5.0,6,2.0,NaN,...,0.0,0.0,0,2020-11,2020,7,2019-06,11,11,11
2,3,1,c2df01cee9089dc1f47aac4c78f7bd2c,1,2019-06-14 11:08:05,1,5.0,2,3.0,NaN,...,0.0,0.0,0,2020-11,2020,12,2019-06,11,11,11
3,5,0,fe0dba1fcbba2b2d76fec5cddb014db0,1,2019-06-14 12:46:12,1,0.0,0,5.0,NaN,...,0.0,0.0,0,2019-06,2019,12,2019-06,12,12,6
4,6,0,d81c16547a4bdcb15483332e3c771455,1,2019-06-14 13:22:33,1,0.0,0,6.0,NaN,...,0.0,0.0,0,2020-07,2020,6,2019-06,13,13,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34809,35131,0,426fe2fb16294d4c1730cb09ecb4c66b,1,2020-11-26 10:23:31,1,0.0,0,28147.0,NaN,...,0.0,0.0,0,2020-11,2020,10,2020-11,10,10,11
34810,35132,0,41066b54fbfe9bd70e99a8f1cda633bf,1,2020-11-26 10:23:58,1,0.0,0,28148.0,NaN,...,0.0,0.0,0,2020-11,2020,10,2020-11,10,10,11
34811,35133,0,143e26d4af414d031c162e3e161922451be0c7fe22,1,2020-11-26 10:26:14,1,0.0,0,NaN,NaN,...,0.0,0.0,0,2020-11,2020,10,2020-11,10,10,11
34812,35134,0,637306c6d4944ccffd0da8ab8dd0e487,1,2020-11-26 10:26:51,1,0.0,0,28149.0,NaN,...,0.0,0.0,0,2020-11,2020,10,2020-11,10,10,11
34813,35135,0,de849857196e639ba689f3a623d72d91,1,2020-11-26 10:31:59,1,0.0,0,28150.0,NaN,...,0.0,0.0,0,2020-11,2020,10,2020-11,10,10,11

In [47]:
kcust['month_year'] = pd.to_datetime(kcust['last_login_date_time']).dt.to_period('M')

In [48]:
kcust

,customer_id,is_created_by_admin,access_token,user_id,creation_datetime,is_active,avg_rating,rated_task_count,vendor_id,description,...,monthly_amount,is_api_enabled,is_cod_customer,is_surge_enable,waiting_pending_amount,cancel_pending_amount,is_kfleet_enable,year,month,month_year
0,1,0,58e596949dff0326cbcc357b5d351f70,1,2019-06-14 10:26:51,1,0.0,0,1.0,NaN,...,0,0,0,1,0.0,0.0,1,2020,10,2020-10
1,2,1,fc4f531a6cd205b1451b536e070978d2,1,2019-06-14 11:03:28,1,5.0,6,2.0,NaN,...,0,0,0,1,0.0,0.0,0,2020,11,2020-11
2,3,1,c2df01cee9089dc1f47aac4c78f7bd2c,1,2019-06-14 11:08:05,1,5.0,2,3.0,NaN,...,0,0,0,1,0.0,0.0,0,2020,11,2020-11
3,5,0,fe0dba1fcbba2b2d76fec5cddb014db0,1,2019-06-14 12:46:12,1,0.0,0,5.0,NaN,...,0,0,0,1,0.0,0.0,0,2019,6,2019-06
4,6,0,d81c16547a4bdcb15483332e3c771455,1,2019-06-14 13:22:33,1,0.0,0,6.0,NaN,...,0,0,0,1,0.0,0.0,0,2020,7,2020-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34809,35131,0,426fe2fb16294d4c1730cb09ecb4c66b,1,2020-11-26 10:23:31,1,0.0,0,28147.0,NaN,...,0,0,0,1,0.0,0.0,0,2020,11,2020-11
34810,35132,0,41066b54fbfe9bd70e99a8f1cda633bf,1,2020-11-26 10:23:58,1,0.0,0,28148.0,NaN,...,0,0,0,1,0.0,0.0,0,2020,11,2020-11
34811,35133,0,143e26d4af414d031c162e3e161922451be0c7fe22,1,2020-11-26 10:26:14,1,0.0,0,NaN,NaN,...,0,0,0,1,0.0,0.0,0,2020,11,2020-11
34812,35134,0,637306c6d4944ccffd0da8ab8dd0e487,1,2020-11-26 10:26:51,1,0.0,0,28149.0,NaN,...,0,0,0,1,0.0,0.0,0,2020,11,2020-11
34813,35135,0,de849857196e639ba689f3a623d72d91,1,2020-11-26 10:31:59,1,0.0,0,28150.0,NaN,...,0,0,0,1,0.0,0.0,0,2020,11,2020-11

In [49]:
mount = kcust[kcust['month_year'] == 2020-10]

In [50]:
mount

Empty DataFrame
Columns: [customer_id, is_created_by_admin, access_token, user_id, creation_datetime, is_active, avg_rating, rated_task_count, vendor_id, description, password_reset_token, is_blocked, device_type, device_token, app_versioncode, app_access_token, language, last_login_date_time, vendor_api_key, fb_token, otp, is_phone_verified, credits, pending_amount, successful_task_count, referral_code, referrer_id, is_first_login, registration_status, paytm_enabled, favorite_fleets, reference_id, customer_type, corporate_id, is_master_admin, is_email_verified, default_payment_option, card_id, paga_access_token, is_paga_verified, origin_booking, default_pickup_address, default_pickup_latitude, default_pickup_longitude, is_monthly_invoice, monthly_invoice_date, monthly_amount, is_api_enabled, is_cod_customer, is_surge_enable, waiting_pending_amount, cancel_pending_amount, is_kfleet_enable, year, month, month_year]
Index: []

[0 rows x 56 columns]