In [1]:
pwd

'C:\\Users\\bayo'

In [41]:
import numpy as np

In [42]:
import pandas as pd

In [33]:
league =50
gen ='Male'

In [36]:
print('my gender is: {two},my number is: {one}'.format(one=league,two=gen))

my gender is: Male,my number is: 50

In [38]:
list = ['a,b,c,d,e']

In [40]:
list.append('f')

In [41]:
list

['a,b,c,d,e', 'f', 'f']

In [42]:
list[0] = 'few'

In [43]:
list

['few', 'f', 'f']

In [46]:
d = {'key1':'push','key2':'pull'}

In [47]:
d['key1']

'push'

In [48]:
d

{'key1': 'push', 'key2': 'pull'}

In [49]:
if 15>10:
    print('pass')
else:
    print('fail')

pass

In [52]:
seq = [1,2,3,4,5,6]

In [58]:
for item in seq:
    print('fall')

fall
fall
fall
fall
fall
fall

In [59]:
i = 5

while i < 10:
    print('i is:{}'.format(i))
    i = i+2

i is:5
i is:7
i is:9

In [67]:
list = [5,10,15,20]

In [63]:
out = []
for item in list:
    out.append(item**5)
    print(out)

[3125]
[3125, 100000]
[3125, 100000, 759375]
[3125, 100000, 759375, 3200000]

In [65]:
def square(item):
    print(item**2)

In [66]:
square(2)

4

In [68]:
a = [item**2 for item in list]

In [69]:
a

[25, 100, 225, 400]

In [73]:
def faculty(school = 'institution'):
    print('This is your ' + school)

In [74]:
faculty('Management')

This is your Management

In [93]:
sequel = [1,2,3,4,5]

In [75]:
def root(product):
    return product**2

In [94]:
map(root,sequel)

In [81]:
root(5)

25

In [96]:
lambda product: product**2

In [99]:
a = map(lambda product: product**2,sequel)

In [100]:
b = [item for item in a]

In [101]:
b

[1, 4, 9, 16, 25]

In [108]:
z =filter(lambda item:item>10,b)

In [109]:
y = [item for item in z]

In [110]:
y

[16, 25]

In [111]:
p = 'Hello I am so so happy'

In [112]:
p.split()

['Hello', 'I', 'am', 'so', 'so', 'happy']

In [113]:
p.upper()

'HELLO I AM SO SO HAPPY'

In [115]:
w ='user@domain.com'

In [117]:
w.split('@')[1]

'domain.com'

In [122]:
def specie(ani):
    num = 0
    for word in ani.lower().split():
        if word == 'lion':
            num +1
        return num

In [123]:
specie('The lion is a wild animal')

0

In [144]:
def specie(ani):
    if item in ani.lower().split() == 'dog':
        print('cool')

In [145]:
specie('THE DOG HAS BEEN KNOWN TO KILL LIONS')

In [154]:
def specie(ani):
    return ani.lower().split()

In [159]:
g= specie('THE DOG HAS BEEN KNOWN TO KILL LIONS')

In [160]:
g

['the', 'dog', 'has', 'been', 'known', 'to', 'kill', 'lions']

In [173]:
if 'dog' in g:
    print(1)

1

In [189]:
def specie(ani):
    count = 0
    return ani.lower().split()
g= specie('THE DOG HAS BEEN KNOWN TO KILL the other dog')
if 'dog' in g:
    print(1)

1

In [195]:
def road(speedo,birthday,public_hols):
    if public_hols:
        speed = speedo + 10
    elif birthday:
        speed = speed - 5
    else: speed = speed
        
    
        
    if speed > 100:
        return 'big ticket'
    elif speed > 80:
        return 'small ticket'
    elif speed > 60:
        return 'first offender'
    else:
        return 'no ticket'

In [214]:
road(90, False, True)

'small ticket'

In [215]:
np.arange(1,10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [216]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [217]:
np.ones(4)

array([1., 1., 1., 1.])

In [219]:
wipe = pd.Series([1,2,3,4,5],index = ['Ogun','Oyo','Eko','Eke','Edo'])

In [220]:
wipe

Ogun    1
Oyo     2
Eko     3
Eke     4
Edo     5
dtype: int64

In [221]:
pwd

'C:\\Users\\bayo'

In [32]:
uk = pd.read_csv('ukTrafficAADF.csv')

In [33]:
uk = pd.DataFrame(uk)

In [229]:
uk.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
AADFYear,275385.0,2007.967907,4.862875,2000.000000,2004.000000,2008.000000,2012.000000,2.016000e+03
CP,275385.0,47277.490437,27004.889605,60.000000,26218.000000,47252.000000,74392.000000,9.996700e+04
Easting,275385.0,425675.250780,98687.570954,69987.000000,352970.000000,430000.000000,510600.000000,6.550400e+05
Northing,275385.0,356182.606464,186992.299458,76250.000000,192120.000000,324000.000000,429600.000000,1.205400e+06
LinkLength_km,275385.0,2.757116,3.815569,0.070000,0.600000,1.400000,3.200000,5.550000e+01
LinkLength_miles,275385.0,1.712899,2.371086,0.040000,0.370000,0.870000,1.990000,3.449000e+01
PedalCycles,275385.0,123.314654,421.440798,0.000000,5.000000,26.000000,83.000000,1.862900e+04
Motorcycles,275385.0,222.099297,420.874069,0.000000,58.000000,113.000000,214.000000,9.815000e+03
CarsTaxis,275385.0,16813.332923,16618.266842,0.000000,7125.000000,12255.000000,19951.000000,2.071330e+05
BusesCoaches,275385.0,248.662175,374.650774,0.000000,60.000000,127.000000,280.000000,1.135900e+04
LightGoodsVehicles,275385.0,2612.836197,2807.509355,0.000000,1070.000000,1792.000000,2978.000000,3.844900e+04
V2AxleRigidHGV,275385.0,489.379193,683.713666,0.000000,148.000000,273.000000,517.000000,1.094200e+04
V3AxleRigidHGV,275385.0,83.551450,121.773472,0.000000,24.000000,46.000000,91.000000,5.968000e+03
V4or5AxleRigidHGV,275385.0,88.924513,142.005359,0.000000,15.000000,41.000000,100.000000,3.684000e+03
V3or4AxleArticHGV,275385.0,74.249433,183.767833,0.000000,7.000000,20.000000,56.000000,3.949000e+03
V5AxleArticHGV,275385.0,247.927389,752.311296,0.000000,9.000000,34.000000,125.000000,1.103400e+04
V6orMoreAxleArticHGV,275385.0,271.747354,835.966781,0.000000,10.000000,37.000000,137.000000,1.375800e+04
AllHGVs,275385.0,1255.774163,2446.175298,0.000000,252.000000,489.000000,1041.000000,2.709500e+04
AllMotorVehicles,275385.0,21152.693542,21536.689989,0.000000,8941.000000,15143.000000,24660.000000,2.628420e+05
Lat,275385.0,53.092936,1.681459,50.583853,51.614977,52.807705,53.760638,6.072723e+01
Lon,275385.0,-1.654634,1.478250,-7.442680,-2.711540,-1.549475,-0.389834,1.754553e+00

In [6]:
us = pd.read_csv('accidents1.csv')

C:\Users\bayo\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
us

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location,Year
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,...,Zebra crossing,Daylight: Street light present,Raining without high winds,Wet/Damp,None,None,1,Yes,E01002849,2005
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,...,Pedestrian phase at traffic signal junction,Darkness: Street lights present and lit,Fine without high winds,Dry,None,None,1,Yes,E01002909,2005
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,...,No physical crossing within 50 meters,Darkness: Street lights present and lit,Fine without high winds,Dry,None,None,1,Yes,E01002857,2005
3,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,...,No physical crossing within 50 meters,Daylight: Street light present,Fine without high winds,Dry,None,None,1,Yes,E01002840,2005
4,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,...,No physical crossing within 50 meters,Darkness: Street lighting unknown,Fine without high winds,Wet/Damp,None,None,1,Yes,E01002863,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570006,2.01E+12,322650.0,566300.0,-3.210294,54.985289,98,3,1,1,20/12/2007,...,No physical crossing within 50 meters,Darkeness: No street lighting,Other,Frost/Ice,None,None,2,Yes,NaN,2007
570007,2.01E+12,323710.0,566150.0,-3.193693,54.984105,98,2,1,2,21/12/2007,...,No physical crossing within 50 meters,Daylight: Street light present,Other,Frost/Ice,None,None,2,Yes,NaN,2007
570008,2.01E+12,336900.0,586230.0,-2.992068,55.166369,98,3,1,1,23/12/2007,...,No physical crossing within 50 meters,Darkeness: No street lighting,Fog or mist,Frost/Ice,None,None,2,Yes,NaN,2007
570009,2.01E+12,332390.0,567240.0,-3.058338,54.995154,98,3,1,1,23/12/2007,...,No physical crossing within 50 meters,Darkness: Street lights present and lit,Fine without high winds,Wet/Damp,None,None,2,No,NaN,2007
570010,2.01E+12,314040.0,579740.0,-3.348857,55.104618,98,2,2,2,22/12/2007,...,No physical crossing within 50 meters,Daylight: Street light present,Raining without high winds,Frost/Ice,None,None,2,Yes,NaN,2007

In [ ]:
us['LSOA_of_Accident_Location'].fillna(value =us['LSOA_of_Accident_Location'].mean())

In [37]:
us

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location,Year,multiplier
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,...,Daylight: Street light present,Raining without high winds,Wet/Damp,None,None,1,Yes,E01002849,2005,1
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,...,Darkness: Street lights present and lit,Fine without high winds,Dry,None,None,1,Yes,E01002909,2005,1
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,...,Darkness: Street lights present and lit,Fine without high winds,Dry,None,None,1,Yes,E01002857,2005,2
3,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,...,Daylight: Street light present,Fine without high winds,Dry,None,None,1,Yes,E01002840,2005,1
4,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,...,Darkness: Street lighting unknown,Fine without high winds,Wet/Damp,None,None,1,Yes,E01002863,2005,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570006,2.01E+12,322650.0,566300.0,-3.210294,54.985289,98,3,1,1,20/12/2007,...,Darkeness: No street lighting,Other,Frost/Ice,None,None,2,Yes,NaN,2007,1
570007,2.01E+12,323710.0,566150.0,-3.193693,54.984105,98,2,1,2,21/12/2007,...,Daylight: Street light present,Other,Frost/Ice,None,None,2,Yes,NaN,2007,2
570008,2.01E+12,336900.0,586230.0,-2.992068,55.166369,98,3,1,1,23/12/2007,...,Darkeness: No street lighting,Fog or mist,Frost/Ice,None,None,2,Yes,NaN,2007,1
570009,2.01E+12,332390.0,567240.0,-3.058338,54.995154,98,3,1,1,23/12/2007,...,Darkness: Street lights present and lit,Fine without high winds,Wet/Damp,None,None,2,No,NaN,2007,1
570010,2.01E+12,314040.0,579740.0,-3.348857,55.104618,98,2,2,2,22/12/2007,...,Daylight: Street light present,Raining without high winds,Frost/Ice,None,None,2,Yes,NaN,2007,4

In [233]:
us.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Location_Easting_OSGR,569910.0,435609.680423,95639.717128,64980.000000,371020.000000,435490.000000,519230.000000,6.552900e+05
Location_Northing_OSGR,569910.0,301725.190258,161347.016567,10520.000000,178740.000000,277385.000000,398280.000000,1.208800e+06
Longitude,569910.0,-1.494988,1.406187,-7.515933,-2.434639,-1.470388,-0.267764,1.758337e+00
Latitude,569910.0,52.603655,1.452752,49.914513,51.494892,52.388312,53.480015,6.075754e+01
Police_Force,570011.0,31.205219,25.516761,1.000000,7.000000,31.000000,46.000000,9.800000e+01
Accident_Severity,570011.0,2.839647,0.405771,1.000000,3.000000,3.000000,3.000000,3.000000e+00
Number_of_Vehicles,570011.0,1.840773,0.722930,1.000000,1.000000,2.000000,2.000000,2.800000e+01
Number_of_Casualties,570011.0,1.363484,0.823950,1.000000,1.000000,1.000000,1.000000,6.800000e+01
Day_of_Week,570011.0,4.124371,1.932537,1.000000,2.000000,4.000000,6.000000,7.000000e+00
Local_Authority_(District),570011.0,358.870490,258.233842,1.000000,126.000000,340.000000,536.000000,9.410000e+02
1st_Road_Class,570011.0,4.107094,1.446774,1.000000,3.000000,4.000000,6.000000,6.000000e+00
1st_Road_Number,570011.0,1001.977992,1832.143128,-1.000000,0.000000,112.000000,694.000000,9.999000e+03
Speed_limit,570011.0,39.788329,14.474087,10.000000,30.000000,30.000000,60.000000,7.000000e+01
Junction_Detail,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd_Road_Class,570011.0,2.588634,3.221140,-1.000000,-1.000000,3.000000,6.000000,6.000000e+00
2nd_Road_Number,570011.0,379.357298,1306.844752,-1.000000,0.000000,0.000000,0.000000,9.999000e+03
Urban_or_Rural_Area,570011.0,1.367330,0.482558,1.000000,1.000000,1.000000,2.000000,3.000000e+00
Year,570011.0,2005.970843,0.816882,2005.000000,2005.000000,2006.000000,2007.000000,2.007000e+03

In [5]:
us.head(5)

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location,Year
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,...,Zebra crossing,Daylight: Street light present,Raining without high winds,Wet/Damp,None,None,1,Yes,E01002849,2005
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,...,Pedestrian phase at traffic signal junction,Darkness: Street lights present and lit,Fine without high winds,Dry,None,None,1,Yes,E01002909,2005
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,...,No physical crossing within 50 meters,Darkness: Street lights present and lit,Fine without high winds,Dry,None,None,1,Yes,E01002857,2005
3,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,...,No physical crossing within 50 meters,Daylight: Street light present,Fine without high winds,Dry,None,None,1,Yes,E01002840,2005
4,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,...,No physical crossing within 50 meters,Darkness: Street lighting unknown,Fine without high winds,Wet/Damp,None,None,1,Yes,E01002863,2005

In [13]:
us['multiplier'] = us['Number_of_Vehicles'] * us['Number_of_Casualties']

In [15]:
us.groupby('Light_Conditions').max()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,Junction_Detail,2nd_Road_Class,2nd_Road_Number,Urban_or_Rural_Area,Year
Light_Conditions,,,,,,,,,,,,,,,,,,,,,
Darkeness: No street lighting,200797UD71008,653640.0,1208800.0,1.739370,60.757544,98,3,18,14,31/12/2007,...,W06000024,6,9999,Unknown,70,NaN,6,9999,3,2007
Darkness: Street lighting unknown,200797UA08610,654280.0,1113600.0,1.746588,59.905746,98,3,10,10,31/12/2007,...,W06000024,6,9999,Unknown,70,NaN,6,9999,3,2007
Darkness: Street lights present and lit,200797UD70801,655280.0,1141700.0,1.758106,60.157179,98,3,15,68,31/12/2007,...,W06000024,6,9999,Unknown,70,NaN,6,9999,3,2007
Darkness: Street lights present but unlit,200797UD71105,653430.0,1010500.0,1.729465,58.978203,98,3,16,9,31/12/2007,...,W06000024,6,9999,Unknown,70,NaN,6,9999,3,2007
Daylight: Street light present,200797UD71405,655290.0,1203900.0,1.758337,60.714774,98,3,28,45,31/12/2007,...,W06000024,6,9999,Unknown,70,NaN,6,9999,3,2007

In [11]:
us.dropna(axis = 1)

,Accident_Index,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,2nd_Road_Class,2nd_Road_Number,Light_Conditions,Urban_or_Rural_Area,Year
0,200501BS00001,1,2,1,1,04/01/2005,3,12,E09000020,3,3218,Single carriageway,30,-1,0,Daylight: Street light present,1,2005
1,200501BS00002,1,3,1,1,05/01/2005,4,12,E09000020,4,450,Dual carriageway,30,5,0,Darkness: Street lights present and lit,1,2005
2,200501BS00003,1,3,2,1,06/01/2005,5,12,E09000020,5,0,Single carriageway,30,-1,0,Darkness: Street lights present and lit,1,2005
3,200501BS00004,1,3,1,1,07/01/2005,6,12,E09000020,3,3220,Single carriageway,30,-1,0,Daylight: Street light present,1,2005
4,200501BS00005,1,3,1,1,10/01/2005,2,12,E09000020,6,0,Single carriageway,30,-1,0,Darkness: Street lighting unknown,1,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570006,2.01E+12,98,3,1,1,20/12/2007,5,917,S12000006,4,721,Single carriageway,60,-1,0,Darkeness: No street lighting,2,2007
570007,2.01E+12,98,2,1,2,21/12/2007,6,917,S12000006,4,721,Single carriageway,40,-1,0,Daylight: Street light present,2,2007
570008,2.01E+12,98,3,1,1,23/12/2007,1,917,S12000006,3,7,Single carriageway,60,-1,0,Darkeness: No street lighting,2,2007
570009,2.01E+12,98,3,1,1,23/12/2007,1,917,S12000006,6,0,Single carriageway,30,4,7076,Darkness: Street lights present and lit,2,2007
570010,2.01E+12,98,2,2,2,22/12/2007,7,917,S12000006,4,723,Single carriageway,60,2,74,Daylight: Street light present,2,2007

In [10]:
us.iloc[150]

Accident_Index                                                    200501BS70140
Location_Easting_OSGR                                                    524370
Location_Northing_OSGR                                                   181190
Longitude                                                             -0.208989
Latitude                                                                51.5159
Police_Force                                                                  1
Accident_Severity                                                             3
Number_of_Vehicles                                                            2
Number_of_Casualties                                                          1
Date                                                                 08/04/2005
Day_of_Week                                                                   6
Time                                                                      08:28
Local_Authority_(District)                                                   12
Local_Authority_(Highway)                                             E09000020
1st_Road_Class                                                                4
1st_Road_Number                                                             450
Road_Type                                                    Single carriageway
Speed_limit                                                                  30
Junction_Detail                                                             NaN
Junction_Control                                        Giveway or uncontrolled
2nd_Road_Class                                                                4
2nd_Road_Number                                                             412
Pedestrian_Crossing-Human_Control                         None within 50 metres
Pedestrian_Crossing-Physical_Facilities        non-junction pedestrian crossing
Light_Conditions                                 Daylight: Street light present
Weather_Conditions                                   Raining without high winds
Road_Surface_Conditions                                                Wet/Damp
Special_Conditions_at_Site                                                 None
Carriageway_Hazards                                                        None
Urban_or_Rural_Area                                                           1
Did_Police_Officer_Attend_Scene_of_Accident                                 Yes
LSOA_of_Accident_Location                                             E01002874
Year                                                                       2005
Name: 150, dtype: object

In [19]:
us[us['Number_of_Casualties']>4][['Light_Conditions','Road_Surface_Conditions']]

                               Light_Conditions Road_Surface_Conditions
9                Daylight: Street light present                     Dry
427              Daylight: Street light present                     Dry
3883             Daylight: Street light present                     Dry
5574    Darkness: Street lights present and lit                     Dry
6382    Darkness: Street lights present and lit                Wet/Damp
...                                         ...                     ...
569483            Darkeness: No street lighting                Wet/Damp
569512  Darkness: Street lights present and lit                     Dry
569622           Daylight: Street light present                Wet/Damp
569718            Darkeness: No street lighting                Wet/Damp
569944           Daylight: Street light present                     Dry

[6002 rows x 2 columns]

In [49]:
uss.to_csv('lastchancey.csv', index= False)

In [46]:
df =uk[(uk['AADFYear']== 2000) & (uk['LocalAuthority']== 'Leeds')]

In [47]:
df.to_csv('firstchance', index = False)

In [45]:
uk[(uk['AADFYear']== 2000) & (uk['LocalAuthority']== 'Leeds')]

,AADFYear,CP,Estimation_method,Estimation_method_detailed,Region,LocalAuthority,Road,RoadCategory,Easting,Northing,...,V2AxleRigidHGV,V3AxleRigidHGV,V4or5AxleRigidHGV,V3or4AxleArticHGV,V5AxleArticHGV,V6orMoreAxleArticHGV,AllHGVs,AllMotorVehicles,Lat,Lon
1,2000,6009,Counted,Manual count,Yorkshire and the Humber,Leeds,M621,TM,432150,429500,...,1293,272,287,628,1494,921,4895,65939,53.760869,-1.513814
4,2000,6055,Counted,Manual count,Yorkshire and the Humber,Leeds,M62,TM,426000,426200,...,4030,624,423,1947,6669,3743,17436,98487,53.731551,-1.607374
7,2000,6063,Counted,Manual count,Yorkshire and the Humber,Leeds,M621,TM,426500,429600,...,1037,183,99,314,854,408,2895,51109,53.762085,-1.599505
18,2000,6578,Counted,Manual count,Yorkshire and the Humber,Leeds,A58,PU,423500,430000,...,142,19,27,21,22,11,242,8614,53.765823,-1.644980
22,2000,6595,Estimated,Estimated using previous year's AADF on this link,Yorkshire and the Humber,Leeds,A61,PU,432560,428000,...,310,93,98,25,29,63,618,11867,53.747362,-1.507753
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1317,2000,99547,Counted,Manual count,Yorkshire and the Humber,Leeds,M1,TM,434500,430720,...,1856,324,320,1085,2883,1350,7818,67876,53.771684,-1.478034
1318,2000,99548,Counted,Manual count,Yorkshire and the Humber,Leeds,M1,TM,437000,431030,...,1705,317,378,958,2503,1571,7432,67365,53.774299,-1.440068
1319,2000,99549,Counted,Manual count,Yorkshire and the Humber,Leeds,M1,TM,439900,434200,...,1544,276,328,885,2515,1207,6755,55068,53.802576,-1.395659
1320,2000,99550,Counted,Manual count,Yorkshire and the Humber,Leeds,A1,TM,445000,431950,...,1173,201,195,956,3304,2279,8108,35587,53.781940,-1.318556
1331,2000,99705,Estimated,Estimated using previous year's AADF on this link,Yorkshire and the Humber,Leeds,A1,TR,440800,447700,...,1778,326,286,1395,4237,2969,10991,64384,53.923836,-1.380205

In [36]:
uss.to_csv('extract', index = False)

In [28]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']},
                     index = ['K0', 'K0', 'K1', 'K2'])
    
right = pd.DataFrame({'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']},
                               index = ['K0', 'K1', 'K2', 'K3'])

In [19]:
pd.merge(left,right,how ='inner', on ='key1')

  key1 key2_x   A   B key2_y   C   D
0   K0     K0  A0  B0     K0  C0  D0
1   K0     K1  A1  B1     K0  C0  D0
2   K1     K0  A2  B2     K0  C1  D1
3   K1     K0  A2  B2     K0  C2  D2
4   K2     K1  A3  B3     K0  C3  D3

In [30]:
left.join(right, how = 'outer')

      A    B   C   D
K0   A0   B0  C0  D0
K0   A1   B1  C0  D0
K1   A2   B2  C1  D1
K2   A3   B3  C2  D2
K3  NaN  NaN  C3  D3

In [11]:
pd.concat([left,right], axis = 1)

  key1 key2   A   B key1 key2   C   D
0   K0   K0  A0  B0   K0   K0  C0  D0
1   K0   K1  A1  B1   K1   K0  C1  D1
2   K1   K0  A2  B2   K1   K0  C2  D2
3   K2   K1  A3  B3   K2   K0  C3  D3